---
layout: default
---

{% include tag.html %}

<div class="section">
  <div class="content">
    <div class="row">
      <div class="large-12 column">				
						<div style="margin-bottom:1.5em;"><h5>email templates: <span style="font-size:.90em;">{{ site.posts | size }}</span> </h5>
        <p style="margin-bottom:0;"><span style="font-size:.85em !important;color:#bbb;">environment: <i>{{site.envi}}</i></span></p>
        <p style="margin-bottom:0;"><span style="font-size:.85em !important;color:#bbb;">brand: <i>{{site.flexi-brand}}</i></span></p>
        </div>
				
				<div style="margin-bottom:3em;">
						<h5>Tag</h5>
						<p style="font-size:.85em !important;color:#bbb;">
							<span>{% for tag in tags %}
	<a href="#{{ tag | slugify }}" class="post-tag"> {{ tag }} </a>
{% endfor %}</span>
						</p>
					</div>
					
				
        
        <div class="email-list">
          {% for tag in tags %}
          <h6 id="{{ tag | slugify }}">{{ tag }}</h6>
          <ul>         
             {% assign sorted_posts = (site.posts | sort: "n" | reverse ) %}
             {% for post in sorted_posts %}
                {% if post.tags contains tag %}                    
          <li>             
              <div class="email-link row">
                <div class="large-10 column">
                  <span><a target="_blank" href="{{ post.url | prepend: site.baseurl }}" class="link">{{ post.title }}</a></span>
                </div>
                <div class="large-2 column">
                  <span class="edit float-right"><a class="edit" href="webrun:C:\Windows\notepad.exe">edit</a></span>
                </div>
              </div>
            </li>
                {% endif %}
             {% endfor %}            
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


