/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                       CUSTOM LAYOUT FOR FLEXIGROUP  */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*RULES to be in EMBED*/  

/*+++++++++++++++++++++++++++++++ Layout - desktop screen ++++++++++++++++++++++ */
@media screen and (min-width: 401px ) and (max-width: $on-desktop) {
  
  @if $flexi-brand == "Lisa" {
	@font-face {
			font-family: Chapeau-Bold;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Bold.woff) format('woff');
	}
	@font-face {
			font-family: Chapeau-Regular;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Regular.otf);
	}
		.large-6_lisa {
			width:50%;
		}
}
.bold {font-family:'Chapeau-Bold', 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;font-weight:700;}

@import '../css/partials/mix-global-style-layout';

@if $flexi-brand == "FlexiCommercial"{
  @include brand(#38B449, #38B449, #CCCCCC);  
}
@if $flexi-brand == "FlexiRent"{
  @include brand(#E30450, #E30450, #CCCCCC); 
} @else if $flexi-brand == "FlexiRent2"{
   $secondary-color: #00A0DF;
  .appleLinksPrimary-color a {color: $secondary-color !important; text-decoration: none;}
}
@if $flexi-brand == "FlexiWay"{
@include brand(#00a0df, #00a0df, #CCCCCC);  
} @else if $flexi-brand == "FlexiWay2"{
    $secondary-color: #6f2c91;
  .appleLinksPrimary-color a {color: $secondary-color !important; text-decoration: none;}
}
@if $flexi-brand == "EziLease"{
  @include brand(#336699, #336699, #CCCCCC) ;  
}
@if $flexi-brand == "Lombard"{
 $primary-color: rgb(0, 45, 85);
  .appleLinksPrimary-color a {color: $primary-color !important; text-decoration: none;}
    table.row th.lombard-first, {
    padding-right:16px !important;
    padding-left:4px !important;
  }
}
@if $flexi-brand == "SmartWay"{
@include brand(#00a9bd, #000000, #CCCCCC);   
} 
  
  
     /*'''''''' for specific fix''''''''*/
  
  
     /* APPLE FIX FOR LINK */
     .appleLinksWhite a {color: #ffffff; text-decoration: underline;} 
     .appleLinksBlack a {color: $text-color !important; text-decoration: none;}          
     .appleLinksBlack a[href^=tel]{ text-decoration:none;}
  
      /*Lombard*/
      .lombard-link-color a {
        color:#F0575B;
      }      
  
  .gmail {
    color: #555555 !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
  
  .eot_bottomNumber_mobile_view__img {
      width:130px;
      height: 35px;      
    }
  
 
      

   
}/*+++++/desktop screen*/

/*+++++++++++++++++++++++++++++++  Layout - mobile screen ++++++++++++++++++++++*/
@media screen and (max-width: $on-mobile) {
  @if $flexi-brand == "Lisa" {
	@font-face {
			font-family: Chapeau-Bold;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Bold.woff) format('woff');
	}
	@font-face {
			font-family: Chapeau-Regular;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Regular.otf);
	}
}
.bold {font-family:'Chapeau-Bold', 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;font-weight:700;}
  
@import '../css/partials/mix-global-style-layout';
  
@if $flexi-brand == "FlexiCommercial"{
  @include brand(#38B449, #38B449, #CCCCCC);  
}
@if $flexi-brand == "FlexiRent"{
  @include brand(#E30450, #E30450, #CCCCCC); 
} @else if $flexi-brand == "FlexiRent2"{
   $secondary-color: #00A0DF;
  .appleLinksPrimary-color a {color: $secondary-color !important; text-decoration: none;}
}
@if $flexi-brand == "FlexiWay"{
@include brand(#00a0df, #00a0df, #CCCCCC);  
} @else if $flexi-brand == "FlexiWay2"{
    $secondary-color: #6f2c91;
  .appleLinksPrimary-color a {color: $secondary-color !important; text-decoration: none;}
}
@if $flexi-brand == "EziLease"{
  @include brand(#336699, #336699, #CCCCCC) ;  
}
@if $flexi-brand == "Lombard"{
 $primary-color: rgb(0, 45, 85);
  .appleLinksPrimary-color a {color: $primary-color !important; text-decoration: none;}
    table.row th.lombard-first, {
    padding-right:16px !important;
    padding-left:4px !important;
  }
}
@if $flexi-brand == "SmartWay"{
@include brand(#00a9bd, #000000, #CCCCCC);   
} 
@if $flexi-brand == "RSM"{
@include brand(#55bcd2, #55bcd2, #555555); //primary, primary-bg, secondary   
}
  
  
  /*lombard specific*/
  table.row th.lombard-last {
    padding-left:4px !important;
    padding-right:16px !important;
  }  
  .lombard-custom-margin-left{
       Margin: 0 auto;
       margin:0 auto;
       width: 75% !important;
    }  
  .lombard-banner {width:100% !important;}
  
  .mobile-border {
    border-bottom:none !important;
  }
   
   /*global overrides*/
   br.custom-break{
     display: none !important;
     height: 0 !important;
   }
   .equipment-indent {
     Margin: 0 0 10px 20px !important;
     margin: 0 0 10px 20px !important;
   }
   .custom-margin-left{
     Margin-left:0 !important;
     margin-left:0 !important;
     width: 100% !important;
   }
   img.flexi-logo {
     Margin-top:10px *2 !important;
     margin-top:10px *2 !important;
     Margin-bottom:10px !important;
     margin-bottom:10px !important;
   }
   .flexi-margin {
     Margin:10px;
     margin:10px;
   }
   .flexi-margin-top {
     Margin-top:10px !important;
     margin-top:10px !important;
   }
   .flexi-margin-bottom {
     Margin-bottom:10px !important;
     margin-bottom:10px !important;
   }
  
  
    /*''''''''  for specific fix per client ''''''''*/

  
    /* APPLE FIX FOR LINK */
   .appleLinksWhite a {
     color: #ffffff; text-decoration: underline;
   } 
   .appleLinksBlack a {
     color: $text-color; text-decoration: none;
   }    
   .appleLinksBlack a[href^=tel]{
     text-decoration:none;
   }    


    /*''''''''  add specific rule for new template layout ''''''''*/

  
    /*lombard*/
   .log-in {
     float: right !important;
     Margin-right:0 !important;
     margin-right:0 !important;
     Margin-bottom:3px;margin-bottom:3px;
     Margin-top:5px;margin-top:5px;
   }
   .lombard-img {
     Margin-left: 15px !important;
     margin-left: 15px !important;
   }
   h6.margin-lr {
     Margin: $base-margin $base-margin 0 30px !important;
     margin: $base-margin $base-margin 0 30px !important;
   }
   p.margin-lr {
     Margin: 0 $base-margin $base-margin 30px !important;
     margin: 0 $base-margin $base-margin 30px !important;
   }
   .custom-width table.acc-dtls {width:100% !important;}
  
   /*Lombard*/
   .lombard-link-color a {
     color:#F0575B !important;
   }  
  
   /*FLR special-req*/   
   .apply {
     float: right !important;      
     Margin-bottom:3px;margin-bottom:3px; 
   }  
   .my-acct{
     float: left !important;
     Margin-left:3px !important;
     margin-left:3px !important;
     Margin-bottom:3px;margin-bottom:3px;     
   }
   .eot_bonus_mobile_view{
     display: block;   
     width: 100% !important;
   }  
   .mobile-top-margin {
     margin-top:10px !important;
     Margin-top:10px !important;
   }
   .mobile-hide{
     display:none !important;
   }
  
  /*statement-templates*/  
   .mobile-staement-logo{
     width:85% !important;
   }

  /*POS*/   
   tr.mobile-hide {display:none;}
   table.tbl-block, table.tbl-block > tbody, tr.mobile-tr-block, th.mobile-td-block, td.mobile-td-block {
     & {display:block !important;width: 100% !important;}
   }  
   .mobile-block-rsm {
     & {display:block;}    
     > th.mobile-inline-block {float:left;display:inline !important;}
     &::after {display:block;content:"";clear:both;}
   }
  
  .banner {height:auto !important;}
  
 .hide-desktop {
  display:block !important;
}
  
  .mobile-icon-width {
    width:269px !important;
    margin:0 auto;
  }
  .tbl-mobile-margin-bottom {
    margin-bottom:10px;
    Margin-bottom:10px;
  }
.lbd-head {
  width:185px !important;margin:0 auto !important;
}

  p {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
   .text-size-footer-flr{
      font-size: $tc !important;
      line-height:$line-height;
      text-align:justify;
      text-justify: inter-word;
    }

  
  * {
   -webkit-hyphens: none !important;
      -moz-hyphens: none !important;
       -ms-hyphens: none !important;
           hyphens: none !important;
 }
  .eot_bottomNumber_mobile_view {     
      height: auto !important;
      padding-right: 5px !important;
    }
  
  .eot_bottomNumber_mobile_view__img {
      width: auto !important;
      height: auto !important;      
    }
  .custom-padd-left {
    padding-left:0 !important;
  }
  .custom-padd-right {
    padding-right:0 !important;
  }

} /*+++++/mobile screen*/

@media screen and (max-width: 385px) {
  @if $flexi-brand == "Lisa" {
	@font-face {
			font-family: Chapeau-Bold;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Bold.woff) format('woff');
	}
	@font-face {
			font-family: Chapeau-Regular;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Regular.otf);
	}
}
.bold {font-family:'Chapeau-Bold', 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;font-weight:700;}
  .eot_bottomNumber_mobile_view {
      width: auto !important;
      height: auto !important;
      padding-right: 5px !important;
    }
  * {
   -webkit-hyphens: none !important;
      -moz-hyphens: none !important;
       -ms-hyphens: none !important;
           hyphens: none !important;
 }
  p {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}
}

