<table class="row">
                                                <tr>
                                                  <th class="large-1 columns first mobile-hide"></th>
                                                  <th class="small-12 large-11 columns">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <p class="no-margin-bottom"><b>Attention:</b> {{brand_name}} Returns</p>
                                                          <p class="no-margin-bottom"><b>Agreement Number:</b> {{ContractID}}</p>
                                                          <p><b>Customer Name:</b> {{FullName2}}</p>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </th>                                                 
                                                </tr>
                                              </table>