<!-- ++++++++++++++++  variables.html +++++++++++++++++ -->

<!-- GLOBAL VARIABLES -->
{% if site.envi == "uat" %}
	{% assign file_name =                   "14D_FLC_E_Payout&Purchase_ManualIssue" %}
	{% assign ContractID =                  "${originalAccountNumber}" %}
	{% assign SchedEndDate =                "${SchedEndDate}" %}
	{% assign FullName =                "${letterDisplayName}" %}
	{% assign FullName2 =                "${letterName}" %}
	{% assign Payout =                      "${displayOpsEOTFinalPay}" %}
	{% assign PayOutExpiryDate =            "${displayOpsEOTReturnDate}" %}
	{% if page.batch == 02 %}
	{% assign BrandPhoneNumber =            "<span class='secondary-color appleLinksPrimary-color'><strong>" | append: {{tel}} | append: "</strong></span>" %}
	{% else %}
	{% assign BrandPhoneNumber =            "<span class='primary-color appleLinksPrimary-color'><strong>" | append: {{tel}} | append: "</strong></span>" %}
	{% endif %}

	{% assign FirstName =                   "${letterDisplayName}" %}
	{% assign Buyer =                       "${displayName}" %}
	{% assign LetterSentDate =              "${letterTodayDate}" %}
	{% assign AgtEndDate =                  "${displayEndDate}" %}
	{% assign ArrearsAmount =               "${pastDue}" %}
	{% assign PurchaseReceived =            "${displayOpsEOTFinalPay}" %}
	{% assign ResidualAmount =              "${displayBalloonIncGSTAmt}" %}
	{% assign AssetDetails =                "${assetsDetails}" %}
	{% assign $X =                          "${displayOpsEOTFinalPay}" %}
	{% assign EarlyPayout =                 "${displayOpsEOTFinalPay}" %}
	{% assign newterminationdate =          "${opsEOTReturnDate}" %}
	{% assign payoutquoteexpirydate =       "${opsEOTReturnDate}" %}
	{% assign CustomerNo =       "${primaryEntityID}" %}
  {% assign letterDate =       					  "${letterFormattedDate}" %}
{% assign SwitchPointDate =       					  "${displaySwitchPointDate}" %}

{% elsif site.envi == "prod" %}

	{% assign file_name =                   "14D_FLC_E_Payout&Purchase_ManualIssue" %}
	{% assign ContractID =                  "${originalAccountNumber}" %}
	{% assign SchedEndDate =                "${SchedEndDate}" %}
	{% assign Payout =                      "${displayoLEOTFinalPay}" %}
	{% assign PayOutExpiryDate =            "${displayoLEOTPayoutExp}" %}
	{% assign BrandPhoneNumber =            "<span class='primary-color appleLinksPrimary-color'><strong>" | append: {{tel}} | append: "</strong></span>" %}

	{% assign FirstName =                   "${letterDisplayName}" %}
	{% assign Buyer =                       "${displayName}" %}
	{% assign LetterSentDate =              "${letterTodayDate}" %}
	{% assign AgtEndDate =                  "${displayEndDate}" %}
	{% assign ArrearsAmount =               "${pastDue}" %}
	{% assign PurchaseReceived =            "${displayoLEOTFinalPay}" %}
	{% assign ResidualAmount =              "${displayBalloonIncGSTAmt}" %}
	{% assign AssetDetails =                "${assetsDetails}" %}
	{% assign $X =                          "${oLEOTFinalPay}" %}
	{% assign EarlyPayout =                 "${displayoLEOTFinalPay}" %}
	{% assign newterminationdate =          "${oLEOTPayoutExp}" %}
	{% assign payoutquoteexpirydate =       "${displayoLEOTPayoutExp}" %}
	{% assign letterDate =       					  "${letterFormattedDate}" %}

{% endif %}