<table class="mobile-hide row">
                                    <tr>
                                      <th class="large-2 columns first">
                                        <table>
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color">
                                               <p class="no-margin-bottom"><strong><font color="#ffffff">State</font></strong></p>
                                            </td>
                                          </tr>
                                        </table>                                        
                                      </th>
                                      <th class="large-10 columns last">
                                        
                                        <table>
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color border-left-pos border-bottom-pos">
                                              <p class="no-margin-bottom"><strong><font color="#ffffff">Warehouse</font></strong></p>
                                            </td>
                                          </tr>
                                        </table>
                                        
                                      </th>
                                    </tr>
                                  </table>
                                  
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-2 columns first primary-bg-color border-right-pos border-bottom-pos">
                                        
                                        <table class="primary-bg-color">
                                          <tr>
                                            <td class="padding appleLinksPrimary-bg-color primary-bg-color ">
                                              <p class="appleLinksPrimary-bg-color primary-bg-color no-margin-bottom"><font color="#ffffff">NSW</font></p>
                                            </td>
                                          </tr>
                                        </table>                                     
                                                                                
                                      </th>
                                      <th class="small-12 large-10 columns last">
                                         <table>
                                          <tr>
                                             <td class="padding  border-right-pos border-bottom-pos border-left-pos">
                                              <p class="no-margin-bottom appleLinksBlack">Verser Technology Lifecycles Pty Ltd, Unit F1, 350 Parramatta Rd, Homebush West NSW 2140</p>
                                            </td>
                                          </tr>
                                        </table>                                        
                                      </th>
                                    </tr>
                                  </table>
                                  
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-2 columns first first primary-bg-color border-right-pos border-bottom-pos">
                                         <table class="primary-bg-color">
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color">
                                             <p class="appleLinksPrimary-bg-color primary-bg-color no-margin-bottom"><font color="#ffffff">VIC & SA & TAS</font></p>
                                            </td>
                                          </tr>
                                        </table>                                      
                                        
                                      </th>
                                      <th class="small-12 large-10 columns last">
                                        <table>
                                          <tr>
                                             <td class="padding border-right-pos border-bottom-pos border-left-pos">
                                            <p class="no-margin-bottom appleLinksBlack">Verser Technology Lifecycles Pty Ltd, 71 – 73 Link Drive, Campbellfield VIC 3061</p>
                                            </td>
                                          </tr>
                                        </table>
                                        
                                      </th>
                                    </tr>
                                  </table>
                                  
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-2 columns first first primary-bg-color border-right-pos border-bottom-pos">
                                         <table class="primary-bg-color">
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color">
                                            <p class="appleLinksPrimary-bg-color primary-bg-color no-margin-bottom"><font color="#ffffff">QLD & NT</font></p>
                                            </td>
                                          </tr>
                                        </table>
                                        
                                      </th>
                                      <th class="small-12 large-10 columns last">
                                         <table>
                                          <tr>
                                             <td class="padding border-right-pos border-bottom-pos border-left-pos">
                                           <p class="no-margin-bottom appleLinksBlack">Verser Technology Lifecycles Pty Ltd, Building 4, 32 Precision Street, Salisbury QLD 4107</p>
                                            </td>
                                          </tr>
                                        </table>
                                        
                                      </th>
                                    </tr>
                                  </table>
                                  
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-2 columns first first primary-bg-color border-right-pos border-bottom-pos">
                                         <table class="primary-bg-color">
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color">
                                           <p class="appleLinksPrimary-bg-color primary-bg-color no-margin-bottom"><font color="#ffffff">ACT</font></p>
                                            </td>
                                          </tr>
                                        </table>
                                        
                                      </th>
                                      <th class="small-12 large-10 columns last">
                                         <table>
                                          <tr>
                                             <td class="padding border-right-pos border-bottom-pos border-left-pos">
                                           <p class="no-margin-bottom appleLinksBlack">Verser Technology Lifecycles Pty Ltd, 4a Whyalla Street, Fyshwick ACT 2609</p>
                                            </td>
                                          </tr>
                                        </table>                                        
                                       
                                      </th>
                                    </tr>
                                  </table>
                                  
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-2 columns first first primary-bg-color border-right-pos border-bottom-pos">
                                         <table class="primary-bg-color">
                                          <tr>
                                             <td class="padding appleLinksPrimary-bg-color primary-bg-color">
                                            <p class="appleLinksPrimary-bg-color primary-bg-color no-margin-bottom"><font color="#ffffff">WA</font></p>
                                            </td>
                                          </tr>
                                        </table>   
                                       
                                      </th>
                                      <th class="small-12 large-10 columns last">
                                        <table>
                                          <tr>
                                             <td class="padding border-right-pos border-bottom-pos border-left-pos">
                                            <p class="no-margin-bottom appleLinksBlack">ITSIT Australia Pty Ltd, 28 Bannick Court, Canningvale WA 6155</p>
                                            </td>
                                          </tr>
                                        </table> 
                                        
                                      </th>
                                    </tr>
                                  </table>