
header {
	border-top: 3px solid rgba(237, 95, 40, 0.45);
	box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px 			   rgba(12,13,14,0.025);

}
.header{
	width:850px;
	margin:0 auto;
	padding:2em 0;	
}

.head-wrap
{
	width: 650px;
	margin:0 auto;
}

.section {
	background: #f1f1f1;
}

.content{
	padding:2em 0 0 0;
	width:650px;
	margin:0 auto;
	box-sizing: border-box;
	/*border:solid 1px #333;*/
	min-height: 850px;	
	background: #fafafa;
}

.email-list ul {
	list-style-type: none;	
	margin-left:0;	
}

.email-list ul li a{	
	color: inherit;
	display: block;	
}

.email-link:hover {	
	background: rgb(237, 95, 40);
	color: #fff;
}

.email-link {
	padding: 12px 10px;
	margin:1px 0;
	font-family: 'Source Code Pro', monospace;
	/*-webkit-transition: background .3s, color .5s; 
    transition: background .3s, color .5s;
*/}

.edit {
	font-size: .9em;
}

.edit:hover {
	text-decoration: underline;	
}
.footer {
	padding:5em 0;
	font-size: .8em;
}

.post-tag {
	display: inline-block;
    background: rgba(237, 95, 40, 0.45);
    padding: .2em .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #ed5f28;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag:hover {
	    text-decoration: none;
    background: #ed5f28;
    color: #fff;
}

.post-tag:before {
	content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.disqus-footer__wrapper .disqus-footer {display:none;}

