<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]--><!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title></title>
<style type="text/css">/*DEFAULT CSS*/
        table, td, div, p{margin: 0; padding: 0;}
        .cke_editable, body {
          color: #555555;
          font-family: arial, helvetica, sans-serif; 
          font-size:14px;
          line-height: 16px;
        }
        h1{font-size: 16px; margin: 0px;}
        h2{font-size: 14px; margin: 0px;}
        h3{font-size: 12px; margin: 0px;}
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        p.page_break{ page-break-after: always !important;}
        @media print {
          body, page {
            margin: 0;
            box-shadow: 0;
          }
          p.page_break{ page-break-after: always !important;}
        }
    /*STRUCTURE*/
        .A4,
        page[size="A4"] {  
          width: 21cm;
          height: 29.7cm;
          background-color: #ffffff; 
          
        }
        .main {
            float:left;
            margin-top:.5cm; 
            margin-left:.5cm; 
            width: 20cm; 
        }
        .header {
            float: left; 
            width:20cm;  
            overflow: hidden;
        }
        .logo_left{
            float:left; 
            width:67%; 
            height:76px; 
            overflow: hidden;
        }       
        .logo_right{
            float:left; 
            height:78px; 
            width:33%;  
        }
        .details_left{
            float:left; 
            height:255px !important; 
            width:67%;  
        }
        .details_right{
            float:left; 
            height:263px!important ; 
            width:33%; 
        }
        .accnt_details{
            font-size: 14px; 
            line-height: 19.5px; 
            color: #555555; 
            padding: 10px; 
        }
        /*LETTER BODY*/
            .letter_body{
                float:left; 
                width:100%;  
            }
            .letter_body p{ 
                padding-bottom: 10px;
                font-size: 14px; 
            }
            .letter_body p.line-bottom{ 
                padding-bottom: 5px; 
                font-size: 14px;
            }
            table.tbl_inner{ 
                width: 100%; 
                font-size: 14px; 
                font-family: arial, helvetica, sans-serif;   
            }
            table.tbl_inner_border{ 
                width: 100%; 
                font-size: 14px; 
                font-family: arial, helvetica, sans-serif; 
                border-collapse: collapse; 
                border: solid 1px #cccccc; 
            }
            table.tbl_inner_border td{
               font-size: 14px; 
               font-family: arial, helvetica, sans-serif; 
               border-collapse: collapse; 
               border: solid 1px #cccccc; 
           }
    /*CUSTOM FORMATTING*/
        .bg-grey{
            background-color: #EBEBEB;
        }
        table.padding td{
            padding:5px;
        }
        td.paddingtb{
            padding-top: 5px; 
            padding-bottom: 5px;
        }
        .right{
            text-align: right;
        }
        .left{
            text-align: left;
        }
        .neg_margin {
            margin-bottom: -15px; 
            margin-left: -10px; 
        }      
        .bold{
            font-weight: bold;
        }        
        .underlined{
            text-decoration: underline;
        }
        ol li{
            font-size: 14px;
        }
        h1>sup, sup{
            font-size: 10px;
            margin:0;
        }
        .headertxt, td.headertxt, span.header{
            font-size: 16px;
        }
        .font_white{
            color:#ffffff;
        }
        td.bodytext, span.bodytext, .bodytext{
            font-size: 14px; 
            font-family: arial, helvetica, sans-serif; 
        }
    /*Branding colors*/        
        .primary_color{
            color:#e30450;
        }
        .secondary_color{
            color:#00a0df;
        }
        .links ,a.links {
            color: #f6ad1d;
        }
        .text{
            color:#555555;
        }
        .primary_bkg{
            background-color:#e30450;
        }       
    /*SPACING*/ 
       p.page1space img{ 
        margin-top:27px;
       }
       div.page2space{ 
        float: left; 
        height:710px; 
        width:100%;
       }
</style>
<!-- <page size="A4"> -->
<div class="A4">
<div class="main">
<div class="header">
<div class="logo_left"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FR_Your_Payout_Options.gif" style="width: 400px; float: left;" /></div>

<div class="logo_right right">
<p><span class="primary_color headertxt">CUSTOMER TEAM</span> <span class="text headertxt">1800 240 102</span><br />
<span class="secondary_color" style="font-size: 20px; font-family: arial, helvetica, sans-serif;">flexirent.com.au</span></p>
</div>
</div>
<!-- [E] Header --><!-- [S] account details -->

<div class="details_left">&nbsp;</div>

<div class="details_right left">
<div class="primary_bkg font_white" style="padding-top:5px; padding-bottom:5px; padding-left:10px;">ACCOUNT DETAILS</div>

<div class="accnt_details bg-grey"><strong>Customer no:</strong><br />
${primaryEntityID}<br />
<strong>Agreement no:</strong><br />
${originalAccountNumber}<br />
<strong>Scheduled Agreement End Date:</strong><br />
${SchedEndDate}</div>
</div>
<!-- [E] account details -->

<div class="letter_body">
<p>${letterTodayDate}</p>

<p style="padding-top: 14px">Dear ${letterDisplayName},</p>

<p style="padding-top:14px;">Thank you for your recent enquiry in relation to your payout options under your FlexiRent Rental Agreement.</p>
Your Rental Agreement will end on ${SchedEndDate}. As of the date of this letter, you have ${getRemainingMonths} monthly rental payments remaining. To payout your Rental Agreement, there are a number of options that may be available to you. The options include:<br />
&nbsp;
<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="padding-left: 35px; padding-right: 35px;">
			<table class="tbl_inner bg-grey">
				<tbody>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Return</h1>

						<p>If you no longer want the rented goods, you can return them to us. You will need to pay the total of the remaining monthly rental payments which is ${displayRemainMonthlyPmts}. The goods must be returned in good working order together with all accessories and manuals at your expense.</p>

						<p>The goods can be returned to any of our warehouse locations listed at the end of this letter.</p>
						Please ensure you label the goods with the following for easy identification:

						<table class="tbl_inner">
							<tbody>
								<tr>
									<td width="7%">&nbsp;</td>
									<td class="paddingtb" width="93%"><strong>Attention:</strong> FlexiRent Returns<br />
									<strong>Agreement Number:</strong> ${originalAccountNumber}<br />
									<strong>Customer Name:</strong> ${letterName}</td>
								</tr>
							</tbody>
						</table>
						You must pay and return the goods prior to your next monthly payment date due on ${displayNextPaymentDate} to avoid any additional payments. The payout amount is valid only until the date of your next monthly payment. The payout amount may change after this date.</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Offer to purchase</h1>

						<p>If you would like to own the rented goods, we would be pleased to negotiate a sale price with you. You will need to pay the total of the remaining monthly rental payments, which is ${displayRemainMonthlyPmts}, and you can make us an offer to purchase the goods. You can offer any price, but we have the right to accept or reject your offer. At the date of this letter, we estimate that the sale price of the goods would be approximately ${pvFMVatEOT}*.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Other options</h1>

						<p>Under your FlexiRent Rental Agreement, you have a number of other options that may be available to you including Double Time where for 1 extra monthly payment at the end of term#, you can double the term of your Rental Agreement and continue using the goods with the benefits of the FlexiCare Program for the extended term^.<br />
						<br />
						Subject to approval, you can also choose to upgrade to new goods of any value on a new rental agreement. For this option, discounts may be applied to your offer to purchase or return the existing rented goods*.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<p class="page1space"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLR_Line2017.png" style="width: 101%; height: 9px; " /></p>
</div>
<!-- [E] letter body -->

<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top;">&nbsp;</td>
			<td style="width: 30%; text-align: center;" valign="top"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FR_Logo.gif" style="width: 150px;" /></td>
		</tr>
	</tbody>
</table>
</div>
<!-- MAIN --></div>
<!--  [E] A4 page -->

<div class="A4">
<div class="main">
<div class="letter_body">
<table class="tbl_inner">
	<tbody>
		<tr>
			<td>
			<p>If you require any further information, please contact the FlexiRent Customer Team on <b class="primary_color">1800 240 102</b>.<br />
			<br />
			Regards,<br />
			<br />
			FlexiRent Customer Team</p>

			<table class="tbl_inner_border padding">
				<tbody>
					<tr>
						<td class="font_white primary_bkg" width="17%"><strong>State</strong></td>
						<td class="font_white primary_bkg" width="83%"><strong>Warehouse</strong></td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">NSW</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, Unit F1, 350 Parramatta Rd, Homebush West NSW 2140</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">VIC &amp; SA &amp; TAS</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, 71 &ndash; 73 Link Drive, Campbellfield VIC 3061</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">QLD &amp; NT</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, Building 4, 32 Precision Street, Salisbury QLD 4107</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">ACT</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, 4a Whyalla Street, Fyshwick ACT 2609</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">WA</td>
						<td width="83%">ITSIT Australia Pty Ltd, 28 Bannick Court, Canningvale WA 6155</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<!-- [E] letter body -->

<div class="page2space">&nbsp;</div>

<div><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLR_Line2017.png" style="width: 101%; height: 9px;" /></div>

<table border="0" cellpadding="0" cellspacing="1" style="font-size: 12px; width: 100%;">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top; ">
			<div style=" font-size: 12px;">*All upgrade and purchase options are subject to our agreement and our standard terms and conditions, and all upgrade options are also subject to any internal credit criteria. #Acceptance of the double time payment offer is available on eligible, approved and settled deals before 13 October 2016 and is subject to credit criteria. Customers are liable for payments for the full term under the original agreement. One offer per customer. Flexi holds the right to withdraw the offers at any time. ^Provided under the FlexiCare Program and subject to terms and conditions. Refer to the product terms and conditions for a full list of exclusions.<br />
			<br />
			Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). FlexiRent&reg; is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited. FLR_L_PayoutOpts_11iii</div>
			</td>
			<td style="width: 30%; text-align: center;" valign="top"><span style="font-size:20px;"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FR_Logo.gif" style="width: 150px;" /></span></td>
		</tr>
	</tbody>
</table>
</div>
<!-- main --></div>
<!-- [e] A4 -->