<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]--><!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title></title>
<style type="text/css">/*DEFAULT CSS*/
        table, td, div, p{margin: 0; padding: 0;}
        .cke_editable, body {
          color: #555555;
          font-family: arial, helvetica, sans-serif; 
          font-size:14px;
          line-height: 16px;
        }
        h1{font-size: 16px; margin: 0px;}
        h2{font-size: 14px; margin: 0px;}
        h3{font-size: 12px; margin: 0px;}
        page {
          background: white;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5cm;
          box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }
        p.page_break{ page-break-after: always !important;}
        @media print {
          body, page {
            margin: 0;
            box-shadow: 0;
          }
          p.page_break{ page-break-after: always !important;}
        }
    /*STRUCTURE*/
        .A4,
        page[size="A4"] {  
          width: 21cm;
          height: 29.7cm;
          background-color: #ffffff; 
          
        }
        .main {
            float:left;
            margin-top:.5cm; 
            margin-left:.5cm; 
            width: 20cm; 
        }
        .header {
            float: left; 
            width:20cm;  
            overflow: hidden;
        }
        .logo_left{
            float:left; 
            width:67%; 
            height:76px; 
            overflow: hidden;
        }       
        .logo_right{
            float:left; 
            height:78px; 
            width:33%;  
        }
        .details_left{
            float:left; 
            height:265px !important; 
            width:67%;  
        }
        .details_right{
            float:left; 
            height:263px!important ; 
            width:33%; 
        }
        .accnt_details{
            font-size: 14px; 
            line-height: 19.5px; 
            color: #555555; 
            padding: 10px; 
        }
    /*LETTER BODY*/
        .letter_body{
            float:left; 
            width:100%;  
        }
        .letter_body p{ 
            padding-bottom: 10px;
            font-size: 14px; 
        }
        .letter_body p.line-bottom{ 
            padding-bottom: 5px; 
            font-size: 14px;
        }
        table.tbl_inner{ 
            width: 100%; 
            font-size: 14px; 
            font-family: arial, helvetica, sans-serif;   
        }
        table.tbl_inner_border{ 
            width: 100%; 
            font-size: 14px; 
            font-family: arial, helvetica, sans-serif; 
            border-collapse: collapse; 
            border: solid 1px #cccccc; 
        }
        table.tbl_inner_border td{
           font-size: 14px; 
           font-family: arial, helvetica, sans-serif; 
           border-collapse: collapse; 
           border: solid 1px #cccccc; 
       }
    /*CUSTOM FORMATTING*/
        .bg-grey{
            background-color: #EBEBEB;
        }
        table.padding td{
            padding:5px;
        }
        td.paddingtb{
            padding-top: 5px; 
            padding-bottom: 5px;
        }
        .right{
            text-align: right;
        }
        .left{
            text-align: left;
        }
        .neg_margin {
            margin-bottom: -15px; 
            margin-left: -10px; 
        }      
        .bold{
            font-weight: bold;
        }        
        .underlined{
            text-decoration: underline;
        }
        ol li{
            font-size: 14px;
        }
        h1>sup, sup{
            font-size: 10px;
            margin:0;
        }
        .headertxt, td.headertxt, span.header{
            font-size: 16px;
        }
        .font_white{
            color:#ffffff;
        }
        td.bodytext, span.bodytext, .bodytext{
            font-size: 14px; 
            font-family: arial, helvetica, sans-serif; 
        }
    /*Branding colors*/        
        .primary_color{
            color:#00a0df;
        }
        .secondary_color{
            color:#6f2c91;
        }
        .links ,a.links {
            color: #f6ad1d;
        }
        .text{
            color:#555555;
        }
        .primary_bkg{
            background-color:#00a0df;
        }       
    /*SPACING*/ 
       p.page1space img{ 
        margin-top:80px;
       }
       div.page2space{ 
        float: left; 
        height:240px; 
        width:100%;
       }
</style>
<!-- <page size="A4"> -->
<div class="A4">
<div class="main">
<div class="header">
<div class="logo_left"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FW_Your_EOT_Options.gif" style="width: 400px; float: left;" /></div>

<div class="logo_right right">
<p><span class="primary_color headertxt">CUSTOMER TEAM</span> <span class="text headertxt">1800 001 952</span><br />
<span class="secondary_color" style="font-size: 20px; font-family: arial, helvetica, sans-serif;">flexiway.com.au</span></p>
</div>
</div>
<!-- [E] Header --><!-- [S] account details -->

<div class="details_left">&nbsp;</div>

<div class="details_right left">
<div class="primary_bkg font_white" style="padding-top:5px; padding-bottom:5px; padding-left:10px;">ACCOUNT DETAILS</div>

<div class="accnt_details bg-grey"><strong>Customer no:</strong><br />
${primaryEntityID}<br />
<strong>Agreement no:</strong><br />
${originalAccountNumber}<br />
<strong>Scheduled Agreement End Date:</strong><br />
${SchedEndDate}</div>
</div>
<!-- [E] account details -->

<div class="letter_body">
<p>${letterTodayDate}</p>

<p style="padding-top:14px;">Dear ${letterDisplayName},</p>

<p style="padding-top:14px;">Thank you for your recent letter regarding your FlexiWay Rental Agreement, the term of which is due to expire on ${SchedEndDate}.<br />
<br />
As a FlexiWay customer, you have a broad range of End of Term (EOT) options that may be available to you to suit your particular requirements.</p>
It is important that you contact us before the expiry date of your Rental Agreement to discuss your preferred End of Term option. Otherwise, if you don&rsquo;t return the goods, your agreement will continue on a month-to-month basis and you will continue to pay ${displayLastMonthlyPayment} per month until you select an option. The EOT options are as follows:<br />
<br />
<!-- greybox [S] -->
<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="padding-left: 35px; padding-right: 35px;">
			<table class="tbl_inner bg-grey">
				<tbody>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Upgrade and offer to purchase:</h1>

						<p>If you would like to upgrade to new goods, you may be able to enter into a new Rental Agreement with us, subject to approval+. Because you are upgrading, we may also be prepared to negotiate the sale of the existing goods with you for a discounted price.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Upgrade and return:</h1>

						<p>If you would like to upgrade, subject to approval+, but no longer want the existing goods, you can choose to return them. If you select this option before the End of Term, we will waive up to 2 months&rsquo; remaining Monthly Rental Payments on your existing Agreement#.</p>

						<p>The goods can be returned to any of our warehouse locations listed at the end of this letter.</p>
						Please ensure you label the goods with the following for easy identification:

						<table class="tbl_inner">
							<tbody>
								<tr>
									<td width="7%">&nbsp;</td>
									<td class="paddingtb" width="93%"><strong>Attention:</strong> FlexiWay Returns<br />
									<strong>Agreement Number:</strong> ${originalAccountNumber}<br />
									<strong>Customer Name:</strong> ${letterName}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Upgrade and double time:</h1>

						<p>You may also be able to double the length of the term of your original Agreement for the existing goods, and upgrade to new goods. Subject to approval, simply take out a new Rental Agreement, and &lsquo;double time&rsquo; the term for the existing goods by paying the Double Time Payment, equivalent to 1 Monthly Rental Payment#. You can continue to enjoy the benefits of the FlexiCare Program during the Double Time Period^.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- greybox [E] -->

<p class="page1space"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLW_Line2017.png" style="width: 101%; height: 9px; " /></p>
</div>
<!-- [E] letter body -->

<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top;">&nbsp;</td>
			<td style="width: 30%; text-align: center;" valign="top"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FW_Logo.gif" style="width: 150px;" /></td>
		</tr>
	</tbody>
</table>
</div>
<!-- MAIN --></div>
<!--  [E] A4 page -->

<div class="A4">
<div class="main">
<div class="letter_body"><!-- greybox [S] -->
<table class="tbl_inner">
	<tbody>
		<tr>
			<td style="padding-left: 35px; padding-right: 35px;">
			<table class="tbl_inner bg-grey">
				<tbody>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Offer to purchase:</h1>

						<p>If you are not interested in upgrading at the End of Term, but would like to own the rented goods, we would be pleased to negotiate a sale price with you+. You can offer any price for the goods, but we have the right to accept or reject your offer.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Double time:</h1>

						<p>You can &lsquo;double time&rsquo; the term of your original agreement+ by paying the Double Time Payment, equivalent to 1 Monthly Rental Payment#. You can continue to enjoy the benefits of the FlexiCare Program during the Double Time Period^.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding:5px 5px 0 5px;" valign="top">
						<h1 class="primary_color bold" style="padding-right:5px;">Return</h1>

						<p>If you no longer want the rented goods, you can return them to us at the End of Term. If you select this option, under your Agreement, you must return the goods prior to ${displayEndDate} to avoid any additional payments. The goods must be returned in good working order, together with all accessories and manuals, at your own expense.</p>

						<p>The goods can be returned to any of our warehouse locations listed at the end of this letter.</p>
						Please ensure you label the goods with the following for easy identification:

						<table class="tbl_inner">
							<tbody>
								<tr>
									<td width="7%">&nbsp;</td>
									<td class="paddingtb" width="93%"><strong>Attention:</strong> FlexiWay Returns<br />
									<strong>Agreement Number:</strong> ${originalAccountNumber}<br />
									<strong>Customer Name:</strong> ${letterName}</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- greybox [E] -->

<table class="tbl_inner">
	<tbody>
		<tr>
			<td>
			<p style="padding-top:14px;">If you require any further clarification of your EOT options, or you would like to elect one of them, please contact our FlexiWay Customer Team. Alternatively, for further information, please visit www.flexiway.com.au/eot .<br />
			<br />
			Regards,<br />
			<br />
			FlexiWay Customer Team</p>

			<table class="tbl_inner_border padding">
				<tbody>
					<tr>
						<td class="font_white primary_bkg" width="17%"><strong>State</strong></td>
						<td class="font_white primary_bkg" width="83%"><strong>Warehouse</strong></td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">NSW</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, Unit F1, 350 Parramatta Rd, Homebush West NSW 2140</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">VIC &amp; SA &amp; TAS</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, 71 &ndash; 73 Link Drive, Campbellfield VIC 3061</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">QLD &amp; NT</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, Building 4, 32 Precision Street, Salisbury QLD 4107</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">ACT</td>
						<td width="83%">Verser Technology Lifecycles Pty Ltd, 4a Whyalla Street, Fyshwick ACT 2609</td>
					</tr>
					<tr>
						<td class="font_white primary_bkg" width="17%">WA</td>
						<td width="83%">ITSIT Australia Pty Ltd, 28 Bannick Court, Canningvale WA 6155</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
</div>
<!-- [E] letter body -->

<div class="page2space">&nbsp;</div>

<div><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FLW_Line2017.png" style="width: 101%; height: 9px;" /></div>

<table border="0" cellpadding="0" cellspacing="1" style="font-size: 12px; width: 100%;">
	<tbody>
		<tr>
			<td style="width: 70%; text-align: left; vertical-align: top; ">
			<div style=" font-size: 12px;">+All purchase, upgrade and double time options are subject to our agreement and our standard terms and conditions, and upgrade options are also subject to any internal credit criteria. #Up to 2 monthly payment waiver offer or acceptance of the double time payment offer, whichever is elected, is available on eligible, approved and settled deals before 13 October 2016 and is subject to credit criteria. Customers are liable for payments for the full term under the original agreement. One offer per customer. [Brand] holds the right to withdraw the offers at any time. ^Provided under the FlexiCare Program and subject to terms and conditions. Refer to the product terms and conditions for a full list of exclusions. FlexiCare Loaner dispatched within 1 business day subject to delivery to all Australian metro areas and request made during business hours.<br />
			<br />
			Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). FlexiWay&reg; is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited. FLW_L_EOTOpts_10b</div>
			</td>
			<td style="width: 30%; text-align: center;" valign="top"><span style="font-size:20px;"><img alt="footer logo" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/FW_Logo.gif" style="width: 150px;" /></span></td>
		</tr>
	</tbody>
</table>
</div>
<!-- main --></div>
<!-- [e] A4 -->