---
file_name: 26_FLR_E_EarlyPurchaseExpire_OpLease
category: Email-Projects
tags: [Re-branding]
---
{% include brand-controller.html %}
{% include variables.html %}



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

              <table class="container">
                  <tr>
                    <th>
                        
                    <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{important}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->
 

 <table>
   <tr>
     <td height="30"> </td>
   </tr>
 </table>
 

                        <table class="row">
                          <tr>
                            <th class="columns large-12 small-12 first last">
                              <table>
                                <tr>
                                  <th>
                                  <table class="text-color">
                                    <tr>
                                      <td class="text-size justify outlookLineHeightFix">                                   
                                      
                                      <p>{{LetterSentDate}}</p>                      

                                      <p>Dear {{FirstName}},</p>

                                      <h1 class="custom-margin-bottom"><strong>Your Purchase of the Equipment during the roll-over period – How to finalise your Rental Agreement</strong></h1>

                                      <p>Thank you for advising us that you wanted your Rental Agreement (Number {{ContractID}}) to finalise <u>during</u> the roll-over period by purchasing the Equipment and paying the termination amount.</p>

                                      <h1 class="primary-color no-margin"><strong>Purchase and termination amount</strong></h1>

                                      <p>We recently agreed with you on the purchase price for the Equipment. We also recently issued you the termination amount (which included the purchase price for the Equipment and any outstanding amounts due and payable under your Rental Agreement) to finalise both your purchase of the Equipment and your Rental Agreement.</p>

                                      <p>We have <u>not</u> yet received the termination amount from you which was due <u>on or before</u> {{PayOutExpiryDate}}. As a result, our agreement to sell you the Equipment has now expired and the termination amount has changed. You must continue to pay each rental payment and any other amount due and payable under your Rental Agreement at the original payment schedule.</p>

                                      <h1 class="primary-color no-margin"><strong>Roll-over of your Rental Agreement</strong></h1>

                                      <p>Your Rental Agreement will continue to automatically roll-over for successive periods of thirty (30) days until you give us thirty (30) days’ written notice and, as applicable, you return the Equipment to us or finalise the purchase of the Equipment. During the roll-over period you will be charged the same rental payment rate payable immediately before the scheduled end of your Rental Agreement.</p>

                                      <h1 class="primary-color"><strong>Contact us<sup>1</sup></strong></h1> 

                                      <p>Please contact us urgently regarding your purchase of the Equipment and/or to obtain a revised termination amount. Your purchase of the Equipment and your Rental Agreement will finalise by the punctual payment of the revised payout quote. Accordingly, in the interim you must continue to pay each rental payment and any other amount due and payable under your Rental Agreement.</p>

                                      <p class="appleLinksBlack">If you have any questions, please call our {{brand_name}} Customer Team on {{BrandPhoneNumber}}, 7 days a week, 9am – 6pm (AEST).</p>

                                      <p>We look forward to hearing from you.</p>

                                      <p>Regards,</p>

                                      <p>{{brand_name}} Customer Team</p>

                                      <p><a href="tel:{{tel | remove: ' '}}"><img title="tel:{{tel | remove: ' '}}" src="{{tel_bottom_icon}}" style="display:inline !important;"/></a></p>

                             

                                      </td>
                                    </tr>
                                  </table>
                                  
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>   
 
                        

 
                        
<table>
   <tr>
     <td height="50"> </td>
   </tr>
 </table>
                                                          

                                     

                                     
                                   
                                     
                       

                  <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->
                            <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">

                                      1 Subject to our standard terms and conditions.<br />
                                       
                                       <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                       {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                     
                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                            
 
 

                            </th>
                          </tr>
                        </table>



              
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>



