--- 
file_name: LBD_E_Peakbound5Cashbackv1.1
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-7 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img  class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-5 columns last" valign="bottom">

                         <table>
                              <tr>                              
                                
                                <td>
                                  <a target="_blank" href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardLoginTransparent.png" /></a>
                                </td>
                                <td>
                                  <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardCallUsTransparent.png" /></a>
                                </td>
                              </tr>

                            </table>

                        </th>
                      </tr>
                    </table>
                
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed=""> 
                                 <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank">
                                    <img width="650px" style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/1608027-LOM-2.png" />
                                   </a>
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                                      
                    <!-- /HEADER -->
  
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
               

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                             <p>Dear ${firstName},</p>                           
                                    
                            <p class="primary-color"><strong>Get 5% cash back on purchases using your Lombard card! </strong></p>
                              
                            <p class="no-margin-bottom">Simply activate and spend on your Lombard card before 31 October 2016 and we’ll give you 5% cash back* on purchases you make up to $2,000 in total.  Once you activate the offer it is available for 3 months.</p>
                            
                             <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                            
                            
                            <table class="row">
                              <tr>
                                <th bgcolor="#EBEBEB" class="small-12 large-6 lombard-columns-left first lombard-first">
                                    <table bgcolor="#EBEBEB" style="border:1px solid #d7d7d7;">
                                      <tr height="138">
                                        <td height="138" bgcolor="#EBEBEB" style="background-color:#EBEBEB;line-height:138px; -webkit-text-size-adjust:none;">
                                            <p class="text-center no-margin-bottom flexi-margin-top"><strong><font color="#F0555C">Need to activate your card?</font></strong></p>
                                          <p class="text-center">Click below to activate online now.</p>
                                         
                                       
                                          <p class="text-center">
                                            <a href="https://cmc.flexigroup.com.au/$%7BCardActivategetURI%7D" target="_blank"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20ActivateNowTransparent.png" style="outline: none; border-width: 0px; border-style: solid; width: 131px; height: 35px;display:inline !important;"></a></p>
                                         
                                        </td>
                                      </tr>
                                    </table>                                  
                                  
                                </th>
                                
                                <th bgcolor="#EBEBEB" class="small-12 large-6 lombard-columns-right last lombard-last">
                                          <table bgcolor="#EBEBEB" style="border:1px solid #d7d7d7;">
                                      <tr height="138">
                                        <td height="138" bgcolor="#EBEBEB" style="background-color:#EBEBEB;line-height:138px; -webkit-text-size-adjust:none;">
                                            <p class="text-center no-margin-bottom flexi-margin-top"><strong><font color="#F0555C">Don’t have a card?</font></strong></p>
                                          <p class="text-center no-margin-bottom">Or forgotten your PIN?</p>
<p class="text-center">Simply order a new one.</p>                                        
                                          
                                          <p class="text-center">
                                            <a href="https://cmc.flexigroup.com.au/$%7BCardPingetURI%7D" target="_blank"><img alt="" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20OrderNow%20Transparent.png" style="outline: none; border-width: 0px; border-style: solid; width: 131px; height: 35px;display:inline !important;"></a></p>
                                         
                                        </td>
                                      </tr>
                                    </table>
                                  
                                </th>
                              </tr>
                            </table>
                            
                            <p>If you order a card, the new card and PIN should arrive within the next 5-7 working days.</p>
                            
                            <p class="appleLinksBlack">Question? Call <span class="primary-color appleLinksPrimary-color"><strong>1300 132 301</strong></span> Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST).</p>
                            
                            <p>Kind regards,</p>
                            
                            <p class="no-margin-bottom"><strong>Adam Frost</strong></p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/Lombard%20Rule%20Transparent.png" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	*5% cash back is available to existing eligible Lombard account holders by invitation only. If eligible, your account will be credited on a monthly basis; with 5% of the value of each card transaction (up to a maximum purchase amount of $2000 over a 3 month period) made using the Lombard card. The cash back will be automatically credited to your Lombard account and confirmed on your monthly account statement. Cash back does not apply to cash advances, Electronic Funds Transfer (EFT) and BPAY Online payments. To remain eligible for the cash back offer your Lombard account must be in good order at time of cash back and not in arrears or in default. Offer ends 31 October 2016. Offer must be validated by the end date to apply for a 3 month period. To validate the offer a card transaction of any size needs to be made (excludes cash advances, EFT and BPAY Online payment). Credit provided by Once Credit Pty Limited ABN 31 099 651 877 Australian Credit Licence number 247415 (<strong>Lombard</strong>). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited. 1608027
                              
                              
                              <br>
                              
                             <p class="text-center"><span style="font-size:10px;"><span style="font-family:verdana,geneva,sans-serif;"><a href="mailto:customerservice.cards@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1300 132 301 to change your preferences."><span style="color:#626262;">Unsubscribe</span></a></span></span> </p> 
                              <br>


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>