---
file_name: 11_FLR_e_purchaseincomplete_opslease
category: Email-Projects
tags: [Re-branding]
---
{% include brand-controller.html %}
{% include variables.html %}



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{important}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                               <th class="justify outlookLineHeightFix">
                                  
                                  <p>{{LetterSentDate}}</p>                      

                                  <p>Dear {{FirstName}},</p>

                                  <h1 class="flexi-margin-bottom"><strong>Your Offer to Purchase the Equipment – How to finalise your Rental Agreement</strong>
                                  </h1>

                                  <p>Thank you for advising us that you would like your Rental Agreement (Number {{ContractID}}) to finalise <u>on</u> the scheduled end date (namely {{SchedEndDate}}) and selecting Offer to Purchase.</p>

                                  <p>We have been unsuccessful in contacting you to discuss a purchase price for the Equipment. Please contact us immediately to discuss.</p>

                                  <h1 class="primary-color"><strong>Failure to Return or Purchase<sup>1</sup></strong></h1>

                                  <p>If you don’t return the Equipment to us or finalise your purchase of the Equipment <u>on or before</u> the scheduled end of your Rental Agreement, your Rental Agreement will automatically roll-over for thirty (30) days. Your Rental Agreement will continue to automatically roll-over for successive periods of thirty (30) days until you give us thirty (30) days’ written notice and, as applicable, you return the Equipment to us or finalise the purchase of the Equipment. During the roll-over period you will be charged the same rental payment rate payable immediately before the scheduled end of your Rental Agreement.</p>    

                                  <h1 class="primary-color"><strong>Contact us</strong></h1>  

                                  <p class="appleLinksBlack">If you have any questions or you would like to nominate another choice for the Equipment, please call our  {{brand_name}} Customer Team on {{BrandPhoneNumber}}, 7 days a week, 9am – 6pm (AEST).</p>   

                                  <p>We look forward to hearing from you.</p>

                                  <p>Regards,</p>

                                  <p>{{brand_name}} Customer Team</p>

                                  <p><a href="tel:{{tel | remove: ' '}}"><img title="tel:{{tel | remove: ' '}}" src="{{tel_bottom_icon}}" style="display:inline !important;"/></a></p>



                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>
         

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                        1 Subject to our standard terms and conditions.<br />
                                     

                                      <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}
</div>
                                      
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




