--- 
file_name: FRL_LOM-EDM_180_01
category: Email-Projects
tags: [Special-request]
--- 

{% assign brand_name = "Lombard" %} 

{% if site.envi == "uat" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/LBD_E_Logo.png" %}
{% assign icon1 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/LBD_E_PhoneIcon.png" %}
{% assign icon2 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/LBD_E_AddressIcon.png" %}
{% assign icon3 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/LBD_E_WebIcon.png" %}

{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign icon1 = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Once%20Login%20Transparent.png" %}
{% assign icon2 = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Once%20Phone%20Transparent.png" %}
{% assign icon3 = "13 6623" %}

{% endif %}


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>
    {% case {{site.flexi-brand}} %}
    {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}}    
    {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}}
    {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}}
    {% when 'EziLease' %} {{page.file_name | replace: "FLR", "EZL"}}
    {% when 'Lombard' %} {{page.file_name | replace: "FLR", "LOM"}}
    {% endcase %}
  </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container lombard-bg">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                               
                
                <table class="row">
                  <tr>
                    <th class="large-offset-10 small-12 large-2 columns first">
                      
                            <table class="lbd-head">
                              <tr>
                                <td>
                          <table>
                        <tr>
                          <td>
<!--LOGO-->
                      <table>
                        <tr>
                          <td><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></td>
                        </tr>                        
                      </table>
                            
                   
                        
                         <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 
                        
<!-- subhead -->
                       <table>
                        <tr>
                          <td valign="top" class="lbd-icon" width="17"><img src="{{ icon1 }}"/></td>
                          <td><p class="no-margin-bottom lbd-description appleLinksBlack"><span style="color:#555555;"><a title="tel:1300 132 301" href="tel:1300 132 301" style="color:#555555;">1300 132 301</a></span></p></td>
                        </tr>
                      </table>
                        
                        {% include line-height.html %}
                        
                        <table>
                        <tr>
                          <td valign="middle" class="lbd-icon" width="17" style="display:inline"><img src="{{ icon2 }}"/></td>
                          <td>
                            <p class="no-margin-bottom lbd-description appleLinksBlack"><span style="color:#555555;">Locked Bag 5005<br>
                            Royal Exchange<br>
                              Sydney NSW 1225</span></p>
                          </td>
                        </tr>                        
                      </table>
                        
                          {% include line-height.html %}
                        
                         <table>
                        <tr>
                          <td valign="top" class="lbd-icon" width="17"><img src="{{ icon3 }}"/></td>
                          <td><p class="no-margin-bottom lbd-description appleLinksBlack"><span class="gmail"><a style="color:#555555;" href="https://lombardfinance.com.au">lombardfinance.com.au</a></span></p></td>
                        </tr>
                      </table>
                        
                        
                           <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                           </table> 
                        
                                </td>
                              </tr>
                            </table>
                      
                                  
                                  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                      
                    </th>
                  </tr>
                </table>          
                
                
                
             

                                                    
                           
            <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first-ldb-custom last-ldb-custom text-color custom-width">
                      
                            <table>
                              <tr>
                                <th>                                  
                                  <p class="no-margin-bottom">&lt;store name&gt;</p>
                                    
                                  <p class="no-margin-bottom">ABN &lt;ABN/ACN&gt;</p>
                                    
                                  <p class="no-margin-bottom">trading as &lt;dealergroupName&gt;</p>
                                  
                                  <p>&lt;Address&gt;</p>
                                  
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 
                                  
                                  <p>Hello</p>
                                  
                                  
                                  <p>Thank you for partnering with Lombard to offer Interest Free* finance to your customers. </p>
                                  <p>There are two changes which you need to action:</p>
                                  
                                  <h1 class="no-margin-margin"><font color="#F0575B"><b>1. Annual Percentage Rate change for the Lombard 180 card</b></font></h1>
                                  
                                  <p class="appleLinksBlack">Effective 1 December 2017, the Annual Percentage Rate on the Lombard 180 card will increase from 22.99% p.a. to 23.99% p.a.  This rate is only payable on balances outstanding after any Interest Free terms.</p>

                                  <p class="appleLinksBlack">If you advertise Interest Free* for the Lombard 180 card, please ensure the interest rate is updated in your advertising materials (you can make this change before 1 December if convenient).</p>
                                  
                                  
                                  <h1 class="no-margin-margin"><font color="#F0575B"><b>2. Legal entity name change</b></font></h1>
                                  
                                  <p>Lombard Finance Pty Ltd ("<b>Lombard</b>") is part of the ASX-listed entity FlexiGroup Limited (“<b>FlexiGroup</b>”). Given FlexiGroup’s cards portfolio growth in Australia and New Zealand, FlexiGroup is renaming some of its entities and in November 2017 is changing the legal entity name of Lombard Finance Pty Ltd to <b>FlexiCards Australia Pty Ltd</b>.</p>
                                  
                                   <h1 class="no-margin-margin"><font color="#F0575B"><b>What the name change means</b></font></h1>
                                  
                                  <p>All references to Lombard Finance Pty Ltd need to be changed to FlexiCards Australia Pty Ltd over time. If you are changing the Annual Percentage Rate on your advertising materials, please also change the legal entity name.</p>
                                  
                                  <p>For all new sales and marketing materials created after this date which reference the Lombard legal name, please make the following changes in the disclaimer:</p>
                                  
                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td>
                                        <p><b>From</b>: 	‘Credit provided by Lombard Finance Pty Ltd’</p>
                                        <p><b>To</b>: 	‘Lombard provided by FlexiCards Australia Pty Ltd’.</p>
                                        <p><b>And</b></p>
                                        <p><b>From</b>: 	‘Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.’</p>
                                        <p><b>To</b>: 	‘Lombard® is a trademark of FlexiCards Australia Pty Ltd, a subsidiary of FlexiGroup Limited.’</p>
                                      </td>
                                    </tr>
                                  </table>
                                   
                                  <p>To help you update your existing sales and marketing materials for the Lombard 180 card, you can download a copy of the updated Lombard Retailer Marketing Guidelines <u>here</u>.</p>
                                  
                                   <h1 class="no-margin-margin"><font color="#F0575B"><b>Same trusted brand</b></font></h1>
  
                                  <p>The existing Lombard brand name, ABN and Australian Credit Licence number and your program agreement are not changing. Therefore, apart from the two changes above, it’s business as usual and you can continue offering Interest Free* through Lombard to customers as per your existing program agreement.</p>
                                 
                                  <p class="appleLinksBlack">If you have any questions, please call our Dealer Support team on 1300 132 301.</p>
                                  
                                  <p>Yours sincerely</p>
                                  
                                  <p class="no-margin-bottom">Verity Gilpin</p>
                                  
                                  <p class="no-margin-bottom"><b>General Manager – Sales</b></p>
                                  
                                  <p class="no-margin-bottom"><b>FlexiCards Australia Pty Ltd</b></p>
                                  
                                  
                                  
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="60" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>   
                                  

                                  <p class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">


                              <!-- T&C -->
                             *Credit approved applicants only; fees, terms and conditions apply.<br><br>
Lombard provided by FlexiCards Australia Pty Ltd, ABN 31 099 651 877 Australian Credit Licence number 247415.
Lombard® is a trademark of FlexiCards Australia Pty Ltd, a subsidiary of FlexiGroup Limited.

                                  </div>
                            </p>
                                  
                                </th>
                              </tr> 
                              <tr>
                                <td class="expander"></td>
                              </tr>
                            </table>                          
                    </th>                    
                  </tr>
                </table>
                <!-- /HEADER -->

 

               

              

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>                           
                            






                            <table>
                              <tr>
                                <td height="30px"></td>
                              </tr>
                            </table>
                          </td>

                            <table>
                              <tr>
                                <td bgcolor="#F0575B" height="15px"></td>
                              </tr>
                            </table>
                          </td>                        
                        </tr>
                        <tr>
                          <td class="expander"></td>
                       </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>