--- 
file_name: LBD_E_CashbackActivationv1.1
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img  class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                                                   
                          <table>
                            <tr>
                              <th class="text-right">
                                <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt=""><img class="float-right small-float-center" style="padding:0;width:130px;" width="130" src="http://cdn-au.mailsnd.com/598/812EEVfbkw1rz7ELMMAEge9uavUv4RbTEdX_f6QGBjA/1973079.gif" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>
                
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed=""> 
                                  <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank">
                                    <img width="650px" style="width:100%;" class="float-center" align="center" src="http://cdn-au.mailsnd.com/598/c_3i7lvdys1GhVw6PW6fK3WWiRDVR-Igu5e0i4kFkPk/1996101.jpg" /></a>
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                                      
                    <!-- /HEADER -->
  
                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
               

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                             <p>Dear ${firstName},</p>                           
                                    
                            <p>We are pleased to announce Flight Centre has joined the Lombard family!</p>
                              
                            <p>We have teamed up with Flight Centre to offer our customers up to <b>12 months Interest Free</b>* on domestic or international travel bookings, including flights, accommodation, tours, car hire… or the lot!</p>
                            
                            <p><b>So, if you’re thinking about taking that dream holiday, now is the perfect time!</b></p> 
                            
                            <p>Use the available credit on your Lombard account to book your next trip, and pay it off over time in equal instalments – Interest Free. Simply get a quote at Flight Centre and request to add the purchase to your Lombard account.</p>
                            
                            <p>Check out the latest Flight Centre deals now.</p>
                            
                               <p><a href="http://www.flightcentre.com.au/" target="_blank"><img src="http://cdn-au.mailsnd.com/598/hIemo4m7SiimzAUVjSfpau55qiIKHADZgwQ1VxALSX0/1973077.gif" style="display:inline !important;width:127px;" width="127"/></a></p>
                            
                            <p class="appleLinksBlack">If you have any questions contact us on <span class="primary-color appleLinksPrimary-color"><strong>1300 132 301</strong></span>, Monday to Friday 9am to 8:30pm or Saturday to Sunday between 9am and 4pm (AEST).</p>
                            
                            <p class="no-margin-bottom">Warm regards,</p>
                            
                            <p class="no-margin-bottom">Adam Frost</p>
                            
                            <p>Head of Cards</p>
                            
                          <p><img src="http://cdn-au.mailsnd.com/598/dnjWyZWfNLvgHLE9AK8wCAq1MVe9b39TW1Z7kf68_IM/1995833.gif" style="display:inline !important;"/></p>


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



<!--                        <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>     -->





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="http://cdn-au.mailsnd.com/598/oORBbu4-0G4Onn7VOpFRUG982Lzmbq_tTfaWQVVwT5w/1960742.gif" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	*Available to existing Lombard account holders. Terms, conditions, fees, charges and minimum finance amount may apply and is based on the Interest Free term. Additional Purchases are subject to the available credit on your account at the time of application. Interest is payable on any balance outstanding after the Interest Free term at the Annual Percentage Rate applicable to your account. Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877 Australian Credit Licence number 247415 (<b>Lombard</b>). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.
                              <br>
                              <br>


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>