--- 
file_name: ONC_E_FHAPPONLINE
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 

{% assign brand_name = "Once" %} 

{% if site.envi == "uat" %}
{% assign url = "https://www.onceonline.com.au/" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Logo%20Transparent.png" %}
{% assign login_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20Once_Login_70px.png" %}
{% assign login = "https://oa.onceonline.com.au/" %}
{% assign tel_top_icon = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20Once_Phone_70px.png" %}
{% assign few_steps = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Newsteps_Once.gif" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign activate_now = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20ActivateNow%20Transparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign icon-1 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20First_Once.png" %}
{% assign icon-2 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/onc_0001_Layer-1.png" %}
{% assign icon-3 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20Fee_Once.png" %}
{% assign icon-4 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20Debit_Once.png" %}
{% assign icon-5 = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/v2%20Tap_Once.png" %}


{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_L.png" %}
{% assign banner_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_R.png" %}
{% assign online_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}

{% endif %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td> 
                
                
                 <!-- HEADER -->
                <table class="row">
                  <tr>                   
                    <th class="small-12 large-12 columns first last" valign="bottom">                 
        
                      <table>
                        <tr>
                          <th>
                            
                              <a target="_blank" href="{{ url }}"><img src="{{logo}}" alt="Once logo" align="right" class="float-right small-float-center flexi-logo" src="{{ logo }}" ></a>
                            
                          </th>
                          
                        </tr>
                      </table>             

                    </th>
                   
                  </tr>
                </table>
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table>
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last" valign="bottom">

                      <table>
                        <tr>
                          <th class="text-color text-size">

                           <p class="text-right small-text-center">${letterTodayDate}</p>

                          </th>
                          
                        </tr>
                      </table>

                    </th>
                   
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
              <!--/HEADER -->
                
                
              <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last text-color text-size">
                        <table>
                          <tr>
                            <th>
                              <h1 class="secondary-color"><b><span style="font-size:20px;">Application for Financial Hardship</span></b></h1>
                              <table>
                                <tr>
                                  <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                    <p><b><font color="#ffffff">REQUIREMENTS</b></font></p>
                                  </td>
                               </tr>
                                <tr>
                                  <td>
                                      {% include line-height.html %}
                                    
                                       <p>To apply for hardship assistance please complete the application form below. You must also provide us with the following supporting documents:</p>
                                    
                                      <table class="custom-margin-left" style="width:75%;">
                                            <tr>
                                              <td width="20"><p class="no-margin-bottom"><b>•</b></p></td>
                                              <td><p class="no-margin-bottom">Proof of income (e.g. last two pay slips, last tax return, Centerlink statements and/or a bank statement)</p></td>
                                            </tr>
                                            <tr>
                                              <td><p class="no-margin-bottom"><b>•</b></p></td>
                                              <td><p class="no-margin-bottom">Proof of liabilities/expenses (e.g. rent receipts or mortgage statements, credit or store card, personal loan, car loan statements and/or evidence of any other debts owing)</p></td>
                                            </tr>      
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Any default notices that may have been issued</p></td>
                                            </tr> 
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Proof of Acceptance of offer made to other creditors</p></td>
                                            </tr>
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Supporting documents specific to the claim (e.g. Medical certificate, employment separation certificate etc.)</p>
                                              {% include line-height.html %}
                                              </td>
                                            </tr>                                          
                                       </table><!--/list-->
                                   </td>
                                </tr><!--endRow-->
                                <tr>
                                              <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">APPLICANT/S DETAILS</b></font></p>
                                              </td>
                                </tr><!--endRow-->
                                <tr>
                                <td>
                                    {% include line-height.html %}
                                    
                                    <table class="row">
                                        <tr>
                                            <th class="small-12 large-2 first columns border-ltr border-bottom mobile-border" valign="top">
                                                <table>
                                                  <tr>
                                                    <td class="tbl-default-padd">
                                                      <p class="no-margin-bottom text-center">Applicant 1</p>
                                                    </td>
                                                  </tr>                                                 
                                                </table>
                                            </th>
                                            <th class="small-12 large-10 last columns border-bottom border-left" valign="top">
                                              <table>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Account Number: ${originalAccountNumber} </p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Surname: ${lastName}</p>
                                                  </td>
                                                  <td class="border-top border-right border-bottom tbl-default-padd">
                                                    <p class="no-margin-bottom">Given Name(s): ${firstName}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Date of Birth: ${dateOfBirth}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Residential Status: ${hshipResident}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Number of dependants: ${hshipDependents}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Reason for hardship: ${hshipReason}</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </th>
                                        </tr>  
                                    </table>
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">FINANCIAL POSITION</font></b></p>
                                              </td>
                             </tr><!--endRow-->
                             <tr>
                                <td>
                                    {% include line-height.html %}
                                    
                                    <table class="row">
                                        <tr>
                                            <th class="small-12 large-2 first columns border-ltr border-bottom mobile-border" valign="top">
                                                <table>
                                                  <tr>
                                                    <td class="tbl-default-padd">
                                                      <p class="no-margin-bottom text-center">Applicant 1</p>
                                                    </td>
                                                  </tr>                                                 
                                                </table>
                                            </th>
                                            <th class="small-12 large-10 last columns border-bottom border-left" valign="top">
                                              <table>
                                                <tr>
                                                  <td class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Employment Status: ${hshipEmployment}</p>
                                                  </td>
                                                <tr>
                                                  <td class="border-top border-right border-bottom tbl-default-padd">
                                                    <p class="no-margin-bottom">Have you applied for financial hardship with any other companies? ${hshipOthHardship}</p>
                                                  </td>
                                                </tr>                                                
                                                <tr>
                                                  <td class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Will this situation improve within 3 months?: ${hshipChange}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">Why do you think your situation will or will not change in the next 3 months? 
${hshipChangeWhy}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right tbl-default-padd">
                                                    <p class="no-margin-bottom">How much can you afford to pay? $${hshipAffordPay}  ${hshipPayFreq}</p>
                                                  </td>
                                                </tr>                                                
                                              </table>
                                            </th>
                                        
                              
                                    </table>
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">ASSETS - WHAT YOU OWN</font></b></p>
                                              </td>
                              </tr><!--endRow-->
                              <tr>
                                <td>
                                   
                                    
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Home / Properties</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                    <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Assets</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Present Value</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Home</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${asshome}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Other Real Estate</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${assOthRealEstate}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Home Contents</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${assHomeContent}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Motor Vehicles</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${assRegNum}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Savings</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${assCashBank}



</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns border-bottom first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Other Assets</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${assOther}



</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Income</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                  <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Income Type</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Monthly</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Income</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${mthIncNetPay}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Partners Income  </p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${mthIncPtnrNetPay}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Centrelink</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${mthIncCentrelink}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-bottom border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Total Other Income (i.e. dividends, interests, or rental income)</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${mthIncOtherInc}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">LIABILITIES - WHAT YOU OWE</font></b></p>
                                              </td>
                              </tr><!--endRow-->
                              <tr>
                                <td>
                                   
                                    
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Monthly Expenditure</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                    <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Type of Expenditure</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Total Value</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Home Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${liaCarLoan}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Personal Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${liaPerLoan}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Credit / Stores Cards/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${liaCreditCard}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr border-bottom mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Other Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr border-bottom">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${liaOthLiability}


</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                                                     
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Other Liabilities</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                  <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Types of Monthly Expenditure</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td class="tbl-default-padd" bgcolor="#e2f2fa"><p class="no-margin-bottom text-center"><font color="#00a6de">Monthly</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Rent / Mortgage repayments</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expMortgage}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Insurance</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expHmConInsur}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">School Fees</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expSchoolFee}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Electricty</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expElectricity}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Gas</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expGas}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Telephone</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expPhone}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Medical Expenses</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expCarInsur}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Rates (Council / Water)</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expRates}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Car / Travel</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expTravel}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Food</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expFood}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Clothing</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expClothing}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Entertainment  </p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expEntertain}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr border-bottom mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">Other</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td class="tbl-default-padd"><p class="no-margin-bottom">$${expOtherExp}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center tbl-default-padd" bgcolor="#00a6de">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">DECLARATION AND AUTHORITY</font></b></p>
                                              </td>
                             </tr><!--endRow-->
                             <tr>
                                 <td>
                                   {% include line-height.html %}
                                   
                                  <p>I/we have read and understood the particulars of this application. All particulars declared in this application are true, complete and correct and have been provided to Once Credit Pty Limited (‘Once Credit’) to assess my/our application for Hardship assistance.</p>
                                   
                                   <p>I/we acknowledge that if I/we have made an untrue representation or statement to obtain Hardship assistance, the application will be deemed ineligible for such assistance. Any application found to be in this position during the assistance period will result in the termination of this assistance and the credit contract will be managed in accordance with Once Credit’s collections policy.</p>                                   
                                   
                                    <p>I/we acknowledge and consent to the matters in the Privacy Disclosure and Consent Statement. I/we understand and agree that a credit check may be undertaken as part of this application. I/we also acknowledge and agree that Once Credit may contact a third party, such as your employer, accountant, solicitor, financial representative or other referee/s to verify the accuracy of the information provided.</p>
                                   
                                   <p>I/ we declare that where I/we have provided personal information about any other person (such as a referee, employer, solicitor, financial representative or other contact), I/ we agree to immediately advise them:</p>
                                   <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p><b>•</b></p></td>
                                      <td><p>That I/we have provided this information to Once Credit;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>The reason I/we have provided this information;</p></td>
                                    </tr>
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>Once Credit’s contact details;</p></td>
                                    </tr>
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>That they can gain access to their personal information by contacting Once Credit; and</p></td>
                                    </tr>                                     
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>That Once Credit collect, use and disclose personal information pursuant to the Privacy Disclosure and Consent Statement.</p></td>
                                    </tr>
                                    
                                  </table>
                                   
                                   {% include line-height.html %}
                      {% include line-height.html %}
                                 </td>
                               </tr><!--endRow-->                           
                              </table><!--/fullTable-->
                              
                              </th>
                            <th class="expander"></th>
                          </tr>  
                        </table> 
                      
                    </th>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                              <!-- T&C -->
                             *Credit provided by Once Credit Pty Limited ABN 99 112 319 632, Australian Credit Licence number 386194 (Once). <br>
Once® is a trademark of Once. Once is a subsidiary of FlexiGroup Limited.<br />

<br>
                              
                            
                              
                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                
                
                
                </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>