--- 
file_name: Friday_02
category: Email-Projects
tags: [Freddy-special-request]
--- 






<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  
    <style>
     v:* { behavior: url(#default#VML); display: inline-block; }
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                      <!--Background-->   
                         <table class="row" cellspacing="0" cellpadding="0">
                            <tr cellspacing="0" cellpadding="0">
                               <td class="small-12 large-12 columns first last" cellspacing="0" cellpadding="0" style="background-image:url('http://flexipedia.com.au/marketing/images/e02_freddy-650x400.png');background-repeat:no-repeat;background-position:center;vertical-align:middle;" width="100%" height="400" background="http://flexipedia.com.au/marketing/images/e02_freddy-650x400.png" valign="middle">
                               <!--[if gte mso 9]>
                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:650px;height:400px;vertical-align:middle;" valign="middle">

                        <v:fill type="frame" src="http://flexipedia.com.au/marketing/images/e02_freddy-650x400.png" color="#ffffff" valign="middle" style="vertical-align:middle;width:650px;height:400px;" />
<v:textbox inset="0,0,0,0" style="vertical-align:middle;" valign="middle"><![endif]-->

                                  <!--[if gte mso 9]>
                                 <table>
                                      <tr>
                                        <th class="outlookHeightFix" height="185" style="mso-line-height-alt:0;"></th>                                
                                      </tr>
                                 </table>  
                                <![endif]-->
                                 
                                 
<table height="400">
                                  <tr>
                                    <th style="vertical-align:middle;">
                                      <h1 class="text-center"><b>HEADER 1</b></h1>
                                      
                                      <h1 class="text-center">Topping liquorice jelly cheesecake jelly-o toffee jelly lemon drops</h1>
                                    </th>
                                    <th class="expander"></th>
                                  </tr>
                                 </table>


                    <!--[if gte mso 9]>
    </v:textbox>
  </v:rect>
<![endif]-->
                                 
                                 
                                 
                               </td>  
                            </tr>    
                         </table>
                      <!--/Background-->
                
                                               
                
                <!-- /HEADER -->

                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="40" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">                            

                           <!-- start slipsum code -->

                            <p>Apple pie cake marshmallow dessert. Sweet croissant jelly beans. Caramels carrot cake gummies candy canes cake lollipop powder.</p>
                            
                                                      
                                             

                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                            </table> 
                            
                            <p class="text-center"><img style="display:inline !important;" src="http://flexipedia.com.au/marketing/images/e01_freddy-button-130x35.png" alt="botton"></p>
                            
                         
                            
                            
                            
                           


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->

               

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                            <br />






                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>