--- 
file_name: Friday_01
category: Email-Projects
tags: [Freddy-special-request]
--- 






<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                      <!--Banner-->   
                          <table class="row" cellspacing="0" cellpadding="0"> 
                            <tr>
                              <th class="small-12 large-12 columns first last">
                                <table cellspacing="0" cellpadding="0">
                                  <tr>
                                    <th>
                                      <center data-parsed="">
                                        <img style="width:100%;" src="http://flexipedia.com.au/marketing/images/e01_freddy-banner.png" alt="banner" align="center" class="float-center">
                                      </center>
                                    </th>
                                    <th class="expander"></th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                      <!--/Banner-->
                
                      <!--Intro-Image-->   
                      <table class="row" cellspacing="0" cellpadding="0">
                         <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                      <table bgcolor="#69767c" class="row collapse" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <th class="small-12 large-6 columns first">
                                             <img style="width:100%;" src="http://flexipedia.com.au/marketing/images/e01_freddy-325x200.png" alt="image of 325x200" align="center" class="float-center">
                                          </th>
                                          <th class="small-12 large-6 columns last">
                                             <img style="width:100%;" src="http://flexipedia.com.au/marketing/images/e01_freddy-325x200.png" alt="image of 325x200" align="center" class="float-center">
                                          </th>
                                        </tr>
                                      </table>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>  
                         </tr>  
                      </table>
                
                          
                      <!--/Intro-Image-->                         
                
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">                            

                           <!-- start slipsum code -->

                            <p>Apple pie cake marshmallow dessert. Sweet croissant jelly beans. Caramels carrot cake gummies candy canes cake lollipop powder.</p>
                            
                            <p>Topping liquorice jelly cheesecake jelly-o toffee jelly lemon drops. Donut jujubes dessert jelly-o topping gummi bears jelly. Cookie biscuit marzipan icing lollipop tootsie roll.</p>
                            
                            <p>Dessert wafer pastry tootsie roll chocolate bar cake dessert. Tootsie roll bonbon dragée pudding chocolate cake candy canes tootsie roll pastry. Dragée cookie tiramisu chocolate bar gingerbread dessert sugar plum.</p>
                            
                                             

                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                            </table> 
                            
                          <table>
                              <tr><td class="eot_bottomNumber_mobile_view"><a target="_blank" href="#"><img style="display:inline !important;" src="http://flexipedia.com.au/marketing/images/e01_freddy-button-130x35.png" alt="botton"></a></td><td> <a target="_blank" href="#"><img style="display:inline !important;" src="http://flexipedia.com.au/marketing/images/e01_freddy-button-130x35.png" alt="botton"></a></td></tr>
                            </table>  
                            
                            
                            
                           


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->

               

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                            <br />






                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>