---
file_name: Lombard
category: Email-Projects
tags: [Special-request]
---

{% include brand-controller.html %}
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
   <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-7 large-7 columns first" valign="bottom">

                              <table>
                                <tr>
                                  <th>                              
                                    

                                  <a target="_blank" href="{{ url }}"><img class="float-left flexi-logo" src="{{ logo }}" /></a>                              
                                  
                                  </th>
                                </tr>
                              </table>

                            </th>
                            <th class="small-5 large-5 columns last" valign="bottom">                         

                                  <table>
                                    <tr>
                                      <th class="text-right">
                                      <a target="_blank" href="{{ login }}"><img height="34" width="127" align="left" class="log-in" style="display:inline;padding:0;clear:none;" src="{{ login_img }}" /></a> <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img height="34" width="127" align="right" class="float-right small-float-right top-icon" style="padding:0;clear:none;" src="{{ tel_top_icon }}" /></a>
                                      </th>
                                    </tr>
                                  </table>

                             
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-7 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="float-left small-float-center flexi-margin-bottom" src="{{few_steps}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-5 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-color custom-width">                                
                                <table class="acc-dtls">
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin no-margin-bottom primary-color text-size-account-details"><strong>ACCOUNT DETAILS</strong>
                                          <XXX>
                                      <p class="flexi-margin-left no-margin-bottom text-size-account-details"><strong>Account Number:</strong>
                                        ${originalAccountNumber}
                                      </p>
                                      <p class="flexi-margin-left text-size-account-details"><strong>Customer ID:</strong>
                                      ${borrowerCustomerId}<br><br>
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify">                             
                                       
                                  <p>Dear ${firstname},</p>

                                  <p>Now that you’ve settled in with Lombard, we’d like to remind you of a few things coming up.</p>

                                  <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first">
                                         <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">
                                          <img class="lombard-img" height="100" src="{{icon-1}}"><br><br>
                                          </center>
                                          </th>
                                        </tr>
                                      </table>
                                        
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                      
                                          <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>Your first statement</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">This will be sent to you in the next two weeks confirming when your first repayment is due. If you have already set up a Direct Debit, you can double check your payment arrangement on your first statement under ‘Payments’. Your email statement will be sent from <a class="link-color" href="mailto:customerservice.cards@flexigroup.com.au" title="customerservice.cards@flexigroup.com.au"><u>customerservice.cards@flexigroup.com.au</u></a>. This may appear as ‘Customer Service’ in your inbox, so please keep an eye out for it. If you would like to receive a paper statement, please contact us. Note that there is a <strong>$1 Paper Statement Fee</strong> for every statement sent by mail. </p>
                                          
                                        
                                       
                                      </th>
                                    </tr>
                                  </table>

                              <table>
                                <tr>
                                  <td height="5" class="outlookHeightFix"></td>
                                </tr>
                              </table> 

                              <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first" valign="top">

                                       <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">
                                          <img class="lombard-img" height="100" src="{{icon-2}}"><br><br>
                                          </center>
                                          </th>
                                        </tr>
                                      </table>
                                        
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                        
                                        <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>Accessing Statements</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">Your E-Statements are password protected. The Statement Access Password will be your Date of Birth followed by your Surname in the following format: <strong>ddmmmyyyysurname</strong>.
For example, if your Date Of Birth is 1 January 1978 and your Surname is Sample, your password will be <strong>01jan1978sample</strong>.
Please note, the password is case sensitive and requires all letters in lower case.</p>
                                      </th>
                                    </tr>
                                  </table> 

                              <table>
                                <tr>
                                  <td height="5" class="outlookHeightFix"></td>
                                </tr>
                              </table> 

                            

                              <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first" valign="top">
                                     <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">                                           
                                        <img class="lombard-img" height="100" src="{{icon-3}}"><br><br>
                                          </center>
                                          </th>

                                        </tr>
                                      </table>
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                        
                                        <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>Online Access</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">To manage your account online, log in using your Customer ID and the password you selected at the time of application. If you have forgotten your password for  <a class="link-color" target="_blank" href="{{ login }}"><u>Online Access</u></a>, please call us.</p>
                                      </th>
                                    </tr>
                                  </table> 

                                <table>
                                <tr>
                                  <td height="5" class="outlookHeightFix"></td>
                                </tr>
                              </table> 

                              <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first" valign="top">
                                      <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">                                           
                                        <img class="lombard-img" height="100" src="{{icon-4}}"><br><br>
                                          </center>
                                          </th>

                                        </tr>
                                      </table>
                                        
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                        
                                        <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>Apple Pay</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">To use Apple Pay, add your active Lombard card to the wallet app on a compatible Apple Pay device. Using Apple Pay is simple, and your card information is secure because it isn’t stored on your device or shared when you pay. Paying in stores, apps and on the web has never been easier, safer, or more private*.</p>
                                      </th>
                                    </tr>
                                  </table> 
<table>
                                <tr>
                                  <td height="5" class="outlookHeightFix"></td>
                                </tr>
                              </table> 


                                   <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first" valign="top">
                                      <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">                                           
                                        <img class="lombard-img" height="100" src="{{icon-5}}"><br><br>
                                          </center>
                                          </th>
                                        </tr>
                                      </table>
                                        
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                        
                                          <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>The Annual Fee</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">This needs to be paid in full, in addition to the Minimum Monthly Payment, by the first payment due date to avoid being charged any interest on the Annual Fee. Please refer to the ‘<strong>Optional Repayment – 55 Days Interest Free</strong>’ amount on your first statement and pay this to avoid any interest charges.</p>
                                      </th>
                                    </tr>
                                  </table> 

                                  
                               <table>
                                <tr>
                                  <td height="5" class="outlookHeightFix"></td>
                                </tr>
                              </table> 

                              <table class="row quaternary-bg-color section">
                                    <tr>
                                      <th class="small-3 large-3 columns first" valign="top">
                                      <table>
                                         <tr>
                                           <td height="15"></td>
                                         </tr>
                                        <tr>
                                          <th>                                          
                                          <center data-parsed="">
                                           <img class="lombard-img" height="100" src="{{icon-6}}"><br><br>
                                          </center>
                                          </th>
                                        </tr>
                                      </table>
                                        
                                      </th>
                                      <th class="small-9 large-9 columns last">
                                        
                                        <h6 class="margin-lr primary-color msoMarginTopFix msoMarginLeftFix msoMarginRightFix"><strong>The Non-Direct Debit Fee</strong></h6>

                                          <p class="margin-lr msoMarginBottomFix msoMarginLeftFix msoMarginRightFix">We charge a <strong>$2.50 fee</strong> for every payment you make via <strong>BPAY</strong> or <strong>Australia Post</strong>. There is <strong>no charge</strong> for payments made via <strong>Direct Debit</strong>. If you haven’t already, to set up a Direct Debit complete the <a href="{{LDB_form}}"><span class="link-color"><u>Direct Debit Request Form</u></span></a>, scan and email it back to <a class="link-color" href="mailto:customerservice.cards@flexigroup.com.au" title="customerservice.cards@flexigroup.com.au"><u>customerservice.cards@flexigroup.com.au</u></a></p>
                                      </th>
                                    </tr>
                                  </table>

                                  <table>
                                <tr>
                                  <td height="15" class="outlookHeightFix"></td>
                                </tr>
                              </table> 

                                        
                                      

                                  <p class="appleLinksBlack">If you have any questions contact us on {{BrandPhoneNumber}}, Monday to Friday between 9am and 9pm or Saturday to Sunday between 9am and 5pm (AEST).</p><br>

                                  <p>We’re here to help!</p> <br>

                                  <p class="no-margin-bottom">Kind regards,</p>

                                  <p class="no-margin-bottom">Customer Service Team</p>                                  
                                 

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="15"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                      <p class="text-size-footer text-color" style="line-height:190%;text-align:justify;">*Apple Pay works with iPhone 6 and later in stores, apps and websites in Safari; with Apple Watch in stores and apps; with iPad Pro, iPad Air 2 and iPad mini 3 and later in apps and websites; and with Mac in Safari with an Apple Pay enabled iPhone 6 or later or Apple Watch. For a list of compatible Apple Pay devices, see <a class="link-color" target="_blank" href="https://support.apple.com/en-au/Km207105">https://support.apple.com/Km207105</a>. Apple, the Apple logo, Apple Pay, Apple Watch, iPad, iPhone, Mac, Safari, and Touch ID are trademarks of Apple Inc., registered in the U.S. and other countries. Credit provided by Lombard Finance Pty Ltd ABN <span class="appleLinksBlack">31 099 651 877</span> Australian Credit Licence number 247415 (<strong>Lombard</strong>). Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.</p><br />
                                                                             
                                     

                                    
                                      

                                      </div>
                                    <br>
                                    
                                     
                                     



                                     <table>
                      <tr>
                        <td height="75px"></td>
                      </tr>
                    </table>   
                                      </td>
                                           

                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




