---
file_name: FLR_E_Annual_Statement
category: Email-Projects
tags: [Statement-of-Account]
---
{% include statement-controller.html %}
{% include variables.html %}


{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#3E6683" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A0DF" %}
  {% when 'FlexiWay' %}
   {% assign color = "#6f2c91" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}





<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                   
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                                                      
                          
                      
                    
                    <table class="row">
                      <tr>
                        <th class="small-12 large-7 columns first" valign="bottom">
                          <table>
                            <tr>
                              <th>
                                                         
                                  
                                       <img style="Margin-top:10px!important;margin-top:10px!important;" class="small-float-center" src="{{ annual_statement }}" />
                                    
                                 
                              </th>                             
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-5 columns last">
                          <table>
                            <tr>
                              <th>
                                
                                {% if site.flexi-brand == "FlexiCommercial" %}
                                  {% assign secondary-color = "primary-color" %}                        
                                {% else %}
                                  {% assign secondary-color = "secondary-color" %}
                                {% endif %}
                                                         
                                  <p style="font-size:18px;line-height:145%;" class="statement-margin-top statement-margin-bottom text-right small-text-center"><a class="{{secondary-color}}" href="tel:{{ tel | remove: " " }}">{{tel}}</a></p>
                                
                                {% if site.flexi-brand == "FlexiRent" or site.flexi-brand == "FlexiCommercial" %}
                                  {% assign link-color = "secondary-color" %}  
                                {% else if site.flexi-brand == "FlexiWay" or site.flexi-brand == "FlexiCommercial" %}
                                 {% assign link-color = "primary-color" %}  
                                {% else %}
                                  {% assign link-color = "link-color" %}
                                {% endif %}
                            
                                {% if site.flexi-brand == "FlexiRent" %}
                                <p style="font-size:18px;line-height:60%;" class="statement-margin-bottom text-right small-text-center"><a class="{{link-color}}" href="{{ url }}">{{url | remove: 'https://www.' | remove: '/' | replace: "flexirent.com.au", "FlexiRent.com.au" }}</a></p>
                                {% else %}
                                <p style="font-size:18px;line-height:60%;" class="statement-margin-bottom text-right small-text-center"><a class="{{link-color}}" href="{{ url }}">{{url | remove: 'https://www.' | remove: '/' }}</a></p>
                                {% endif %}
                                 
                                    
                                 
                              </th>                             
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                    
                     <table>
                                <tr>
                                  <th class="outlookHeightFix" height="2" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                    
                   {% if site.flexi-brand == "FlexiCommercial" %}
                    <table>
                                <tr>
                                  <th height="25" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                    {% else %}
                     <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                  {% endif %}
                    
                    <table>
                                <tr>
                                  <th height="5" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                    <table class="row">
                      <tr>
                        <th class="small-12 large-7 columns first">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                                <table>
                                  <tr>
                                    <th>
                                      <p class="statement-margin-bottom statement-margin-top">Customer Full Name</p>
                                      <p class="statement-margin-bottom">Address Line 1</p>
                                      <p class="statement-margin-bottom">Address Line 2</p>
                                      <p class="statement-margin-bottom-last">Address Line 3</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-5 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th>
                                       <img style="Margin-bottom:2px;margin-bottom:2px;" src="{{ account_summary }}" />
                                      
                                    </th>
                                  </tr>
                                </table>
                            {% if site.flexi-brand == "SmartWay" %}  
                             {% assign quaternary-bg-color = "smrtway-quaternary-bg-color" %}
                             {% assign link-color = "statement-quaternary-color" %}
                            {% else %}
                              {% assign quaternary-bg-color = "quaternary-bg-color" %}                              
                             {% endif %}
                                
                                
                                <table>
                                  <tr>
                                    <th class="{{quaternary-bg-color}}">
                                      <p class="statement-margin-bottom statement-margin-top statement-margin-left"><span class="{{link-color}}"><strong>Agreement no:</strong></span> [X]</p>
                                      <p class="statement-margin-bottom statement-margin-left"><span class="{{link-color}}"><strong>Product:</strong></span> [X]</p>
                                       <p class="statement-margin-bottom statement-margin-left"><span class="{{link-color}}"><strong>Statement date:</strong></span> [X]</p>
                                      <p class="statement-margin-bottom statement-margin-left"><span class="{{link-color}}"><strong>Statement period:</strong></span> [X]</p>
                                      <p class="statement-margin-bottom statement-margin-left"><span class="{{link-color}}"><strong>Monthly rental payment:</strong></span> [$X]</p>
                                      <p class="statement-margin-bottom statement-margin-left"><span class="{{link-color}}"><strong>End of term date:</strong></span> [$X]</p>
                                      <p class="statement-margin-bottom-last statement-margin-left"><span class="{{link-color}}"><strong>Amount in arrears:</strong></span> [$X]</p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                           <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table class="annual-table">
                              <col style="width:10%;">
                              <col style="width:23%;">
                              <col style="width:10%;">
                              <col style="width:10%;">
                              <col style="width:17%;">
                              <tr>
                                {% if site.flexi-brand == "FlexiRent" %}
                                 {% assign secondary-color = "primary-color" %}
                                {% else %}
                                 {% assign secondary-color = "secondary-color" %}
                                {% endif %}
                                <th class="statement-quaternary-bg-color"><p><span class="{{secondary-color}}"><strong>Date</strong></span></p></th>
                                <th class="statement-quaternary-bg-color"><p><span class="{{secondary-color}}"><strong>Transaction</strong></span></p></th>
                                <th class="statement-quaternary-bg-color"><p class="text-right"><span class="{{secondary-color}}"><strong>Debit</strong></span></p></th>
                                <th class="statement-quaternary-bg-color"><p class="text-right"><span class="{{secondary-color}}"><strong>Credit</strong></span></p></th>
                                <th class="statement-quaternary-bg-color"><p class="text-right"><span class="{{secondary-color}}"><strong>GST</strong></span></p></th>
                              </tr>
                              <tr>
                                <td><p>[dd/mm/yyyy]</p></td>
                                <td><p>[Details]</p></td>
                                <td><p class="text-right">[$X]</p></td>
                                <td><p class="text-right">[$X]</p></td>
                                <td><p class="text-right">[$X]</p></td>
                              </tr>
                            </table>


                            
                   {% include line-height.html %}     

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                    <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                    
                    
                        <table class="row">
                              <tr>
                                <th class="small-12 columns large-10 first">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                     
                                       
                                     

                                      <p class="text-size-footer appleLinksBlack">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'SmartWay' %}                                                                                   {{brand_name}}® is a trademark of Flexirent. 
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>           
                                        <br><br>
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                        
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                                <th class="small-12 large-2 columns last" valign="top">
                                     <table>
                                        <tr>
                                          <th>                              


                                          <a target="_blank" href="{{ url }}"><img class="float-right small-float-center" src="{{ logo }}" /></a>     
                                            

                                          </th>
                                        </tr>
                                      </table>
                                </th>
                              </tr>
                            </table>
                    
                    
                    <table>
                                <tr>
                                  <th class="outlookHeightFix" height="25" style="mso-line-height-alt:0;line-height:0;"></th>                                  
                                </tr>
                   </table>
                    
                    
                    

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




