---
file_name: 01_Lisa_E_Welcome_Lisa
category: Email-Projects
tags: [Re-branding]
tagsOn: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#3E6683" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A0DF" %}
  {% when 'FlexiWay' %}
   {% assign color = "#6f2c91" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}





<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                           {% when 'Lisa' %}
                                            {{page.file_name | replace: "FLR", "LSA"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
  
  
  <style>
		@font-face {
			font-family: Chapeau-Bold, Arial, Helvetica, sans-serif;
			src: url(https://flexipedia.com.au/fonts/Chapeau-Bold.woff) format('woff');
		}

		.bold {
			font-family:'Chapeau-Bold', 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;
			font-weight:700;
		}
	</style>
  
  
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container" bgcolor="#fefefe">
                <tr>
                  <td>

                  <!-- HEADER -->
                    
                    <table bgcolor="#97d8ea" class="wrapper">
                      <tr>
                        <td class="wrapper-inner" style="padding:20px 0;" valign="middle">
                            
                                    <table class="row">
                                      <tr>
                                        <th class="small-12 large-12 columns first last">
                                          <table>
                                            <tr>
                                              <td>
                                                <a target="_blank" href="{{ url }}"><img class="float-left" src="{{ logo }}" height="32" style="height:32px;"/></a>  
                                              </td>
                                              <td class="expander"></td>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>                      
                                    </table>
                                  
                        </td>
                      </tr>
                    </table>                  

                    
                    {% include line-height.html %}
                    
                    <table class="wrapper">
                      <tr>
                        <td style="padding:5px 0;">
                          
                          <table class="row">
                            <tr>
                              <th class="small-12 large-12 columns first last">
                                <table>
                                  <tr>
                                    <td class="text-color">

                                            <p class="text-right" style="font-size:12px;Margin-bottom:5px;"><b>Agreement Number: {{ContractID}}</b></p>
                                     

                                    </td>
                                    <td class="expander"></td>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                        </table>
                          
                        </td>
                      </tr>
                    </table>
                    
                 <!-- end of header -->  
                    
                     <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>   
                       

                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="outlookLineHeightFix">
                                  
                                  <p>Hi {{FirstName}},</p>
                                  
																	{% include line-height.html %}
																	
                                  <table class="row">
                                      <tr>
                                        <th class="small-12 large-12 columns first last">
                                          <table>
                                            <tr>
                                              <td>
																								<!--                                                 <img class="float-left" src="{{ welcome }}" alt="Welcome to Lisa."/>   --> <h1><b><span class="primary-color">Welcome to Lisa, a new era in Leasing.</span></b></h1>
                                              </td>
                                              <td class="expander"></td>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>                      
                                    </table>
																	
																	{% include line-height.html %}
																	{% include line-height.html %}

                                  <p>Life and products have a habit of changing. But when you lease with Lisa, you can always have the latest and greatest with certain protection to boot.
                                    </p>
                                   
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                            </th>                          
                        </tr>
                      </table>
                    
                   <table>
   <tr>
      <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;line-height:0;"></th>                              
   </tr>
</table>
									
                            
                                    <table bgcolor="#3A0839" class="row collapse">
                                      <tr>
                                        <th bgcolor="#3A0839" class="small-12 large-6 columns no-padding-left no-padding-right" valign="middle">
                                          
                                          <table style="width:100%;">
                                            <tr>
                                              <td style="padding:58px 16px;" style="width:100%;">
                                                  
                                                        <h1 class="no-margin-bottom" style="width:100%;color:#97d8ea;font-size:30px;line-height:34px;"><b>Say hello to Lisa</b></h1>
                                                        <p class="no-margin-bottom" style="color:#ffffff;line-height:25px;">Being a <b>Lisa</b> definitely has its perks.</p>
                                                        <p class="no-margin-bottom" style="color:#ffffff;">Take a look for yourself.</p>
                                                     
																							
																								
                                              </td>
                                            </tr>
                                          </table>
                                          
                                          
                                        </th>
                                        <th class="small-12 large-6 columns no-padding-left no-padding-right">
																					
																					
																					<table>
																						<tr>
																							<th>
																								
																									<a href="{{url}}" target="_blank" alt="Just have fun"><img align="right" class="small-float-center float-right" src="{{media_player}}" alt="Just have fun" style="width:100%;"> </a>
																							
																							</th>
																						</tr>
																					</table>
																				</th>
																				
                                      </tr>                      
                                    </table>
                   
                    <table>
   <tr>
      <th class="outlookHeightFix" height="25" style="mso-line-height-alt:0;line-height:0;"></th>                              
   </tr>
</table>
                    
                    <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <h1 class="flexi-margin-bottom primary-color"><strong>Lisa cares.</strong></h1>
                                  
                                  <p>
                                    Lisa understands that life happens, so your goods are usually protected in the event of theft, accidental loss or accidental damage.<sup>1</sup> Lisa also provides loaner equipment at no cost on laptops, smartphones, tablets and digital cameras, if they are in for repair.<sup>2</sup></p>
																	
																	{% include line-height.html %}
																	
																	<h1 class="flexi-margin-bottom primary-color"><strong>Lisa moves with you.</strong></h1>
                                  
                                  <p>
                                    Relax, you have choices. Lisa is quite flexible.
                                    </p>
                                   
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                            </th>                          
                        </tr>
                      </table>
                    
                    {% include line-height.html %}
                    {% include line-height.html %}
                               
                    
                    <table>
                      <tr>
                        <td class="lisa_first lisa_last">
                            <table class="wrapper">
                      <tr>
                        <td bgcolor="#97d8ea" class="wrapper-inner" style="padding:35px 24px;">
                          <table class="row">
                            <tr>
                              <th class="small-12 large-2 columns first">
                                <table>
                                  <tr>
                                    <td>
																			
                                      <img class="float-center" src="https://flxuat.credagility.com/fleximg/GetImage/images/Lisa_icon_upgrade.png" alt="Lisa icon upgrade" width="65" height="65" style="width:65px;height:65px;Margin-top:10px;">
																		
                                    </td>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-12 large-10 columns last text-size text-color">
                                 <table>
                                  <tr>
                                    <th class="outlookLineHeightFix">
                                      <h1 class="primary-color"><b>Early Upgrade and Return</b></h1>
                                      <p>At any time after {{SwitchPointDate}}, you can apply to upgrade to new or different goods on a new lease for goods over $500. When the existing goods are returned, we'll waive the remaining lease payments on your current lease.<sup>3</sup>
																				
																				</p>                                      
                                      
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                          
                    {% include line-height.html %}
                    {% include line-height.html %}
                          
                          <table class="row">
                            <tr>
                              <th class="small-12 large-2 columns first">
                                <table>
                                  <tr>
                                    <td>
																			
                                      <img class="float-center" src="https://flxuat.credagility.com/fleximg/GetImage/images/Lisa_icon_return.png" alt="Lisa icon return" width="65" height="65" style="width:65px;height:65px;Margin-top:10px;">
																			
                                    </td>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-12 large-10 columns last text-size text-color">
                                 <table>
                                  <tr>
                                    <th class="outlookLineHeightFix">
                                      <h1 class="primary-color"><b>Return:</b></h1>
                                      <p>No need for the goods any longer? If you return them with their manuals and accessories at the end of your lease and make sure all your payments have been made, we'll close your agreement.
																			</p>                                      
                                      
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                          
                    {% include line-height.html %}
                    {% include line-height.html %}
                          
                          <table class="row">
                            <tr>
                              <th class="small-12 large-2 columns first">
                                <table>
                                  <tr>
                                    <td>
																		
                                      <img class="float-center" src="https://flxuat.credagility.com/fleximg/GetImage/images/Lisa_icon_continue%20to%20lease.png" alt="Lisa icon continue to lease" width="65" height="65" style="width:65px;height:65px;Margin-top:10px;">
																			
                                    </td>
                                  </tr>
                                </table>
                              </th>
                              <th class="small-12 large-10 columns last text-size text-color">
                                 <table>
                                  <tr>
                                    <th class="outlookLineHeightFix">
                                      <h1 class="primary-color"><b>Continue to Lease:</b></h1>
                                      <p>Waiting for a new model to be released once your lease has ended? Simply call us and we'll arrange a continuation of your lease.</p>                                      
                                      
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table> 
                        </td>
                      </tr>
                    </table>
                    
                    
                    
                    {% include line-height.html %}
                    {% include line-height.html %}
                   
                    
                    <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="outlookLineHeightFix">
																	
																	<h1 class="flexi-margin-bottom primary-color"><strong>Lisa gives old goods new life.</strong></h1>
																	
																	<p>After your lease, Lisa sells and repurposes your old goods to schools and communities in need around the world.<sup>4</sup></p>
                                  
                                  <h1 class="flexi-margin-bottom primary-color"><strong>Need help?</strong></h1>
                                  
																	<p class="appleLinksBlack">For more information go to <a href="https://bealisa.com.au" target="_blank">bealisa.com.au</a> or call us on <b>1800 225 472</b>, Mon-Fri 9am-9pm, Sat-Sun 9am-5pm (AEST). We'd be happy to chat.</p>
                                  
                                  <p>Welcome to owning less and enjoying more.</p>
                                  
                                  {% include line-height.html %}
                                  
                                  <p>The team at <b>Lisa.</b></p>
                                   
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                            </th>                          
                        </tr>
                      </table>
                  
                    {% include line-height.html %}
                    {% include line-height.html %}
                    {% include line-height.html %}
                    {% include line-height.html %}
                    
                    
                    <!--/CONTENT-->
                    
                    <table class="row">
                      <tr>
                        <td class="lisa_first lisa_last">
                          <table class="wrapper">
                      <tr>
                        <td bgcolor="#97d8ea" class="wrapper-inner" style="padding:5px 0;">
                            
                                    <table class="row">
                                      <tr>
                                        <th class="small-12 large-12 columns first last">
                                          <table>
                                            <tr>
                                              <td>
                                                <h1 class="no-margin-bottom primary-color text-center"><b>Your Lease Agreement Details</b></h1>
                                              </td>
                                              <td class="expander"></td>
                                            </tr>
                                          </table>
                                        </th>
                                      </tr>                      
                                    </table>
                                  
                        </td>
                      </tr>
                    </table>
                        </td>
                      </tr>
                    </table>
                    
                    <table class="row collapse">
                      <tr>
                        <td class="lisa_first lisa_last">
                           <table class="wrapper">
                              <tr>
                                <td bgcolor="#ebebeb" class="wrapper-inner" style="padding:35px 12px;">
																	
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Full name:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${lettername}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Address:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>	${displayAddress}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Product:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${flexiProduct}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Customer Number:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${primaryEntityID}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Lease Agreement Number:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${originalAccountNumber}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Interim Lease Payment:<sup>5</sup></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${displayInterimPayment}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Monthly Payment Amount:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${fourthPaymentAmount}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Monthly Payment Due Date:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${monthlyPaymentDay}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Lease Start Date:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${displayStartDate}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Switch-Point Date:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${switchPointDate}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Total Number of Lease Payments:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${loanTerm}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-6 columns first text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Scheduled Agreement End Date:</p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																			<th class="small-12 large-6 columns last text-color text-size">
																				
																					<table>
																					<tr>
																						<td>
																							<p><b>${displayEndDate}</b></p>
																						</td>
																					</tr>
																				</table>
																				
																			</th>
																		</tr>
																	</table>
																	
																	{% include line-height.html %}
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-12 columns first last text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p>Leased Goods:<sup>6</sup></p>
																						</td>
																						<td class="expander"></td>
																					</tr>
																				</table>
																				
																			</th>																			
																		</tr>
																	</table>
																	
																	<table class="row">
																		<tr>
																			<th class="small-12 large-12 columns first last text-color text-size">
																				
																				<table>
																					<tr>
																						<td>
																							<p><b>${assetsSummary}</b></p>
																						</td>
																						<td class="expander"></td>
																					</tr>
																				</table>
																				
																			</th>																			
																		</tr>
																	</table>
																	
																	
                                  
                                </td>
                              </tr>
                            </table>
                        </td>
                          </tr>
                    </table>
                    
                   
                    
                   

                    
                    
                    {% include line-height.html %}
                    {% include line-height.html %}
                    {% include line-height.html %}
                    {% include line-height.html %}
                    
                    
                    


                     <!-- Footer line -->
                    
                     <table class="wrapper">
                      <tr>
                        <td class="wrapper-inner" style="padding:1px 0;">
                          <table class="row collapse">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <table>
   <tr>
      <th bgcolor="#3a093a" class="outlookHeightFix" height="2" style="mso-line-height-alt:0;line-height:0;"></th>
   </tr>
</table>
                                  </th>
                                  
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                        </td>
                       </tr>
                    </table>
                          
                    {% include line-height.html %}
                    {% include line-height.html %}
                    
                        <!-- /footer line-->

                    
                    
                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                      1 Subject to terms and conditions and important exclusions and limitations.<br />                                     
                                      2 FlexiCare loaner dispatched within 1 business day subject to delivery to all Australian metro areas and request made during business hours<br />
                                      
                                     3 Upgrade subject to approval. A lease payment waiver is available for the original goods if the upgrade and return occurs after the Switch-Point. Terms and conditions apply. <br />
																				
                                     4 Arranged through a third party provider in accordance with its requirements.<br>
																				
																		 5 Interim Lease Payment applies when the goods are taken by the customer before the start of the Lease Agreement. It is the amount payable for the period of time between the Agreement Start Date and the date the goods are taken up by the customer. <br>
																				6 The “Leased Goods” section is a detailed description of the goods the subject of your Lease Agreement and this description is an update to the reference to “Goods” in your Lease Agreement.”<br>
                                       
                                     
																				<p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;margin-bottom:0;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the financier and holds the Australlian Credit Licence number 394735 (<b>Flexirent</b>).<br><b>Lisa.</b> is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>
					
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




