--- 
file_name: LOMBARD_E_FlightcentreActivation
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-6 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-6 columns last" valign="bottom">
                      
                
                 <table>
                            <tr>
                              <th class="text-right">
                                 <a target="_blank" alt="" href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx"><img height="35" width="127" class="float-right small-float-center" style="width:127px;" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/LombardLoginTransparent.png" /></a>
                              </th>
                            </tr>
                          </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                
                      
                            <table class="row">
                              <tr>
                                <th class="small-12 large-12 first last columns">
                                  <table style="width:100%;">
                                      <tr>
                                        <th>
                                  <a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt="">
                                    <img width="650" style="width:650;" width="650" class="float-center lombard-banner" align="center" src="http://cdn-au.mailsnd.com/598/ZPAwp9kpQ99FoOD_tXMJw__eCShBsX2jI12uPZU4fio/1996029.jpg" /></a>
                                   
                                        </th>
                                        <th class="expander"></th>
                                    </tr>
                                  </table>
                                </th>
                                
                              </tr>
                           </table>
                          
                 
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-8 columns first text-color custom-width text-size">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Dear ${firstName},</p>
                                  
                                  <p>By now you should have received your Lombard 180 card and PIN.</p>
                                  
                                  <p><b>Whether it’s a domestic or international trip</b> the Lombard 180 card is a great travel partner, now and for future travel!</p>
                                  
                                   <p><b>Activate</b> your card and get:</p>
                                  
                                  <table class="custom-margin-left" style="width:75%;">
                                          <tr>
                                            <td width="20"><p class="no-margin-bottom"><b>•</b></p></td>
                                            <td><p class="no-margin-bottom"><b>6 months Interest Free</b> on purchases of $250 or more* and</p></td>
                                          </tr>
                                          <tr>
                                            <td><p class="no-margin-bottom"><b>•</b></p></td>
                                            <td><p class="no-margin-bottom"><b>Up to 55 days Interest Free</b> on purchases below $250*</p></td>
                                          </tr>                                      
                                        </table>
                                                                   
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                  
                                  <p>If you haven't received your card and/or PIN yet please contact us immediately.</p>
                                   
                                  
                                
                           
                                  
                                 
                                  
                                </th>
                              </tr>                                
                            </table>
                          
                    </th>
                    <th class="small-12 large-4 columns last text-size">
                          <table>
                              <tr>
                                  <th class="text-color">
                                    
                                    <table>
                                      <tr>
                                          <td style="border:3px solid #ebebeb;">
                                            <h1 class="flexi-margin primary-color text-center"><b><span style="font-size:14px;">Activate your card</span></b></h1>
                                    
                                      <p class="text-center no-margin-bottom"><img src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/v2%20Online_Icon_LB.png" width="44" style="display:inline !important;width:44;"/> </p>
                                    
                                    <p style="font-size:14px;" class="text-center"><span><a class="link-color"><b><font color="#F0575B">Online</font></b></a></span></p>
                                            
                                        
                                        <table class="lombard-custom-margin-left" style="width:75%;">
                                          <tr>
                                            <td width="20"><p class="no-margin-bottom">1.</p></td>
                                            <td><p class="no-margin-bottom"><strong><a href="https://www.lombardfinance.com.au/OnlineAccess/login.aspx" target="_blank" alt=""><span class="link-color"><font color="#F0575B">Log in</font></span></a></strong> using your Customer ID and Password</p></td>
                                          </tr>
                                          <tr>
                                            <td><p class="no-margin-bottom">2.</p></td>
                                            <td><p class="no-margin-bottom">Select 'Activate card'</p></td>
                                          </tr>                                          
                                        </table>
                                    
                                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                            
                                    <p class="text-center no-margin-bottom"><img src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/v2%20Call_Icon_LB.png" width="44" style="display:inline !important;width:44;"/> </p>
                                    
                                    <p style="font-size:14px;" class="text-center"><span><a class="link-color"><b><font color="#F0575B">Call 13 55 23</font></b></a></span></p>                                   
                                    <p style="width:85%;margin:0 auto;" class="text-center appleLinksBlack">Weekdays 9am - 8pm or Weekends 9am - 4pm (AEST)</p> 
                                 
                                            {% include line-height.html %}
                                            
                                            
                                          </td>
                                      </tr>
                                    </table>
                                         
                                    
                                    
                                    
                                    
                                  </th>
                                <th class="expander"></th>
                              </tr>  
                          </table>
                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                
                <table class="row">
                  <tr>
                    <th class="small-12 large-8 columns first text-color custom-width text-size">
                      <table>
                        <tr>
                          <td>
                            
                          
                            
                               <p class="no-margin-bottom">We hope you enjoy your trip!</p>
                                  
                                  <p>Kind regards,</p>
                                  
                                  <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>
                                  
                                  <p class="no-margin-bottom" style="line-height:80%;">Adam Frost</p>
                                  
                                  <p>Head of Cards</p>
                          </td>
                        </tr>
                      </table>
                    </th>
                    <th class="small-12 large-4 columns last text-size">
                      <table>
                        <tr>
                          <td>
                              <table class="acc-dtls">
                                            <tr>
                                              <th class="quaternary-bg-color">
                                                <p class="flexi-margin no-margin-bottom secondary-color text-size-account-details text-size"><span class="primary-color" style="font-size:14px;"><strong>ACCOUNT DETAILS</strong></span></p>
                                                  <XXX>
                                                    <p class="flexi-margin-left no-margin-bottom"><strong>Account No:</strong> ${originalAccountNumber}

                                                    </p>
                                                    <p class="flexi-margin-left"><strong>Customer ID:</strong> ${borrowerCustomerId}

                                                    </p>                                                

                                              </th>
                                                <th class="expander"></th>
                                            </tr>
                                          </table>
                          </td>
                        </tr>                        
                      </table>
                    </th>
                  </tr>
                </table>
                
              


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="5" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              *6 months Interest Free is available on purchases of $250 or more, made in one transaction, using the Lombard 180 card. Up to 55 days Interest Free is available on card purchases (excluding cash withdrawals), when you pay, by the payment due date, the amount identified in your statement as the ‘optional repayment to qualify for up to 55 days Interest Free’. Interest is payable on any balance outstanding after the Interest Free term. Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877, Australian Credit Licence number 247415 (<b>Lombard</b>). Lombard is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.<br />

<br>
                              
                              <p style="text-align: center;"><span style="font-size:11px;"><a href="mailto:customerservice.cards@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1300 132 301 to change your preferences."><font color="#F0575B">Unsubscribe</font></a></span></p>
                              
                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>