--- 
file_name: ONC_E_12MBalanceTransfer
category: Email-Projects
tags: [Special-request]
--- 

{% assign brand_name = "Once" %} 

{% if site.envi == "uat" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign login = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Login%20Transparent.png" %}
{% assign contact_number = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Phone%20Transparent.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign activate_now = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20ActivateNow%20Transparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once12MBalanceTrans.png" %}

{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_L.png" %}
{% assign banner_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_R.png" %}
{% assign online_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}

{% endif %}


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                           <img class="float-left small-float-center flexi-logo" src="{{ logo }}" />

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a alt="Login" target="_blank" href="{{my_acct_link}}"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ login }}" /></a>
                                </td>
                                <td>
                                  <a alt="Phone" href="tel:{{ tel | remove: ' ' }}" title="tel:{{ tel | remove: ' ' }}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ contact_number }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <center data-parsed="">
                        <img alt="Let us know what you think" class="flexi-no-margin" width="100%" style="width:100%;margin: 0; padding: 0; border: none;" height="221" src="{{banner_1_img}}">
                      </center>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>                        
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first text-color custom-width">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Dear ${firstname},</p>
                                  
                                  <p>We are pleased to offer you <b>0% p.a. for 12 months</b> on balances transferred to your Once account. Your available credit can be used to pay off other non-Once credit or store cards.</p>
                                  
                                  <p class="appleLinksBlack">
                                    Simply complete the <u><a class="link-color" href="https://cmc.flexigroup.com.au/fleximg/GetImage/files/16100010ONLB%20-%20ONCE%20BT%20FORM%20BTG4%2012MIF-2.pdf" onclick="window.open(this.href, 'OnceBalanceTransferForm', 'resizable=yes,status=no,location=yes,toolbar=no,menubar=yes,fullscreen=no,scrollbars=yes,dependent=no'); return false;"><b>balance transfer form</b></a></u>, scan and email it back to <u><a class="link-color" href="mailto:settlements.cards@flexigroup.com.au">settlements.cards@flexigroup.com.au</a></u></p>
                                  
                                  <p>
                                    Alternatively, you can post the form back to Reply Paid 88490 Royal Exchange, Sydney NSW 1224.
                                  </p>
                                  
                                  <p class="appleLinksBlack">If you have any questions call us on <b><span class="link-color">13 6623</span></b>, Monday to Friday between 9am - 8pm or Saturday to Sunday between 9am - 4pm (AEST).</p>
                                  
                                  <p>Warm regards,</p>
                                  
                                  <p class="no-margin-bottom"><b>Adam Frost</b></p>
                                  
                                  <p>Head of Cards</p>
                                  
                                </th>
                              </tr> 
                              <tr>
                                <td class="expander"></td>
                              </tr>
                            </table>                          
                    </th>                    
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                              <!-- T&C -->
                              *Balance Transfer rate will apply to any balance(s) transferred (minimum $500 up to 95% of your approved available credit limit) for 12 months, unless the amount is paid off earlier. The annual variable purchase rate, currently 22.99% p.a., will apply to balance(s) transferred but left unpaid after 12 months. Once will not be responsible for any delays that may occur in processing payment to your other card account(s) and will not close the account(s). Full terms and conditions apply and are available <u><a class="link-color" href="https://flxuat.credagility.com/fleximg/GetImage/files/T_C%20RETBT%20-%20OC.pdf" onclick="window.open(this.href, '', 'resizable=yes,status=no,location=yes,toolbar=no,menubar=yes,fullscreen=no,scrollbars=yes,dependent=no'); return false;">here</a></u>. Credit provided by Once Credit Pty Limited ABN 99 112 319 632, Australian Credit Licence number 386194 (<b>Once</b>). Once® is a trademark of Once. Once is a subsidiary of FlexiGroup Limited. 1610003ON<br />


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>