---
file_name: FLR_E_EOT3BEFORE_ELECSTD_COMPL
category: Email-Projects
tags: [Email-blows-up]
batch: 02
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
  {% when 'SmartWay' %}
   {% assign color = "#241658" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                            {% when 'SmartWay' %}
                                            {{page.file_name | replace: "FLR", "SMW"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
  
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
                                  
        
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>
                    
{% include line-height.html %}

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                    
{% include line-height.html %}

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{important}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement End Date:</strong><br />
                                        {{AgtEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                                <tr>
                                  <th height="40" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>               


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify">
                                  
                                   <p>Dear {{FirstName}},</p>

                                  <h1 class="flexi-margin-bottom primary-color"><strong>Choose an End of Term Option</strong>
                                  </h1>
                                  
                                  <p>We hope that you are enjoying the goods that you rented from us.</p>
                                  
                                  <p> This is to let you know that your Rental Agreement {{ContractID}} will end on {{AgtEndDate}} and there are key decisions you need to make before the end of the rental term.</p>
                                  
                                  <p>By the end of term, assuming that all monthly rental payments are made on the dates required, you will have paid a total of ${displayTotalBalanceDue}.</p>
                                  
                                  <h1><strong>The key decisions you need to make relate to:</strong></h1> 
                                  
                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">1.</p></td>
                                      <td><p class="no-margin-bottom"><span><strong>What to do with the existing goods –</strong></span> would you like to return or offer to purchase the goods?</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">2.</p></td>
                                      <td><p><span><strong>Whether to upgrade to new goods –</strong></span>  would you like to upgrade to the latest technology or a new model? We have special benefits if you choose this option.</p></td>
                                    </tr>                                    
                                  </table>
                                  
                                  <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>
                                          <tr>
                                            <td valign="top" width="15"><h1 class="secondary-color no-margin"><strong>1. Options for Existing Goods<sup>1</sup></strong></span></h1></td>
                                          </tr>
                                          <tr>
                                            <td valign="top" colspan="2">                                            
                                              <p class="custom-margin-bottom"><span class="secondary-color"><strong>Return</strong></span> - You can return the existing goods to us prior to {{AgtEndDate}} with no more monthly rental payments. The goods must be returned in good working order, together with all accessories and manuals, at your own expense.</p>
                                              
                                              <p> Please contact our Customer Service Team on {{BrandPhoneNumber}} to discuss your Return options.</p>
                                              
                                              <p>If the existing goods are not returned, or not under a new arrangement by {{AgtEndDate}} your Rental Agreement will continue on a month-to-month basis where you will continue to pay ${displayLastMonthlyPayment} per month until you return the goods or another end of term option is agreed.</p>

                                              <p class="custom-margin-bottom"><span class="secondary-color"><b>Offer to Purchase<sup>1</sup></b></span> - If you would like to own the existing goods, we would be pleased to negotiate a sale price with you. We estimate that the sale price of the existing goods would be approximately ${displayEOTHighRange} at the end of term. You will also need to pay any outstanding monthly rental payments or arrears.</p>                                             
                                            
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top"><h1 class="secondary-color no-margin"><strong>2. Upgrade to New Goods<sup>1</sup></strong></span</h1></td>
                                            
                                          </tr>  
                                          <tr>
                                                <td valign="top" colspan="2">
                                                  <p> You may want to upgrade to the latest technology or a new model. As a valued customer, we can make this process easy and fast as well as offer discounts on the existing goods. Call us for an approval.</p>
                                                  
                                                  <p>If you upgrade to new goods and return the existing goods, <span class="secondary-color"><strong>we will waive up to 2 remaining monthly rental payments on your existing Rental Agreement<sup>2</sup></strong></span>.</p>
                                                  
                                                  <p> If you upgrade to new goods and offer to purchase the existing goods, we can offer you a<span class="secondary-color"><strong> discounted price on the existing goods<sup>3</sup></strong></span>.</p>
                                                  
                                                </td>
                                         </tr> 
                                        </table>
                                          </th>
                                        </tr>                                        
                                  </table>
                                  
                                   <h1 class="primary-color flexi-margin-top"><strong>Don’t Forget to Contact Us</strong></h1>                    
                                  <p class="appleLinksBlack">If you require any clarification, or you would like to nominate any of the above options, please call our Customer Team on {{BrandPhoneNumber}} 7 days a week, prior to {{AgtEndDate}} which is the date of the end of term of your existing Agreement.</p>
<table>
                                <tr>
                                  <th height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                              </table>
                                  <p>We look forward to hearing from you.</p> 
<table>
                                <tr>
                                  <th height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                              </table>
                                  <p class="no-margin-bottom">Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>

                                  <p><a href="tel:{{tel | remove: ' '}}"><img title="tel:{{tel | remove: ' '}}" src="{{tel_bottom_icon}}" style="display:inline !important;"/></a></p>

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                  <table>
                                <tr>
                                  <th height="90" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer-flr text-color">
                                    
                                      <!-- T&C -->
                                      1 All upgrade and purchase options are subject to our agreement and our standard terms and conditions, and all upgrade options are also subject to any internal credit criteria. 2 Waiver of up to 2 remaining monthly rental payments only available to existing customers if upgrade and return is settled at least 2 months prior to end of term and subject to credit criteria. Customers are liable for payments for the full term under the original Rental Agreement unless waived. 3 Discounted purchase price only available to existing customers who upgrade and enter into a new rental agreement with {{brand_name}}. <span class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                          {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</span>
<br><br>
                                      {% if site.envi == "uat" %}
                                        <span class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                          {% when 'SmartWay' %}
                                            {{page.file_name | replace: "FLR", "SMW"}}
                                        {% endcase %}</span>                                      
                                      {% else if site.envi == "prod" %}
                                          <span class="text-size-footer text-color"></span>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




