---
file_name: FLR_E_PayoutConf_12iii
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first" valign="top">
                          <table>
                          <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #payout_options #payconf-->
                                <img width="350" height="31.17" style="width:350px;height:31.17px;" class="banner msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{payconf}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Customer No:</strong><br />
                                        {{CustomerNo}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>{{LetterSentDate}}</p>
                                  
                                  <br>
                                  <br>
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <p>This is to confirm you have offered to pay the total amount payable under your {{brand_name}} Rental Agreement and offered to purchase the goods. The total amount payable for the rented goods is ${letterEOTFinalPayment}. This figure includes all the remaining monthly rental payments, any outstanding arrears, and the agreed purchase price for the goods of letterEOTAssetPayment.</p>

                                  <p>You must pay the total amount payable prior to your next monthly payment date, due on ${displayNextPaymentDate}. The total amount payable is valid only until the date of your next monthly payment date. This amount may change after this date.</p>  
                                 
                                  <p>The goods are used and will be sold to you on a “as is, where is, without faults if any” basis.</p>
                                  
                                  <p class="appleLinksBlack flexi-margin-top">If you have any questions, please contact the {{brand_name}} Customer Team on {{BrandPhoneNumber}}.</p>

                                  <p>Regards,</p>

                                  <p>{{brand_name}} Customer Team</p>

                                                                  
                                  {% include line-height.html %}                               

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                                                         
                                     

                                     <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                       {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




