---
file_name: 07_FLR_E_EOT3after_OpsLease
category: Email-Projects
tags: [Re-branding]
---
{% include brand-controller.html %}
{% include variables.html %}



<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>

  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first">
                          <table>
                          <!--[if (gte mso 9) | (IE)]>
                           <tr>
                            <th height="15" style="mso-line-height-alt:0;"></th>
                           </tr>
                           <![endif]-->
                            <tr>
                              <th>
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term -->
                                <img class="msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{important}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />
                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>{{LetterSentDate}}</p>                      

                                  <p>Dear {{FirstName}},</p>

                                  <h1 class="flexi-margin-bottom"><strong>Reminder: Your Rental Agreement has surpassed the scheduled end date</strong>
                                  </h1>

                                  <p>Your Rental Agreement was scheduled to end on {{SchedEndDate}} and we have not received notification from you regarding what you would like to do with the Equipment. </p>

                                  <h1 class="primary-color"><strong>Your Rental Agreement</strong></h1>

                                  <p>Over the past six (6) months we have tried contacting you on a number of occasions to find out what you would like to do with the Equipment.</p>      

                                  <p>As a result, your Rental Agreement is continuing to roll-over for successive periods of thirty (30) days until you give us thirty (30) days’ written notice and, as applicable, you return the Equipment to us or finalise the purchase of the Equipment. During the roll-over period you will be charged the same rental payment rate payable immediately before the scheduled end of your Rental Agreement.</p>                            

                                  <h1 class="primary-color"><strong>Key decisions</strong></h1>

                                  <p class="no-margin-bottom">It is important for you to contact us as soon as possible to advise on the following key decisions:</p>

                                 
                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20" valign="top"><p class="no-margin-bottom">1.</p></td>
                                      <td valign="top"><p class="no-margin-bottom"><span class="secondary-color"><strong>What would you like to do with the Equipment:</strong></span> would you like to return or offer to purchase the Equipment?</p></td>
                                    </tr>
                                    <tr>
                                      <td width="20" valign="top"><p class="no-margin-bottom">2.</p></td>
                                      <td valign="top"><p><span class="secondary-color"><strong>Whether to upgrade to new equipment:</strong></span> would you like to upgrade to the latest technology or a new model? We may have special benefits if you choose this option.</p></td>
                                    </tr>
                                  </table>


                                  
                                  <h1 class="primary-color"><strong>Options at the scheduled end of your Rental Agreement<sup>1</sup></strong></h1>

                                  <p class="no-margin-bottom">Your options at the end of your Rental Agreement include:</p>

                                  <table>
                                        <tr>
                                          <td class="quaternary-bg-color options-div" style="padding:10px;">
                                            <table>
                                          <tr>
                                            <td valign="top" width="10"><h1 class="primary-color no-margin"><strong>1.</strong></h1></td>
                                            <td valign="top"><h1 class="no-margin"><span class="primary-color"><strong>The Equipment:</strong></span></h1></td>
                                          </tr>
                                          <tr>
                                            <td valign="top" colspan="2">                                            
                                              <p class="equipment-indent custom-margin-bottom"><span class="secondary-color"><strong>Return:</strong></span> you can return the Equipment to us at the end of your Rental Agreement with no more rental payments.<sup>2</sup> The Equipment must, at your expense, be returned together with all accessories and manuals.</p>

                                              <p class="equipment-indent custom-margin-bottom"><span class="secondary-color"><b>Offer to Purchase:</b></span> if you would like to own the Equipment, we would be pleased to discuss a purchase price with you.</p>
                                             
                                            </td>
                                          </tr>
                                          <tr>
                                            <td valign="top" width="20"><h1 style="line-height:185%;" class="primary-color no-margin"><strong>2.</strong></h1></td>
                                            <td valign="top"><p class="no-margin"><span class="primary-color"><strong>Upgrade to new equipment:</strong></span> you may want to upgrade to the latest technology or a new model. As a valued customer, we can make this process easy and fast. If you upgrade to new equipment and offer to purchase the Equipment, we may be able to provide you with a <u>discount</u> based on various factors including your loyalty to our business.<sup>3</sup> Call us to discuss an approval.</p></td>
                                          </tr>
                                        </table>
                                          </td>
                                        </tr>                                        
                                      </table>
                                                                                                      
                                  <h1 class="primary-color" style="Margin-top:10px;margin-top:10px;"><strong>You must contact us urgently<sup>4</sup></strong></h1>

                                  <p>If you wanted your Rental Agreement to finalise on {{SchedEndDate}} you were required to notify us in writing sixty (60) days <u>before</u> this date.</p>

                                  <p><u>Please contact us urgently to advise your choice for the Equipment.</u></p>

                                  <p>Your Rental Agreement will continue to automatically roll-over for successive periods of thirty (30) days until you give us thirty (30) days’ written notice and, as applicable, you return the Equipment to us or finalise the purchase of the Equipment. During the roll-over period you will be charged the same rental payment rate payable immediately before the scheduled end of your Rental Agreement.</p>                                                                
                                  <h1 class="primary-color"><strong>Contact us</strong></h1>                           

                                  <p class="appleLinksBlack">If you have any questions or you would like to nominate any of the above options, please call our {{brand_name}} Customer Team on {{BrandPhoneNumber}}, 7 days a week, 9am – 6pm (AEST).</p>                                 

                                  <p>We look forward to hearing from you.</p>

                                  <p>Regards,</p>

                                  <p>{{brand_name}} Customer Team</p>

                                   <p><a href="tel:{{tel | remove: ' '}}"><img title="tel:{{tel | remove: ' '}}" src="{{tel_bottom_icon}}" style="display:inline !important;"/></a></p>



                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>
                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>
         

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                        1 All options are subject to our agreement and standard terms and conditions. Upgrade and Extend options are subject to suitability assessment and credit approved applicants only; in all cases fees, terms and conditions may apply.<br/>
                                     2 Equipment must be returned in as good condition as it was when it was delivered to you – except for fair wear and tear.<br />
                                     3 Discount only available to existing customers who upgrade and enter into a new rental agreement.<br />
                                     4 Subject to our standard terms and conditions.<br />

                                      <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.</p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}
                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>



