---
file_name: FLR_E_EOTOpts_10a
category: Email-Projects
tag: Re-branding
---
{% include brand-controller.html %}
{% include variables.html %}

{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#CCCCCC" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A3A1" %}
  {% when 'FlexiWay' %}
   {% assign color = "#f6ad1d" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>

                                    
              <table class="container">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-6 columns first">

                          <table>
                            <tr>
                              <th>                              
                                

                              <a target="_blank" href="{{ url }}"><img class="small-float-center float-left flexi-logo" src="{{ logo }}" /></a>                              
                              
                              </th>
                            </tr>
                          </table>

                        </th>
                        <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img class="float-center" align="center" src="{{line}}" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>

                    <table class="row">
                      <tr>
                        <th class="small-12 large-8 columns first" valign="top">
                          <table>                         
                            <tr>
                              <th>                               
                                <!-- BANNER  #welcome #transfer #reminder #important #end_of_term #payout_options -->
                                <img alt="Your End Of Term Options" width="385" height="33.92" style="width:385px;height:33.92px;" class="banner msoMarginTopFix float-left small-float-center flexi-margin-bottom" src="{{end_of_term_opt}}" />
                              </th>
                            </tr>
                          </table>
                        </th>
                        <th class="small-12 large-4 columns last" align="right">
                          <table>
                            <tr>
                              <th class="text-size text-color">
                                <table>
                                  <tr>
                                    <th class="primary-bg-color">
                                      <p class="flexi-margin" style="mso-line-height-alt:80%;">ACCOUNT DETAILS</p>
                                    </th>
                                  </tr>
                                </table>
                                <table>
                                  <tr>
                                    <th class="quaternary-bg-color">
                                       <p class="flexi-margin"><strong>Customer No:</strong><br />                                        {{CustomerNo}}
                                      </p>
                                      <p class="flexi-margin"><strong>Agreement Number:</strong><br />                                        {{ContractID}}
                                      </p>
                                      <p class="flexi-margin"><strong>Scheduled Agreement End Date:</strong><br />
                                        {{SchedEndDate}} 
                                      </p>
                                    </th>
                                  </tr>
                                </table>
                              </th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>                   
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p> {{LetterSentDate}}</p>
                                  
                                  <br>
                                  <br>
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <p>Thank you for your recent email regarding your {{brand_name}} Rental Agreement, the term of which is due to expire on ${displayEndDate}.</p>

                                  <p>As a {{brand_name}} customer, you have a wide range of End of Term (EOT) options that may be available to you to suit your particular requirements.</p>
                                  
                                  <p>It is important that you contact us before the expiry date of your Rental Agreement to discuss your preferred End of Term option. Otherwise, if you don’t return the goods, your agreement will continue on a month-to-month basis and you will continue to pay ${displayLastMonthlyPayment} per month until you select an option. The EOT options are as follows:</p>
                                  
                                   <table bgcolor="#EBEBEB">
                                        <tr>
                                          <th style="padding:10px;">
                                            <table>                                         
                                          <tr>
                                            <td valign="top">              
                                              <h1 class="primary-color no-margin-bottom"><strong>Upgrade and offer to purchase</strong></h1>
                                              
                                              <p class="custom-margin-bottom">If you would like to upgrade to new goods, you may be able to enter into a new Rental Agreement with us, subject to approval+. Because you are upgrading, we may also be prepared to negotiate the sale of the existing goods with you for a discounted price.</p>
                                              <h1 class="primary-color no-margin-bottom"><strong>Upgrade and double time</strong></h1>
                                              
                                              <p class="custom-margin-bottom">You may also be able to double the length of the term of your original Agreement for the existing goods, and upgrade to new goods+. Subject to approval, simply take out a new Rental Agreement and ‘double time’ the term by paying the Double Time Payment, equivalent to 1 Monthly Rental Payment. You can continue to enjoy the benefits of the FlexiCare Program during the Double Time Period^. Select this option 1 month prior to the End of Term, and we may elect to waive up to 1 Monthly Rental Payment and the Double Time payment.</p>
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Upgrade and return</strong></h1>
                                              
                                              <p class="custom-margin-bottom">If you would like to upgrade, subject to approval+, but no longer want the existing goods, you can choose to return them. If you select this option up to 3 months before the End of Term, we may elect to waive up to 3 months’ remaining Monthly Rental Payments on your existing Agreement.</p>
                                              
                                               <p class="custom-margin-bottom">The goods can be returned to any of our warehouse locations listed at the end of this email.</p>
                                              
                                              <p class="custom-margin-bottom">Please ensure you label the goods with the following for easy identification:</p>
                                              
                                            <div class="no-margin-bottom">
                                                  {% include good-identification.html %}
                                            </div>
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Offer to Purchase</strong></h1>
                                              
                                              <p class="custom-margin-bottom">If you are not interested in upgrading to new goods at the End of Term, but would like to own the rented goods, we would be pleased to negotiate a sale price with you+. You can offer any price for the goods, but we have the right to accept or reject your offer.</p>
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Double time</strong></h1>
                                              
                                              <p class="custom-margin-bottom">You may be able to ‘double time’ the term of your Rental Agreement+ by paying the Double Time Payment, equivalent to 1 Monthly Rental Payment. You can continue to enjoy the benefits of the FlexiCare Program during the Double Time Period^.</p>
                                              
                                              <h1 class="primary-color no-margin-bottom"><strong>Return</strong></h1>
                                              
                                              <p class="no-margin-bottom">
                                                If you no longer want the rented goods, you can return them to us at the End of Term. If you select this option, under your Agreement, you must return the goods prior to ${displayEndDate} to avoid any additional payments. The goods must be returned in good working order, together with all accessories and manuals, at your own expense.
                                              </p>
                                             
                                            </td>
                                          </tr>                                          
                                                                             
                                        </table>
                                          </th>
                                        </tr>                                        
                                      </table>
                                  
                                  <p class="appleLinksBlack flexi-margin-top">If you require any further clarification of your EOT options, or you would like to elect one of them, please contact our {{brand_name}} Customer Team. Alternatively, for further information, please visit <a class="link-color" href="{{url}}eot" target="_blank"><font color="{{color}}">www.{{brand_name | downcase }}.com.au/eot</font></a></p>

                                  <p>Regards,</p>

                                  <p>{{brand_name}}  Customer Team</p>

                                 {% include warehouse-add.html %}                                
                                 
                                  
                                  {% include line-height.html %}                               

                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        

                            



                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        <table class="row">
                          <tr>
                            <th class="small-12 large-12 columns first last">
                              <table>
                                <tr>
                                  <th>
                                    <center data-parsed="">
                                     <img class="float-center" align="center" src="{{line}}" />
                                    </center>
                                  </th>
                                  <th class="expander"></th>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table><!-- /footer line-->

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                        
                                         <p class="text-size-footer appleLinksBlack">+All purchase, upgrade and double time options are subject to our agreement and our standard terms and conditions, and upgrade options are also subject to any internal credit criteria. ^Provided under the FlexiCare Program and subject to terms and conditions. Refer to the product terms and conditions for a full list of exclusions. FlexiCare Loaner dispatched within 1 business day subject to delivery to all Australian metro areas and request made during business hours.</p>
                                                                         
                                    <p class="text-size-footer appleLinksBlack" style="Margin-top:10px;margin-top:10px;">Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Lessor and holds Australian Credit Licence number 394735 (<strong>Flexirent</strong>). {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiRent' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                            {% when 'FlexiWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                       {% when 'SmartWay' %}
                                              {{brand_name}}® is a trademark of Flexirent. 
                                             {% when 'EziLease' %}                                              
                                        {% endcase %}                                    
                                      
                                      Flexirent is a subsidiary of FlexiGroup Limited.
                                        </p>

                                      {% if site.envi == "uat" %}
                                        <p class="text-size-footer text-color">
                                        {% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</p>                                      
                                      {% else if site.envi == "prod" %}
                                          <p class="text-size-footer text-color"></p>
                                      {% endif %}

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>




