--- 
file_name: 01-L&D
category: Email-Projects
tags: [JC-special-request]
--- 






<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->  

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->
  

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!--[if gte mso 9]>
<style>
li {
    text-indent: -1em; /* Normalise space between bullets and text */
}
</style>
<![endif]-->
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


<table align="center" class="container">
  <tr>
    <td bgcolor="#ebebeb" class="justify">
      {% include line-height.html %}
      {% include line-height.html %}
      <!-- ROW 1 -->
       <table class="row">
         <tr>
          <th class="small-12 large-12 columns first last">            
            <table class="collapse">
              <tr>
                <th><img class="float-center flexi-no-margin" align="center" src="https://image.ibb.co/dsfr75/Header.png" /></th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>          
         </tr>
       </table>
      
      {% include line-height.html %}
      
      <!-- ROW 2 -->
      <table class="row">
         <tr>
          <th class="small-12 large-12 columns first last">            
            <table>
              <tr>
                <th>
                  <p><font color="#ed5f28"><strong>Welcome to the Digital Presentation Essentials Workshop!</strong></font></p>
                  
                  <p>Congratulations for taking the first step in creating future-ready slide decks for any audience. Over the next couple of weeks, we will help you transform your digital presentations into a more compelling and effective slide deck.</p>
                </th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>          
         </tr>
       </table>
      <table class="row">
         <tr>
          <th class="small-12 large-12 columns first">            
            <table>
              <tr>
                <th>                  
                  <p><font color="#ed5f28"><strong>What's in this document?</strong></font></p>
                  
                  <p>In the previous week, you have participated in an Aptitude Test which helped us establish your training needs. Now that we have validated your test results, we are now ready to take the next step.</p>
                  
                  <p>In this document, you will find (1) how well your team measured in the Aptitude Test and (2) the recommended trainings/workshops that will help you create better presentations.</p>
                </th>                
              </tr>
            </table>
          </th>
           <th class="small-12 large-12 columns last">
              <table>
              <tr>
                <th>
                  <p><font color="#ed5f28"><strong>Jumpstart your journey!</strong></font></p>
                  
                  <p>You've helped us define your current level of proficiency in terms of Presentation Design and Structure, now, let's explore your options and define your desired learning path, together!</p>
                  
                  <p>Choose from a wide-array of courses below which will be added on top of the required workshops then talk to your Team Leader to discuss the modules that you are interested in.</p>
                </th>                
              </tr>
            </table>
           </th>
         </tr>
       </table>
      
<!-- ROW 3 -->      
      <table class="row">
         <tr>
          <th class="small-12 large-12 columns first last">            
            <table class="collapse">
              <tr>
                <th><img class="float-center flexi-no-margin" align="center" src="https://image.ibb.co/nBP1QQ/Results.png" /></th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>          
         </tr>
       </table>
      {% include line-height.html %}
<!-- ROW 4 -->
      <table class="row">
         <tr>
          <th class="small-12 large-4 columns first">            
            <table>
              <tr>
                <td>
                  <img class="float-center flexi-no-margin flexi-margin-bottom" align="center" src="https://image.ibb.co/gfP7FQ/Result_1_Icon.png" />
                </td>                
              </tr>
            </table>
          </th>
           <th class="small-12 large-8 columns last" valign="top">
             <table>
              <tr>
                <td>
                  <p><font color="#ed5f28"><strong>Section 1 | Familiarity with Microsoft® PowerPoint</strong></font></p>
                  
                  <p>Collectively, the Learning & Development Team has been using Microsoft® PowerPoint on a once-a-month to a once-a-week basis, where, all participants are limited to creating slides from a pre-defined theme or design.</p>    
                  
                  <p>50% of the total number or participants are already familiar with the latest version of the MS Office Suite and can take advantage of its basic elements and functionality.</p>
                  
                  <p><font color="#ed5f28"><strong>Validated Proficiency Level: <i>Basic to Intermediate</i></strong></font></p>
                </td>                
              </tr>
            </table>
           </th>
         </tr>
       </table>
       {% include line-height.html %}
      <table class="row">
         <tr>
          <th class="small-12 large-12 columns first last">            
            <table>
              <tr>
                <td><p>Self-scoring data shows that 33.33% of the total participants perceive themselves as Beginners while the other 66.66% claims that they are at the Intermediate Level. The skills inventory result suggests that only <strong>16.67%</strong> of the participants is at the intermediate level, <strong>33.33%</strong> is between the beginner and intermediate level and <strong>50%</strong> are actual beginners.</p>
                  <p><strong>All participants are encouraged to enroll to a Basic-to-Intemediate Course in Microsoft® PowerPoint.</strong></p>
                </td> 
                <th class="expander"></th>
              </tr>
            </table>
          </th>          
         </tr>
       </table>   
            
      <table class="row">
         <tr>
          <th class="small-12 large-4 columns first">            
            <table>
              <tr>
                <td>
                  <img class="float-center flexi-no-margin flexi-margin-bottom" align="center" src="https://image.ibb.co/fvViN5/Result_2_Icon.png" />
                </td>                
              </tr>
            </table>
          </th>
           <th class="small-12 large-8 columns last" valign="top">
             <table>
              <tr>
                <td>
                  <p><font color="#ed5f28"><strong>Section 2 | Corporate Brand Awareness</strong></font></p>
                  
                  <p>Across all of FlexiGroup communications, it's vital that we comply with the set brand identity and guides. FlexiGroup's Brand Portfolio includes <i>FlexiRent, FlexiWay, FlexiCommercial, FlexiEnterprise, Smartway, Certegy, Lombard, Once, and Oxipay</i>. Each of these brands have their own set of guidelines that defines its identity.</p>    
                  
                  <p>The recent Aptitude Test suggests that <strong><i>all participants need a refresher course on all FlexiGroup Brands.</i></strong></p>                               
                </td>                
              </tr>
            </table>
           </th>
         </tr>
       </table>
      {% include line-height.html %}
      <table class="row">
         <tr>
          <th class="small-12 large-4 columns first">            
            <table>
              <tr>
                <td>
                  <img class="float-center flexi-no-margin flexi-margin-bottom" align="center" src="https://image.ibb.co/b8jXFQ/Results_3_Icon.png" />
                </td>                
              </tr>
            </table>
          </th>
           <th class="small-12 large-8 columns last" valign="top">
             <table>
              <tr>
                <td>
                  <p><font color="#ed5f28"><strong>Section 3 | Presentation Design Structure and Build Methodology</strong></font></p>
                  
                  <p>The build methodology and design strategy forms an integral part of putting together a good presentation; the overall appearance of each slide deck depends on heavily on the division of content and vision of the person creating the presentation.</p>    
                  
                  <p>Following the Aptitude Test, we have identified gaps in how the participants carry-out the build process. Furthermore, the result of the test suggests that all participants follow their own stucture and work-flow; while it is an accepted practice, it often result in a disrupted brand identity.</p>                               
                </td>                
              </tr>
            </table>
           </th>
         </tr>
       </table>
{% include line-height.html %}
<!-- ROW 5 -->
 <table class="row">
         <tr>
          <th class="small-12 large-12 columns first last">            
            <table class="collapse">
              <tr>
                <th><img class="float-center flexi-no-margin" align="center" src="https://image.ibb.co/czhyPk/Learn.png" /></th>
                <th class="expander"></th>
              </tr>
            </table>
          </th>          
         </tr>
       </table> 
      
     
<!-- ROW 6 -->
      
      <table class="row">
         <tr>
          <th class="small-12 large-4 columns first">            
            <table>
              <tr>
                <th>{% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://image.ibb.co/cdch0Q/CourseA.png" />
                  </center>
                  {% include line-height.html %}
                
                <p class="text-center"><font color="#ed5f28"><strong>Beginner to Intermediate Courses</strong></font></p>
                  
                  <ul class="jc-outline-course">
                    <li>Introducing PowerPoint in MS Office 365 and 2016</li>
                    <li>PowerPoint Presentation Essentials
                        <ul>
                          <li>Creating Presentations</li>
                          <li>Add and format text</li>  
                          <li>Add and format images</li>  
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                  
                </th> 
              </tr>
            </table>
          </th>
           <th class="small-12 large-4 columns" align="center">
            <table>
              <tr>
                <th>{% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://image.ibb.co/htCt75/CourseB.png" />
                  </center>
                  {% include line-height.html %}
                
               <p class="text-center"><font color="#ed5f28"><strong>Title</strong></font></p>
                  
                  <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                    <li style="Margin: 0;">• Apple
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Orange
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                  
                </th> 
              </tr>
            </table>
           </th>
           <th class="small-12 large-4 columns last" align="center" valign="top">
            <table>
              <tr>
                <th>
                  
                  {% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://image.ibb.co/b8N4Ek/CourseC.png" />
                  </center>
                  {% include line-height.html %}
                
               <p class="text-center"><font color="#ed5f28"><strong>Title</strong></font></p>
                  
                 <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                    <li style="Margin: 0;">• Apple
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Orange
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                  
                </th> 
              </tr>
            </table>
           </th>
         </tr>
       </table> 
    <!-- ROW 6.2 -->
      
      <table class="row">
         <tr>
          <th class="small-12 large-4 columns first" align="center">            
            <table>
              <tr>
                <th>{% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://dummyimage.com/200x200/000/fff" />
                  </center>
                  {% include line-height.html %}
                
                <p class="text-center"><font color="#ed5f28"><strong>Title</strong></font></p>
                  
                  <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                    <li style="Margin: 0;">• Apple
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Orange
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                  
                </th> 
              </tr>
            </table>
          </th>
           <th class="small-12 large-4 columns">
            <table>
              <tr>
                <th>{% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://dummyimage.com/200x200/000/fff" />
                  </center>
                  {% include line-height.html %}
                
                <p class="text-center"><font color="#ed5f28"><strong>Title</strong></font></p>
                  
                  <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                    <li style="Margin: 0;">• Apple
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Orange
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                  
                </th> 
              </tr>
            </table>
           </th>
           <th class="small-12 large-4 columns last">
            <table>
              <tr>
                <th>
                  
                  {% include line-height.html %}
                  <center data-parsed="">
                  <img class="float-center" align="center" src="https://dummyimage.com/200x200/000/fff" />
                  </center>
                  {% include line-height.html %}
                
                <p class="text-center"><font color="#ed5f28"><strong>Title</strong></font></p>
                  
                  <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                    <li style="Margin: 0;">• Apple
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Orange
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                    <li style="Margin: 0;">• Mango
                        <ul style="padding-left:0;Margin: 0;list-style-type:none;">
                              <li style="Margin-bottom: 5px;">time: 0900 - 1200</li>                             
                        </ul>
                    </li>
                </ul>
                </th> 
              </tr>
            </table>
           </th>
         </tr>
       </table> 
      {% include line-height.html %}
       {% include line-height.html %}
       {% include line-height.html %}
<!-- ROW 7 -->
      <table class="row">
         <tr>
          <th class="small-12 large-6 columns first">            
            <table class="collapse">
              <tr>
                <th><img style="width:154px;height:35px;" height="35" width="154" class="small-float-center float-left flexi-no-margin" align="center" src="https://image.ibb.co/gJFkZk/image.png" /></th>                
              </tr>
            </table>
          </th>
           <th class="small-12 large-6 columns last" align="right">
            <table class="collapse">
              <tr>
                <th><img style="width:143px;height:55px;" height="55" width="143" class="small-float-center float-right flexi-no-margin" align="right" src="https://image.ibb.co/g0AV0Q/dm_dna_logo_rgb.png" /></th>                
              </tr>
            </table>
           </th>
         </tr>
       </table> 
         {% include line-height.html %}
<!-- end rows -->
    </td>
  </tr>
</table>
          
        </center>
      </td>
      </tr>
  </table>
</body>

</html>