--- 
file_name: ONC_E_Peakbound5Cashback
category: Email-Projects
tags: [Special-request]
--- 

{% assign brand_name = "Once" %} 

{% if site.envi == "uat" %}
{% assign logo = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign login = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Login%20Transparent.png" %}
{% assign contact_number = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Once%20Phone%20Transparent.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign activate_now = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/once-2.png" %}
{% assign order_card = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/once-1.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1608027-ONC-2.png" %}

{% else %}

{% assign logo = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceLogoTransparent.png" %}
{% assign contact_number = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/v2Once_Phone_70px.png" %}
{% assign tel = "13 6623" %}
{% assign line = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Lombard_Rule.png" %}
{% assign active_now = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/OnceActivateNowTransparent.png" %}
{% assign my_acct_link = "https://oa.onceonline.com.au/" %}
{% assign banner_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_L.png" %}
{% assign banner_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/Act_Agile_R.png" %}
{% assign online_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_10.png" %}
{% assign tel_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/1607003LB--web-bannerV3_07.png" %}

{% endif %}


<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                           <img class="float-left small-float-center flexi-logo" src="{{ logo }}" />

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a target="_blank" href="{{my_acct_link}}"><img alt="Login" height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ login }}" /></a>
                                </td>
                                <td>
                                  <a href="tel:{{ tel | remove: ' ' }}" title="tel:{{ tel | remove: ' ' }}"><img alt="Phone" height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ contact_number }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row">
          <tbody>
            <tr>
              <th class="small-12 large-12 columns first last">
                <table>
                  <tr>
                    <th>
                      <center data-parsed="">
                        <img alt="5% CASH BACK" class="flexi-no-margin" width="100%" style="width:100%;margin: 0; padding: 0; border: none;" height="166" src="{{banner_1_img}}">
                      </center>
                    </th>
                    <th class="expander"></th>
                  </tr>
                </table>
              </th>
            </tr>
          </tbody>
        </table>                        
                
               
                
                {% include line-height.html %}
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first text-color custom-width">
                      
                            <table>
                              <tr>
                                <th>
                                  <p>Dear ${firstname},</p>
                                  
                                  <h1 style="color:#555555;margin-bottom:10px;Margin-bottom:10px;"><b>Get 5% cash back on purchases made using your Once card!</b></h1>                                  
                                  <p class="appleLinksBlack">
                                   Simply activate and spend on your Once card before 31 October 2016 and you can earn 5% cash back* on the first $2,000 you spend over 3 months.  This offer is available for 3 months from the date your first purchase is made.
                                  </p>
                                  
<!--  two columns -->                                      
                                  <table class="row">
                                    <tr>
                                      <th class="small-12 large-6 columns first">
                                         <table class="tbl-mobile-margin-bottom" height="140" style="border:1px solid #ccc;height:140px;width:95%;" bgcolor="#EBEBEB">
                                           <tr>
                                            <td bgcolor="#EBEBEB">
                                              <table>
                                <tr> 
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="10" style="mso-line-height-alt:10; background-color:#EBEBEB;font-size:1px;line-height:10px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>
                                              <h1 class="secondary-color text-center no-margin-bottom"><b>Need to activate your card?</b></h1>
                                              <p class="text-center">Click below to activate online now.</p>
                                              
                                              <table>
                                <tr>
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="17" style="mso-line-height-alt:17; background-color:#EBEBEB;font-size:1px;line-height:17px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>
                                             <a href="https://cmc.flexigroup.com.au/${CardActivategetURI}" target="_blank"><center data-parsed=""><img alt="Activate now" src="{{activate_now}}" align="center" class="float-center" style="display:inline; width:131px;height:35px;" width="131" height="35"/></center></a>
                                              
                                           <table>
                                <tr>
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="10" style="mso-line-height-alt:10; background-color:#EBEBEB;font-size:1px;line-height:10px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>        
                                             
                                              
                                            </td>
                                           </tr>
                                        </table>
                   
<!--             <div class="hide-desktop" style="height:10px;"> </div> -->
                                        
                                      </th>
                                      <th  class="small-12 large-6 columns last">
                                         <table style="border:1px solid #ccc;height:140px;width:95%">
                                           <tr>
                                            <td bgcolor="#EBEBEB">
                                              <table>
                                <tr>
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="10" style="mso-line-height-alt:10; background-color:#EBEBEB;font-size:1px;line-height:10px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>
                                              <h1 class="secondary-color text-center no-margin-bottom"><b>Don’t have a card?</b></h1>
                                              <p class="text-center no-margin-bottom">Or forgotten your PIN? <br>Simply order a new one.</p>
                                              
                                              <table>
                                <tr>
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="11" style="mso-line-height-alt:11; background-color:#EBEBEB;font-size:1px;line-height:11px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>                                         
                                                      
                                              <a bgcolor="#EBEBEB" href="https://cmc.flexigroup.com.au/${CardPingetURI}" target="_blank"><center data-parsed=""><img alt="Order card" src="{{order_card}}" align="center" class="float-center" style="display:inline; width:131px;height:35px;" width="131" height="35"/></center></a>
                                              
                                             
                                              
                                               <table>
                                <tr>
                                  <th bgcolor="#EBEBEB" class="outlookHeightFix" height="10" style="mso-line-height-alt:10; background-color:#EBEBEB;font-size:1px;line-height:10px; -webkit-text-size-adjust:none;"></th>                                  
                                </tr>
                    </table>
                                          
                                              
                                            </td>
                                           </tr>
                                        </table>
                                        
                                        
                                      </th>
                                    </tr>                                    
                                  </table>
                                  
                                   <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>
                                  
                                  <p>
                                    If you order a card, the new card and PIN should arrive within the next 5-7 working days.
                                  </p>
                                  
                                  <p class="appleLinksBlack">Question? Call <b>13 6623</b> Monday to Friday between 9am and 8pm or Saturday to Sunday between 9am and 4pm (AEST).</p>
                                  
                                  <p>Kind regards,</p>
                                  
                                  <p class="no-margin-bottom"><b>Adam Frost</b></p>
                                  
                                  <p>Head of Cards</p>
                                  
                                </th>
                              </tr> 
                              <tr>
                                <td class="expander"></td>
                              </tr>
                            </table>                          
                    </th>                    
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

               



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack" style="line-height:19.5px;">

                              <!-- T&C -->
                              *5% cash back is available to existing eligible Once account holders by invitation only. If eligible, your account will be credited on a monthly basis; with 5% of the value of each card transaction (up to a maximum purchase amount of $2000 over a 3 month period) made using the Once card. The cash back will be automatically credited to your Once account and confirmed on your monthly account statement. Cash back does not apply to cash advances, Electronic Funds Transfer (EFT) and BPAY Online payments. To remain eligible for the cash back offer your Once account must be in good order at time of cash back and not in arrears or in default. Offer ends 31 October 2016. Offer must be validated by the end date to apply for a 3 month period. To validate the offer a card transaction of any size needs to be made (excludes cash advances, EFT and BPAY Online payment). Credit provided by Once Credit Pty Limited ABN 99 112 319 632, Australian Credit Licence number 386194 (<b>Once</b>). Once® is a trademark of Once. Once is a subsidiary of FlexiGroup Limited. 1608027ON<br />


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>