--- 
file_name:  Christmas BONUS Promo eDM
category: Email-Projects
tags: [Special-request]
--- 
{% include brand-controller.html %} 
{% include variables.html %}

{% if site.envi == "uat" %} 
{% assign footer_banner = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/FLR_E_BacktoSchool.png" %}
{% assign xmas_bonus_1_link = "https://www.flexirent.com.au/" %}
{% assign xmas_bonus_1_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1711042_FR_EDM_Banner_updated_L.jpg" %}
{% assign xmas_bonus_2_link = "https://www.flexirent.com.au/" %}
{% assign xmas_bonus_2_img = {{site.envi_url_uat}} | append: "/fleximg/GetImage/images/1711042_FR_EDM_Banner_updated_R.jpg" %}
{% else %}
{% assign footer_banner = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/FLR_Reminder_V2.png" %}
{% assign xmas_bonus_1_link = "https://www.flexirent.com.au/" %}
{% assign xmas_bonus_1_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/flr_xmas_banner1.png" %}
{% assign xmas_bonus_2_link = "https://www.flexirent.com.au/" %}
{% assign xmas_bonus_2_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/flr_xmas_banner2.png" %}
{% assign tel_bottom_icon = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/FLR_E_NumberBottom.gif" %}
{% assign apply_bottom_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/FLR_E_Applynow_Bottom.png" %}
{% assign login_img = {{site.envi_url_prod}} | append: "/fleximg/GetImage/images/flr_login.png" %}
{% endif %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                    <th class="small-12 large-5 columns last" valign="bottom">

                      <table>
                        <tr>
                          <th>
                            <table>
                              <tr>
                                <td>
                                  <a target="_blank" href="{{ apply_link }}"><img height="34" width="127" align="right" class="apply" style="display:inline;padding:0;clear:none;" src="{{ apply_img }}" /></a>
                                </td>
                                <td>
                                  <a target="_blank" href="{{my_acct_link}}"><img height="34" width="127" align="right" class="float-right small-float-center top-icon my-acct" style="padding:0;clear:none;" src="{{ my_acct_img }}" /></a>
                                </td>
                              </tr>

                            </table>
                          </th>
                        </tr>
                      </table>


                    </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                             <table bgcolor="#56C8DC" cellspacing="0" cellpadding="0" class="row collapse">
                              <tr>
                                <th class="small-12 large-6 first columns">
                                 <a target="_blank" href="{{xmas_bonus_1_link}}"><img style="width:100%;" class="flexi-no-margin" src="{{xmas_bonus_1_img}}"></a>
                                </th>
                                <th class="small-12 large-6 last columns">
                                   <a target="_blank" href="{{xmas_bonus_2_link}}"><img style="width:100%;" class="flexi-no-margin" src="{{xmas_bonus_2_img}}"></a>
                                </th>
                              </tr>
                            </table>
                          </th>   
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>                    
                  </tr>
                </table>
                
               
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table> 
                
               

                <table class="row">
                  <tr>
                    <th class="small-12 large-5 columns first text-color custom-width custom-padd-left-banner">
                      
                            <table class="acc-dtls">
                              <tr>
                                <th class="quaternary-bg-color">
                                  <p class="flexi-margin no-margin-bottom secondary-color text-size-account-details"><img src="{{acct_details}}"></p>                                    
                                      <p class="flexi-margin-left no-margin-bottom text-size-account-details"><strong>Agreement Number:</strong> ${originalAccountNumber}</p>
                                  <p class="flexi-margin-left text-size-account-details"><strong>Agreement Expiry:</strong> ${displayEndDate}</p>                                
                                     

                                </th>
                                  <th class="expander"></th>
                              </tr>
                            </table>
                          
                    </th>
                    <th class="small-12 large-7 columns last" valign="middle">
                          <table>
                              <tr>
                                  <th class="custom-padd-right">
                                        <p class="mobile-top-margin text-center"><img style="display:inline-block;" width="340" height="54.3" src="{{footer_banner}}"></p>                                   
                                           
                                    
                                  </th>
                                <th class="expander"></th>
                              </tr>  
                          </table>
                    </th>
                  </tr>
                </table>
                <!-- /HEADER -->


                 <table class="mobile-hide">
                                <tr>
                                  <th class="outlookHeightFix" height="20" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table>    

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size custom-padd-left custom-padd-right">

                      <table>
                        <tr>
                          <th class="justify custom-padd-left custom-padd-right">  
                            
                            <p>Dear ${letterDisplayName},</p>

                            <p>With the back to school season approaching, now is a great time to get all the computer equipment you need. And because you are an existing FlexiRent customer, we're making it easy for you to get pre-approved and start shopping in store.
                            </p>

                            <p>You'll receive a BONUS GIFT* when you FlexiRent eligible computer goods at Harvey Norman, Domayne or Joyce Mayne.</p>
                            
                            <p>To apply, take this offer to your nearest store, apply online or call us.</p>
                            
                            <table>
                              <tr>
                                <td class="eot_bottomNumber_mobile_view">
                                  <a target="_blank" href="{{apply_link}}"><img class="eot_bottomNumber_mobile_view__img" style="display:inline !important;" src="{{apply_bottom_img}}" width="130" height="35"></a>
                                </td>
                                <td><a href="tel:{{tel | remove: ' '}}"><img class="eot_bottomNumber_mobile_view__img" style="display:inline !important;" src="{{tel_bottom_icon}}" width="130" height="35"></a>
                                </td>
                              </tr>
                            </table>                          
                            

                            <table>
                                <tr>
                                  <th class="outlookHeightFix" height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 
                            
                            <p>We look forward to hearing from you.</p>

                            <p class="no-margin-bottom">Regards,</p>

                            <p class="no-margin-bottom"><strong>{{brand_name}} Customer Team</strong></p>
                            
                            <table>
                                <tr>
                                  <th height="10" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 
                            
                            <p><a target="_blank" href="{{login_link}}"><img style="display:inline !important;width:130px;height:35px;" width="120" style="display:inline !important;" src="{{login_img}}"></a></p>


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="{{line}}" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              *Credit approved applicants only; fees, terms and conditions apply. Bonus offer is available from 1 November 2017 to 31 January 2018 unless withdrawn sooner on eligible FlexiRent rental agreements settled no later than 15 February 2018. Settled deals valued between $2000 - $3999 receive either a littleBits Star Wars™ Droid Inventor Kit or Google Home. Settled deals valued over $4000 receive either a JBL Xtreme Portable Speaker or a Lenovo Star Wars AR Kit. Offer available within participating Harvey Norman, Domayne and Joyce Mayne Computer franchises on the FlexiRent Advantage product at standard rates only. If bonus item is not available at time of redemption, the store will be responsible for providing the bonus item when available. One bonus item per customer. See salesperson in-store for details. Not available with any other offer. Images are for illustrative purposes only. Flexirent Capital Pty Ltd ABN 93 064 046 046 is the Financier and holds Australian Credit License number 394735 (<b>Flexirent</b>). FlexiRent® is a trademark of Flexirent. Flexirent is a subsidiary of FlexiGroup Limited.© 2017 Lenovo. © &™ Lucasfilm Ltd. Batteries included. STAR WARS Characters and objects only appear within the headset. Some content and experiences may require a future download. All descriptions refer to augmented reality experiences, only visible inside the Lenovo Mirage AR headset when in proper use. A compatible phone and the STAR WARS: Jedi Challenges companion app are required. Additional data rate may apply when downloading the application.
                              <br />






                            </div>
                            <br>
                            <br>
                            <br>


<div class="text-size-footer-flr text-color appleLinksBlack" style="text-align:center;"><span style="color:rgb(85, 85, 85);font-size:11px;"><a href="mailto:customer.service@flexigroup.com.au?subject=${originalAccountNumber} Unsubscribe&amp;body=After sending this email, your account ${originalAccountNumber} will be unsubscribed from future email marketing campaigns. If you change your mind, you can always call the Customer Service Team on 1800 240 102 to change your preferences." style="text-decoration:none;">Unsubscribe</a> </span></div>



                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>