--- 
file_name: 01-SecondClaimsLetter_v2
category: Email-Projects
tags: [Paulo-Request]
--- 
{% include brand-controller.html %}
{% include variables.html %}

{% assign logo = "https://flxuat.credagility.com/fleximg/GetImage/images/FLEXIGROUP_RGB_crop.png" %}
{% assign logo2 = "https://flxuat.credagility.com/fleximg/GetImage/images/multilogofooter_crop.png" %}
{% assign sig = "https://flxuat.credagility.com/fleximg/GetImage/images/ML_Signature.png" %}


{% case {{site.flexi-brand}} %}
  {% when 'FlexiCommercial' %}
   {% assign color = "#3E6683" %} 
  {% when 'FlexiRent' %}
   {% assign color = "#00A0DF" %}
  {% when 'FlexiWay' %}
   {% assign color = "#6f2c91" %}
  {% when 'EziLease' %}
   {% assign color = "#336699" %}
  {% when 'Lombard' %}
   {% assign color = "#F0575B" %}
 {% endcase %}





<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{% case {{site.flexi-brand}} %}
                                            {% when 'FlexiCommercial' %}
                                            {{page.file_name | replace: "FLR", "FLC"}}
                                            {% when 'FlexiRent' %}
                                            {{page.file_name | replace: "FLR", "FLR"}}
                                            {% when 'FlexiWay' %}
                                            {{page.file_name | replace: "FLR", "FLW"}}
                                             {% when 'EziLease' %}
                                            {{page.file_name | replace: "FLR", "EZL"}}
                                        {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
                                    
              <table class="container" style="width:632px;">
                <tr>
                  <td>

                  <!-- HEADER -->
                    <table class="row">
                      <tr>
                        <th class="small-12 large-5 columns first">

                          

                        </th>
                        <th class="small-12 large-7 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-left outlookLineHeightFix text-color text-size">
																<p>
																	<strong>Flexirent Capital Pty Ltd</strong><br>
																	 ABN 93 064 046 046<br> Australian Credit Licence number 394735 (<strong>Flexirent</strong>)
																</p>
																<!--  <img class="float-right small-float-center" src="{{ logo }}" width="400" />
                                <img class="float-right small-float-center" src="{{ logo2 }}" width="400" /> -->
                                
                                <table>
                                  <tr>
                                    <th class="text-left outlookLineHeightFix text-color text-size">
                                      <p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;">Locked Bag 5005 Royal Exchange</p>
                                      <p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;">Sydney, NSW 1225 Australia</p>
                                      <p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;"><strong>P</strong>: 1800 240 102</p>
                                      <p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;"><strong>F</strong>: 02 8905 1822</p>
                                      <p>{{LetterSentDate}}</p>
                                    </th>
                                  </tr>
                                </table>
                                
                              </th>
                            </tr>
                          </table>

                        </th>
                      </tr>
                    </table>         
                    <!-- /HEADER -->


                    <table>
                      <tr>
                        <td height="40px"></td>
                      </tr>
                    </table>                 


                    <!--CONTENT-->
                      <table class="row">
                        <tr>
                          <th class="large-12 columns first last text-color text-size">

                            <table>
                              <tr>
                                <th class="justify outlookLineHeightFix">
                                  
                                  <p>Dear {{FirstName}},</p>

                                  <table>
                                   <tr>
                                      <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;line-height:0;"></th>
                                   </tr>
                                </table>
                                  
                                  <h1 class="flexi-margin-bottom"><strong>Re: Your Rental Agreement Number <b>${originalAccountNumber}</b> (Application ID: <b>${asmtAppID}</b>)</strong>
                                  </h1>
                                  
                                  <table>
                                   <tr>
                                      <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;line-height:0;"></th>
                                   </tr>
                                </table>

                                  <p>We refer to the letter sent to you on the <strong>${hshipEntryDate}</strong> in relations to you request for Financial hardship
assistance under your Rental Agreement.</p>     
																	<p>
																		We regret to inform you that we are currently unable to progress the assessment of your application without
receiving further supporting documentation from you.
																	</p>

                                  <p>In order for us to assess your current situation, there are <strong>three</strong> actions we need you to do. These are:</p>
                                  
                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom"><b>1.</b></p></td>
                                      <td><p class="no-margin-bottom">Review the Assessment Notice for any discrepancies in your original application (copy <strong>attached</strong>);</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>2.</b></p></td>
                                      <td><p class="no-margin-bottom">Complete the Statement of Financial Position (copy <b>attached</b>); and</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>3.</b></p></td>
                                      <td><p class="no-margin-bottom">Attach any supporting documents and any additional information you believe may be relevant in assisting us to correctly assess your position.</p></td>
                                    </tr>                                    
                                  </table>
                                  
                                  

                                  <p>So we can assess how best to assist you, please review the information contained within the Assessment Notice and let us know if there were any errors/discrepancies at the time of your application.</p>
                                  
                                  <p><b>Please note that it is important that you review the Assessment Notice and notify us of any inconsistencies, as it may have significant impact on the outcome of your application.</b></p>
                                  
                                  <p>You have twenty-one (<b>21</b>) days from the date of this letter to provide the above information. If we require further supporting documentation to assess your situation, we will provide you with more time to do so.</p>
                                  
                                  <p>If you would like to discuss any of the above, please feel free to contact us direct on any of the below options:</p>
                                  
                                  <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">Phone: 1800 240 102</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">Fax: 02 8905 1822</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">Email: <a class="link-color" href="CustomerRelations.Hardship@flexigroup.com.au">CustomerRelations.Hardship@flexigroup.com.au</a></p></td>
                                    </tr>                                    
                                  </table>
                                  
                                  
                                  
                                  <table>
                                   <tr>
                                      <th class="outlookHeightFix" height="80" style="mso-line-height-alt:0;line-height:0;"></th>
                                   </tr>
                                </table>
                                                                   
                                  

                                  <p>Your sincerely,</p>
                                  
                                 <img width="256" style="width:256px;" src="{{ sig }}"  />

                                  <p>Customer Relations - Financial Hardship</p>
                                  
                               {% include line-height.html %}
                               {% include line-height.html %}
<!-- Page 2-->
                                  
                                  
                                  <h1 class="text-center" style="margin-bottom:10px;Margin-bottom:10px;"><b>Assessment Notice</b></h1>
                                  
                                  <p>The following information provides a summary of information provided to us (including your answers to questions we asked you) at the time of your application for a consumer lease. Please contact us if you believe there are any errors/discrepancies within your original application.</p>
                                  
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="35%" class="padding"><b>Date of Application</b></td><td class="padding">DD/MMM/YYYY</td>
                                    </tr>
                                  </table>
                                  
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td class="padding" colspan="2"><b>CUSTOMER DETAILS</b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="35%" class="padding"><b>Name</b></td><td class="padding">${asmtCustomerName}</td>
                                    </tr>
                                    <tr>
                                      <td width="35%" class="padding"><b>Date of Birth</b></td><td class="padding">${displayAsmtDateOfBirth}
</td>
                                    </tr>
                                  </table>
                                  
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td class="padding" colspan="2"><b>REQUIREMENTS AND OBJECTIVES</b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="45%" class="padding"><b>Question</b></td><td class="padding"><b>Your Answer</b></td>
                                    </tr>
                                    <tr>
                                      <td class="padding">You understand that you are applying for a fixed term consumer lease agreement?</td><td class="padding">I understand.</td>
                                    </tr>
                                    <tr>
                                      <td class="padding">
                                        <p class="no-margin-bottom">You understand that you do not retain ownership of the goods at the end of the agreement, however you may:</p>
                                        
                                  <table>
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">ask us to accept your offer to purchase the goods;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">continue to rent on an ongoing monthly basis;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">return the goods and terminate the agreement; or</p></td>
                                    </tr>   
                                    <tr>
                                      <td><p class="no-margin-bottom"><b>&bullet;</b></p></td>
                                      <td><p class="no-margin-bottom">apply to upgrade to new goods(subject to our credit criteria).</p></td>
                                    </tr> 
                                  </table>
                                      
                                        
                                      </td><td class="padding">I understand.</td>
                                    </tr>
                                     <tr>
                                      <td class="padding">What is the primary intended purpose of your use of the goods under this Rental Agreement (Business/Personal)?</td><td class="padding">Predominantly for personal use.</td>
                                    </tr>
                                  </table>
                                  
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td class="padding" colspan="2"><b>PRIVACY</b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="45%" class="padding"><b>Question</b></td><td class="padding"><b>Your Answer</b></td>
                                    </tr>
                                    <tr>
                                      <td class="padding">You consent to Flexirent exchanging information about you with credit reporting bodies, banks, other financial institutions, persons mentioned in this rental application, our corporations in Australia and overseas and to assess your application?</td>
                                      <td class="padding">I consent</td>
                                    </tr>
                                    <tr>
                                      <td class="padding">You consent to Flexirent confirming your income details with any employers mentioned in this application?</td>
                                      <td class="padding">I consent</td>
                                    </tr>
                                  </table>
                                  
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  <table border="1">
                                    <tr>
                                      <td class="padding" colspan="2"><b>PRODUCT DETAILS</b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="35%" class="padding">Product Type</td>
                                      <td class="padding">Consumer Lease</td>
                                    </tr>
                                    <tr>
                                      <td class="padding">Credit Limit</td>
                                      <td class="padding">$3963.74</td>
                                    </tr>
                                    <tr>
                                      <td class="padding">Total Monthly Rental</td>
                                      <td class="padding">$192.24 per month</td>
                                    </tr>
                                    <tr>
                                      <td class="padding">Term</td>
                                      <td class="padding">36 months</td>
                                    </tr>
                                  </table>
                                  
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  <table border="1">
                                    <tr>
                                      <td class="padding" colspan="2"><b>CUSTOMER FINANCIAL INFORMATION</b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="5"><b><i>Residential details</i></b></td>
                                      <td width="40%" class="padding" >Residential Status</td>
                                      <td width="40%" class="padding" >Boarding</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Monthly amount</td>
                                      <td class="padding" >651.79</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Name on Lease</td>
                                      <td class="padding" >Yes</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Length at address</td>
                                      <td class="padding" >7 years</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Previous address</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="14"><b><i>Employment and income</i></b></td>
                                      <td width="40%" class="padding" >Type</td>
                                      <td width="40%" class="padding" >Employed – Full Time</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Employer Name</td>
                                      <td class="padding" >Mine Site Construction Services</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Job Title</td>
                                      <td class="padding" >Truck Driver</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Job Classification</td>
                                      <td class="padding" >trade</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Yearly Amount</td>
                                      <td class="padding" >88169.84</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Length of Employment</td>
                                      <td class="padding" >1 years and 6 months</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Previous - Income Source</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Previous - Length of Time</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >ABN</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Trading Time</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Turnover</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Net Profit</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Director's Salary</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Time as Director</td>
                                      <td class="padding" >N/A</td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="8"><b><i>Other income</i></b></td>
                                      <td width="40%" class="padding" >Spouse Income</td>
                                      <td width="40%" class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Family Tax Benefit Income</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Government Benefits</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Superannuation</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Child Support</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Investment - Rental Property/Dividends</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Interest Income</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Other Income</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                  </table>
																	{% include line-height.html %}
                                  {% include line-height.html %}
																	
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="14"><b><i>Expenses and liabilities</i></b></td>
                                      <td width="40%" class="padding" ><p class="text-center"><b>Expense/Liability</b></p></td>
                                      <td width="40%" class="padding" ><p class="text-center"><b>Monthly Amount</b></p></td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Rent</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Business loan</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Personal loan</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Car lease</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Car loan</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Line of credit</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Other Debt</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Other mortgage</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Store card</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Household & Living Expenses</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Number of Credit Cards</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Combined Limit</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" ><b>Total</b></td>
                                      <td class="padding" ><b></b></td>
                                    </tr>
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="3"><b><i>Other relevant information</i></b></td>
                                      <td width="40%" class="padding" ><p>Credit checks</p></td>
                                      <td width="40%" class="padding" ><p>N/A</p></td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Number of dependents</td>
                                      <td class="padding" >0.00</td>
                                    </tr>
                                    <tr>
                                      <td class="padding" >Any other relevant information</td>
                                      <td class="padding" >0.00</td>
                                    </tr>                                    
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" rowspan="2"><b><i>Additional documentation used for assessment</i></b></td>
                                      <td class="padding" ><p>N/A</p></td>                                      
                                    </tr>                                                                       
                                  </table>
																	{% include line-height.html %}
                                  {% include line-height.html %}
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td class="padding" ><b>SUITABILITY ASSESSMENT</b></td>                                                                         
                                    </tr>                                                                       
                                  </table>
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tr>
                                      <td width="20%" class="padding" style="border-bottom:3px solid #111;" ><b><i>Our Assessment</i></b></td>
                                      <td class="padding" style="border-bottom:3px solid #111;" ><p>Not Unsuitable</p></td>                                      
                                    </tr>
                                    
																		<tr>
                                      <td class="padding" rowspan="2"><b><i>Customer's requirements and objectives</i></b></td>
                                      <td class="padding" ><p>We understood that your Requirements and Objectives were to enter into a fixed term consumer lease agreement to rent the goods predominantly for personal use.</p>
                                      <p>Based on the information you supplied to us at the time, our assessment was that:</p>
                                        
                                        <table>
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom">(a)</p></td>
                                      <td><p class="no-margin-bottom">You were able to comply with financial obligations under the consumer leaseagreement without hardship; and</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom">(b)</p></td>
                                      <td><p class="no-margin-bottom">The consumer lease agreement met your Requirements and Objectives.</p></td>
                                    </tr>                                    
                                  </table>                                        
                                        
                                      </td>                                      
                                    </tr> 
                                  </table>

                                  {% include line-height.html %}
                                  {% include line-height.html %}
<!-- page 3 -->
                                   <h1 class="text-center" style="margin-bottom:10px;Margin-bottom:10px;"><b>Statement of Financial Position</b></h1>
                                        <!-- TABLE 1 -->
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tbody>
                                      <tr>
                                        <td class="padding" colspan="2" >
                                        Contract Number(s):</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right" width="50%" >
                                        Surname:</td>
                                        <td class="padding noborder-left" width="50%" >
                                        Given Name(s):</td>
                                      </tr>
                                      <tr>
                                        <td class="padding" colspan="2" >
                                        Date of Birth:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding" colspan="2" >
                                        Residential Address:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding" colspan="2" >
                                          <table width="100%">
                                            <tr>
                                              <td width="34%">Telephone: Home:</td>
                                              <td width="33%">Work:</td>
                                              <td width="33%">Mobile:</td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right" width="50%" >
                                        Occupation:</td>
                                        <td class="padding noborder-left" width="50%">
                                        Employer:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding" colspan="2" >Spouse&#39;s Full Name:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right" width="50%">Spouse&#39;s Occupation: </td>
                                        <td class="padding noborder-left" width="50%" >Employer:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right" width="50%">Date of Birth:</td>
                                        <td class="padding noborder-left" width="50%">Number of dependents:</td>
                                      </tr>
                                      <tr>
                                        <td class="padding" colspan="2" >Maiden Name:</td>
                                      </tr>
                                     
                                    </tbody>
                                  </table>

<!--[E] TABLES -->
<!-- tables 2 -->
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                                  
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tbody>
                                      <tr>
                                        <td class="padding noborder-bottom" colspan="3"><b>Monthly Income</b></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Your Net Take Home Pay:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Your Other Regular Income:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Spouse&#39;s Net Take Home Pay:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Centrelink Family Payment:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Child Maintenance:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%"></td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left noborder-top noborder-bottom" width="30%"></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%">Other Income Not Specified Above:</td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left noborder-top noborder-bottom" width="30%"></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top" width="50%"></td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top" width="50%"></td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top" width="50%"></td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%"></td>
                                        <td class="padding noborder-right noborder-left noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding noborder-left noborder-top noborder-bottom" width="30%"></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top noborder-bottom" width="50%"><strong>Total Monthly Income</strong></td>
                                        <td class="padding noborder-left noborder-right noborder-top noborder-bottom" width="20%"></td>
                                        <td class="padding borderstrong" width="30%"><strong>$</strong></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-right noborder-top " colspan="3"></td>
                                      </tr>
                            
                                    </tbody>
                                 </table>
   
                  <!-- [E] tables 2 -->
                    <!-- table 3 -->
                                   {% include line-height.html %}
                                  {% include line-height.html %}
                                  
                         

                              <table border="1" style="border-top:3px solid #111;">
                                    <tbody>
                                      <tr>
                                        <td class="padding noborder-bottom noborder-right" width="50%" ><b>Assets</b></td>
                                        <td class="padding noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-bottom" width="30%"><strong>Value</strong></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Home:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Other Real Estate:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%"></td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Home Contents:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%"></td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Motor Vehicle:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Registraion Number:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Cash at Bank:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top" width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >Other (Please Specify)</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left" width="30%">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width="50%" >&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width="50%" >&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width="30%">$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width="50%" >&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width="30%">$</td>
                                      </tr>

                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" >&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left " width="30%">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width="50%" ><strong>Total Assets</strong></td>
                                        <td class="padding borderstrong" width="20%"><strong>$</strong></td>
                                        <td class="padding borderstrong" width="30%"><strong>$</strong></td>
                                      </tr>
                                      <tr>
                                       <td class="padding noborder-top" colspan="3">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>      
<!-- [E] table 3 -->
                                  <!--expenses page6 -->
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tbody>
                                      <tr>
                                        <td class="padding noborder-bottom noborder-right" width="50%" ><b>Expenses</b></td>
                                        <td class="padding noborder-bottom noborder-left noborder-right" width="20%">&nbsp;</td>
                                        <td class="padding noborder-left noborder-bottom" width="30%"><strong>Monthly Payments</strong></td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Mortagage:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Rent:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left" width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Landlord/Agent Tel No.</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Electricity:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Gas:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Telephone:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Rates:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left noborder-right" width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>School Fees:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Travel Expenses:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left" width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Entertainment:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Food:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Insurance (divide yearly amount by 12):</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Home Contents</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;House</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Car</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Other</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left" width=30%>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Car Registration(divide yearly amountby 12):</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Maintenance:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Childcare:</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left" width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left " width=30%>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>Other Expenses (Please Specify)</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left " width=30%>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width=50%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width=50%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-right" width=50%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left noborder-right" width=30%>$</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding noborder-top noborder-left " width=30%>&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td class="padding noborder-top noborder-bottom noborder-right" width=50%><strong>Total Expenses</strong></td>
                                        <td class="padding noborder-top noborder-bottom noborder-left noborder-right" width=20%>&nbsp;</td>
                                        <td class="padding borderstrong" width=30%><strong>$</strong></td>
                                      </tr>
                                      <tr>
                                       <td class="padding  noborder-top " colspan="3">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>          
<!-- [E] expenses -->
                                  <!--Liabilities -->
                                  {% include line-height.html %}
                                  {% include line-height.html %}                                
                                    <table border="1" style="border-top:3px solid #111;">
                                      <tbody>
                                      <tr>
                                        <td class="padding noborder-bottom noborder-right" width="40%" ><b>Liabilities</b></td>
                                        <td class="padding noborder-bottom noborder-left noborder-right" width="30%">&nbsp;</td>
                                        <td class="padding noborder-left noborder-bottom" width="30%"><strong>Balance</strong></td>
                                      </tr>
                                      <tr>
                                       <td class="padding noborder-right noborder-top noborder-bottom" colspan="3">&nbsp;</td>
                                      </tr>                                       
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%" >Car:</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">Flexirent Contract(s)</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left" width="30%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">Credit Cards (please specify)</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left " width="30%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top  noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>                                                                             
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top  noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left " width="30%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">Other Liabilities Not Specified</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left " width="30%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%">$</td>
                                          <td class="padding noborder-top noborder-left " width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left" width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-top noborder-left noborder-right" width="30%" >$</td>
                                          <td class="padding noborder-top noborder-left" width="30%">$</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left " width="30%">&nbsp;</td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%"><strong>Total Expenses & Liabilities</strong></td>
                                          <td class="padding borderstrong" width="30%" ><strong>$</strong></td>
                                          <td class="padding  custom-borderstrong" width="30%"><strong>$</strong></td>
                                        </tr>
                                        <tr>
                                          <td class="padding noborder-bottom noborder-top noborder-right" width="40%">&nbsp;</td>
                                          <td class="padding noborder-bottom noborder-top noborder-left noborder-right" width="30%" >&nbsp;</td>
                                          <td class="padding noborder-top noborder-left " width="30%">&nbsp;</td>
                                        </tr>                                       
                                      </tbody>
                                    </table>
                                  
                                  
                                  <!--[E] Liabilities -->
                                  <!--Page7 proposed payment plan -->
                                    
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                  <table border="1" style="border-top:3px solid #111;">
                                    <tbody>
                                      <tr>
                                       <td class="padding noborder-top " colspan="3"><strong>Proposed Payment Plan</strong></td>
                                      </tr>
                                      <tr>
                                       <td class="padding noborder-top" colspan="3">
                                        <p>
                                          In your own words, please briefly outline a payment plan you are able to maintain under this
                                        hardship arrangement. This will assist us in tailoring a best possible solution for you.
                                         </p>
                                         <p>
                                          Where possible, please provide specific date ranges (e.g. if you are seeking a period of relief,
                                        provide the dates during which you are unable to meet your payment obligations).   
                                         </p>
                                        
                                        <p>
                                          If you require more space, please attach any additional pages to the end of this document.
                                         </p>                                        
                                      </td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="400px">&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>  
                                    {% include line-height.html %}
                                  {% include line-height.html %}
                                  <table>
                                      <tbody>
                                        <tr>
                                        <td colspan="4" height="200px;">&nbsp;</td>
                                      </tr>                                                                 
                                      </tbody>
                                    </table>
                                  {% include line-height.html %}
                                  {% include line-height.html %}  
                                  <table>
                                      <tbody>
                                        <tr>
                                        <td colspan="4" ><strong>By signing below, you acknowledge that:</strong></td>
                                      </tr>
                                        <tr>
                                        <td colspan="4" >&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td colspan="4" >> The information submitted within this form is true and accurate (to the best of my knowledge);</td>
                                      </tr>
                                      <tr>
                                        <td colspan="4" >> Flexirent will assess my hardship application based on the information (and any supporting
documentation);</td>
                                      </tr>
                                      <tr>
                                        <td colspan="4" >> Flexirent may request further supporting documentation to verify the accuracy of the above
information; and</td>
                                      </tr>
                                      <tr>
                                        <td colspan="4" >> Flexirent's Financial Hardship team may further contact you to discuss your application.</td>
                                      </tr>
                                      <tr>
                                        <td colspan="4" >&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td  width="10%">&nbsp;</td>
                                        <td class="padding " width="25%"><strong>Customer Name</strong></td>
                                        <td class="padding" width="25%">____________________</td>
                                        <td class="padding " width="40%">&nbsp;</td>
                                      </tr> 
                                      <tr>
                                        <td  width="10%">&nbsp;</td>
                                        <td class="padding " width="25%"><strong>Customer Signature</strong></td>
                                        <td class="padding" width="25%">____________________</td>
                                        <td class="padding " width="40%">Date&nbsp; _____ / _____ / ________</td>
                                      </tr> 
                                                                          
                                      </tbody>
                                    </table>
                                    {% include line-height.html %}
                                  {% include line-height.html %}                                
                                
                                  
                                  <!--[E] proposed payment plan -->
                                  
                                  
                                </th>
                                <th class="expander"></th>
                              </tr>
                            </table>


                            
                   <table>
                      <tr>
                        <td height="90px"></td>
                      </tr>
                    </table>        


                          </th>                          
                        </tr>
                      </table>
                    <!--/CONTENT-->



                     <!-- Footer line -->
                        

                        <table class="row">
                              <tr>
                                <th class="columns large-12 first last">
                                  <table>
                                    <tr>
                                      <td><div class="text-size-footer text-color">
                                    
                                      <!-- T&C -->
                                      <p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;">
																			 
																				Flexirent Capital Pty Ltd ABN 93 064 046 046 is the financier and holds the Australian Credit Licence number 394735 (<strong>Flexirent</strong>).</p>
																				<p class="no-margin-bottom" style="letter-spacing: -0.5px;font-size:10px;">
																				FlexiRent®, FlexiWay®, SmartWay® and Lisa. are trademarks of Flexirent, a subsidiary of FlexiGroup Limited.
																				</p>

                                      </div>
                                    
                                     
                                     
                                      </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>

                  </td>
                </tr>
              </table>     
          
        </center>
      </td>
    </tr>
  </table>
</body>
</html>





