--- 
file_name: LBD_E_UPCAMPAIGN
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                                

                <!-- HEADER -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-7 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-left small-float-center flexi-logo" src="{{ logo }}" /></a>

                          </th>
                        </tr>
                      </table>

                    </th>
                     <th class="small-12 large-6 columns last" valign="bottom">

                          <table>
                            <tr>
                              <th class="text-right">
                                 <a title="tel:{{ tel | remove: ' ' }}" href="tel:{{ tel | remove: ' ' }}"><img class="float-right small-float-center" src="{{ tel_top_icon }}" /></a>
                              </th>
                            </tr>
                          </table>

                        </th>
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="4" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
               <table class="row">
                      <tr>
                        <th class="small-12 large-12 columns first last">
                          <table>
                            <tr>
                              <th>
                                <center data-parsed="">                            
                                    <img width="650px" style="width:100%;" class="float-center" align="center" src="https://flxuat.credagility.com/fleximg/GetImage/images/1505029LB_Welcome_eDM%20Header%20625x168_150116.png" />
                                 </center>
                              </th>
                              <th class="expander"></th>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </table>
                
               
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="35" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                </table> 
                
               
                
                <!-- /HEADER -->
  

                <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="large-12 columns first last text-color text-size">

                      <table>
                        <tr>
                          <th class="justify">  
                            
                            <p>Hi ${firstName},</p>
                            
                            <p><strong>Welcome to your Lombard 180 card.</strong></p>
                            
                            <p>Keep a look out for your new card and PIN, they're on the way!</p>
                            
                            <p>You may continue to use your existing card, until you receive and activate your Lombard 180 card.</p>
                            
                            <p><strong>Features & benefits</strong></p>
                            
                             <p>Your Lombard 180 card gives you:</p>
                            
                            <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p class="no-margin-bottom"><strong>•</strong></p></td>
                                      <td><p class="no-margin-bottom">6 months Interest Free on purchases of $250 or more*</p></td>
                                    </tr>
                              <tr>
                                      <td><p><strong>•</strong></p></td>
                                      <td><p>Up to 55 days Interest Free on purchases less than $250*</p></td>
                                    </tr>
                                    <tr>
                                      <td><p class="no-margin-bottom"><strong>•</strong></p></td>
                                      <td><p class="no-margin-bottom">Up to 48 months Interest Free at <a href="http://flexirent.emaildistribute.com/ch/895/2dzmkrp/1985529/7193dptht.html" target="_blank"><u>participating Lombard retailers</u> </a>^. Simply present the Lombard 180 card when you shop in store to take advantage of longer Interest Free offers</p></td>
                                    </tr>
                                    <tr>
                                      <td><p><strong>•</strong></p></td>
                                      <td><p>A lower rate of 22.99% p.a. (reduced from 25.9% p.a.)</p></td>
                                    </tr>
                                  </table>
                            
                            <p><strong>What do I do when I receive my Lombard 180 card?</strong></p>                            
                            
                            <p>Call us to activate your new Lombard 180 card. Alternatively, you can activate your card online. Once you activate your new card, your old card will become inactive and you can destroy it.  </p>
                            
                            <p>For more information please refer to your new <a href="https://flxuat.credagility.com/fleximg/GetImage/files/Lombard%20180%20Card%20-%20Credit%20Contract%20Document%20Set%20-%20112016.pdf" target="_blank"><u>Document Attached</u></a> which includes the Lombard 180 card Key Facts Sheet, the Product Fee Schedule and the Conditions of Use & Credit Guide. We advise you retain these documents for your future reference.</p>
                            
                            <p>Please note, there is no change to the Credit Limit on your Lombard account.</p>
                            
                            
                            
                            <p class="appleLinksBlack">If you don't receive your card and PIN in the next 5-7 business days or if you have any questions call us on <b><span class='primary-color appleLinksPrimary-color'>1300 132 301</span></b>, Monday to Friday between 9am - 8pm; or Saturday to Sunday between 9am to 4pm (AEST).</p>
                            
                            <p>Warm regards,</p>
                            
                            <p class="no-margin-bottom"><strong>Adam Frost</strong></p>
                            
                            <p>Head of Cards</p>
                            
                          


                          </th>
                          <th class="expander"></th>
                          </tr>
                      </table>
                      
                      



                       <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                
                                </tr>
                    </table>    





                    </th>
                    </tr>
                </table>
                <!--/CONTENT-->



                <!-- Footer line -->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last">
                      <table>
                        <tr>
                          <th>
                            <center data-parsed="">
                              <img style="width:100%;" class="float-center" align="center" src="https://cmc.flexigroup.com.au/fleximg/GetImage/images/1505029LB_Dealer_Bulletin.jpg" />
                            </center>
                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                <!-- /footer line-->

                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                              	* 6 months Interest Free is available on single card purchases of $250 or more. The Interest Free term commences from the date of purchase. Up to 55 days Interest Free is available on all card purchases under $250 (excluding cash withdrawals), when you pay, by the payment due date, the amount identified on your statement as the ‘optional repayment to qualify for up to 55 days Interest Free on purchases’. Interest, currently 22.99% p.a., is payable on any balance outstanding after the Interest Free term. ^Available at participating Lombard retailers. Minimum purchase and conditions may apply. The promotional terms available may vary per Lombard retailer. <br />
<br>


Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877, Australian Credit Licence number 247415 (Lombard).
Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited


                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>

              </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>