--- 
file_name: LBD_E_FHAPPONLINE
category: Email-Projects
tags: [All Lombard eDMs to be Mobile Responsive]
--- 
{% include brand-controller.html %} 
{% include variables.html %}




<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++  START HTML CODE ++++++++++++++++++++++++++++  -->
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <!--[if gte mso 9]><xml>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
 </o:OfficeDocumentSettings>
</xml>
<![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- APPLE FIX -->
  <!-- <meta content="telephone=no" name="format-detection"> -->

  <title>{% case {{site.flexi-brand}} %} {% when 'FlexiCommercial' %} {{page.file_name | replace: "FLR", "FLC"}} {% when 'FlexiRent' %} {{page.file_name | replace: "FLR", "FLR"}} {% when 'FlexiWay' %} {{page.file_name | replace: "FLR", "FLW"}} {% when 'EziLease'
    %} {{page.file_name | replace: "FLR", "EZL"}} {% endcase %}</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>


          <table class="container">
            <tr>
              <td>               
                 <!-- HEADER -->
                <table class="row">
                  <tr>                   
                    <th class="small-12 large-12 columns first last" valign="bottom">

                      <table>
                        <tr>
                          <th>


                            <a target="_blank" href="{{ url }}"><img class="float-right small-float-center flexi-logo" src="{{ logo }}" align="right"/></a>

                          </th>
                          <th class="expander"></th>
                        </tr>
                      </table>

                    </th>
                   
                  </tr>
                </table>
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="15" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 
                <table class="row">
                  <tr>
                    <th class="small-12 large-6 columns first" valign="bottom">

                      <table>
                        <tr>
                          <th class="text-color text-size">

                           <p class="text-right">${letterTodayDate}</p>

                          </th>
                        </tr>
                      </table>

                    </th>
                   
                  </tr>
                </table>
                
                <table>
                                <tr>
                                  <th class="outlookHeightFix" height="30" style="mso-line-height-alt:0;"></th>                                  
                                </tr>
                    </table> 

                
              <!--/HEADER -->
                
                
              <!--CONTENT-->
                <table class="row">
                  <tr>
                    <th class="small-12 large-12 columns first last text-color text-size">
                        <table>
                          <tr>
                            <th>
                              <h1 class="primary-color"><b><span style="font-size:20px;">Application for Financial Hardship</span></b></h1>
                              <table>
                                <tr>
                                  <td class="text-center" bgcolor="#002d55">
                                    <p class="no-margin-bottom"><b><font color="#ffffff">REQUIREMENTS</b></font></p>
                                  </td>
                               </tr>
                                <tr>
                                  <td>
                                      {% include line-height.html %}
                                    
                                       <p>To apply for hardship assistance please complete the application form below. You must also provide us with the following supporting documents:</p>
                                    
                                      <table class="custom-margin-left" style="width:75%;">
                                            <tr>
                                              <td width="20"><p class="no-margin-bottom"><b>•</b></p></td>
                                              <td><p class="no-margin-bottom">Proof of income (e.g. last two pay slips, last tax return, Centerlink statements and/or a bank statement)</p></td>
                                            </tr>
                                            <tr>
                                              <td><p class="no-margin-bottom"><b>•</b></p></td>
                                              <td><p class="no-margin-bottom">Proof of liabilities/expenses (e.g. rent receipts or mortgage statements, credit or store card, personal loan, car loan statements and/or evidence of any other debts owing)</p></td>
                                            </tr>      
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Any default notices that may have been issued</p></td>
                                            </tr> 
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Proof of Acceptance of offer made to other creditors</p></td>
                                            </tr>
                                            <tr>
                                                  <td><p class="no-margin-bottom"><b>•</b></p></td>
                                                  <td><p class="no-margin-bottom">Supporting documents specific to the claim (e.g. Medical certificate, employment separation certificate etc.)</p>
                                              {% include line-height.html %}
                                              </td>
                                            </tr>                                          
                                       </table><!--/list-->
                                   </td>
                                </tr><!--endRow-->
                                <tr>
                                              <td class="text-center" bgcolor="#002d55">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">APPLICANT/S DETAILS</b></font></p>
                                              </td>
                                </tr><!--endRow-->
                                <tr>
                                <td>
                                    {% include line-height.html %}
                                    
                                    <table class="row">
                                        <tr>
                                            <th class="small-12 large-2 first columns border-ltr border-bottom mobile-border" valign="top">
                                                <table>
                                                  <tr>
                                                    <td>
                                                      <p class="no-margin-bottom text-center tbl-default-padd">Applicant 1</p>
                                                    </td>
                                                  </tr>                                                 
                                                </table>
                                            </th>
                                            <th class="small-12 large-10 last columns border-bottom border-left" valign="top">
                                              <table>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Account Number: ${originalAccountNumber} </p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Surname: ${lastName}</p>
                                                  </td>
                                                  <td class="border-top border-right border-bottom">
                                                    <p class="no-margin-bottom tbl-default-padd">Given Name(s): ${firstName}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Date of Birth: ${dateOfBirth}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Residential Status: ${hshipResident}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Number of dependants: ${hshipDependents}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td colspan="2" class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Reason for hardship: ${hshipReason}</p>
                                                  </td>
                                                </tr>
                                              </table>
                                            </th>
                                        </tr>  
                                    </table>
                                  {% include line-height.html %}
                                  {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center" bgcolor="#002d55">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">FINANCIAL POSITION</font></b></p>
                                              </td>
                             </tr><!--endRow-->
                             <tr>
                                <td>
                                    {% include line-height.html %}
                                    
                                    <table class="row">
                                        <tr>
                                            <th class="small-12 large-2 first columns border-ltr border-bottom mobile-border" valign="top">
                                                <table>
                                                  <tr>
                                                    <td>
                                                      <p class="no-margin-bottom text-center tbl-default-padd">Applicant 1</p>
                                                    </td>
                                                  </tr>                                                 
                                                </table>
                                            </th>
                                            <th class="small-12 large-10 last columns border-bottom border-left" valign="top">
                                              <table>
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Will you be able to maintain yout monthly payments going forward? ${hshipMaintain} </p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Employment Status: ${hshipEmployment}</p>
                                                  </td>
                                                <tr>
                                                  <td class="border-top border-right border-bottom">
                                                    <p class="no-margin-bottom tbl-default-padd">Have you applied for financial hardship with any other companies? ${hshipOthHardship}</p>
                                                  </td>
                                                </tr>                                                
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Will this situation improve within 3 months?: ${hshipChange}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">Why do you think your situation will or will not change in the next 3 months? 
${hshipChangeWhy}</p>
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td class="border-top border-right">
                                                    <p class="no-margin-bottom tbl-default-padd">How much can you afford to pay? $${hshipAffordPay}  ${hshipPayFreq}</p>
                                                  </td>
                                                </tr>                                                
                                              </table>
                                            </th>
                                        
                              
                                    </table>
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center" bgcolor="#002d55">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">ASSETS - WHAT YOU OWN</font></b></p>
                                              </td>
                              </tr><!--endRow-->
                              <tr>
                                <td>
                                   
                                    
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Home / Properties</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                    <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Assets</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Present Value</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Home</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${asshome}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Other Real Estate</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${assOthRealEstate}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Home Contents</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${assHomeContent}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Motor Vehicles</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${assRegNum}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Savings</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${assCashBank}



</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns border-bottom first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Other Assets</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${assOther}



</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Income</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                  <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Income Type</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Monthly</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Income</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${mthIncNetPay}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Partners Income  </p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${mthIncPtnrNetPay}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Centrelink</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${mthIncCentrelink}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-bottom border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Total Other Income (i.e. dividends, interests, or rental income)</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${mthIncOtherInc}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center" bgcolor="#002d55">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">LIABILITIES - WHAT YOU OWE</font></b></p>
                                              </td>
                              </tr><!--endRow-->
                              <tr>
                                <td>
                                   
                                    
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Monthly Expenditure</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                    <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Type of Expenditure</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Total Value</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Home Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${liaCarLoan}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Personal Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${liaPerLoan}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                   <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Credit / Stores Cards/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${liaCreditCard}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr border-bottom mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Other Loan/s</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr border-bottom">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${liaOthLiability}


</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                                                     
                                  <table>
                                    <tr>
                                      <td>
                                        {% include line-height.html %}
                                        <p class="no-margin-bottom">Other Liabilities</p>
                                         {% include line-height.html %}
                                      </td>
                                    </tr>
                                  </table>
                                  
                                  <table class="row mobile-hide">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Types of Monthly Expenditure</font></p>
                                              </td>
                                            </tr>                                            
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                     <table>
                                            <tr>
                                              <td bgcolor="#d2d9e6"><p class="no-margin-bottom text-center tbl-default-padd"><font color="#002d56">Monthly</font></p>
                                              </td>                                            
                                     </table>
                                     
                                        </th> 
                                      </tr>  
                                    </table> 
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Rent / Mortgage repayments</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expMortgage}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Insurance</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expHmConInsur}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">School Fees</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr mobile-border">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expSchoolFee}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Electricty</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expElectricity}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Gas</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expGas}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Medical Expenses</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expCarInsur}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Rates (Council / Water)</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expRates}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Car / Travel</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expTravel}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Clothing</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expClothing}

</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Entertainment  </p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expEntertain}</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  <table class="row">
                                       <tr>
                                        <th class="small-12 large-9 columns first border-ltr border-bottom mobile-border">
                                          <table>                                           
                                            <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">Other</p></td>
                                            </tr>
                                          </table>
                                        </th> 
                                         <th class="small-12 large-3 columns border-bottom last border-ltr">
                                           <table>                                         
                                             <tr>
                                              <td><p class="no-margin-bottom tbl-default-padd">$${expOtherExp}
</p></td>
                                            </tr>
                                           </table>
                                         </th>
                                    </table>
                                  
                                  
                                    {% include line-height.html %}
                                    {% include line-height.html %}
                                </td>
                             </tr><!--endRow-->
                             <tr>
                                              <td class="text-center" bgcolor="#002d55">
                                                <p class="no-margin-bottom"><b><font color="#ffffff">DECLARATION AND AUTHORITY</font></b></p>
                                              </td>
                             </tr><!--endRow-->
                             <tr>
                                 <td>
                                   {% include line-height.html %}
                                   
                                  <p>I/we have read and understood the particulars of this application. All particulars declared in this application are true, complete andcorrect and have been provided to Lombard Pty Limited (‘Lombard Finance’) to assess my/our application for Hardship assistance.</p>
                                   
                                   <p>I/we acknowledge that if I/we have made an untrue representation or statement to obtain Hardship assistance, the application will be deemed ineligible for such assistance. Any application found to be in this position during the assistance period will result in the termination of this assistance and the credit contract will be managed in accordance with Lombard Finance’s collections policy.</p>                                   
                                   
                                    <p>I/we acknowledge and consent to the matters in the Privacy Disclosure and Consent Statement. I/we understand and agree that a credit check may be undertaken as part of this application. I/we also acknowledge and agree that Lombard Finance may contact a third party, such as your employer, accountant, solicitor, financial representative or other referee/s to verify the accuracy of the information provided.</p>
                                   
                                   <p>I/ we declare that where I/we have provided personal information about any other person (such as a referee, employer, solicitor, financial representative or other contact), I/ we agree to immediately advise them:</p>
                                   <table class="custom-margin-left" style="width:93.84615384615385%;">
                                    <tr>
                                      <td width="20"><p><b>•</b></p></td>
                                      <td><p>That I/we have provided this information to Lombard Finance;</p></td>
                                    </tr>
                                    <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>The reason I/we have provided this information;</p></td>
                                    </tr>
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>Lombard Finance’s contact details;</p></td>
                                    </tr>
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>That they can gain access to their personal information by contacting Lombard Finance; and</p></td>
                                    </tr>                                     
                                     <tr>
                                      <td><p><b>•</b></p></td>
                                      <td><p>That Lombard Finance collect, use and disclose personal information pursuant to the Privacy Disclosure and Consent Statement.</p></td>
                                    </tr>
                                    
                                  </table>
                                   
                                   {% include line-height.html %}
                      {% include line-height.html %}
                                 </td>
                               </tr><!--endRow-->                           
                              </table><!--/fullTable-->
                              
                              </th>
                            <th class="expander"></th>
                          </tr>  
                        </table> 
                      
                    </th>
                  </tr>
                </table>
                <table class="row">
                  <tr>
                    <th class="columns large-12 first last">
                      <table>
                        <tr>
                          <td>
                            <div class="text-size-footer-flr text-color appleLinksBlack">

                              <!-- T&C -->
                             Credit provided by Lombard Finance Pty Ltd ABN 31 099 651 877, Australian Credit Licence number 247415 (<b>Lombard</b>).
Lombard® is a trademark of Lombard. Lombard is a subsidiary of FlexiGroup Limited.<br />

<br>
                              
                            
                              
                            </div>
                            <br>






                            <table>
                              <tr>
                                <td height="75px"></td>
                              </tr>
                            </table>
                          </td>


                          <td class="expander"></td>
                        </tr>
                      </table>
                    </th>
                  </tr>
                </table>
                
                
                
                </td>
              </tr>
          </table>

        </center>
      </td>
      </tr>
  </table>
</body>

</html>